#app {
  background: #fff;
  padding-top: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #app #paper svg, #app #canvas {
    letter-spacing: 0 !important; }
  #app .form-control {
    margin: 0; }
  #app img {
    float: none;
    max-width: 100%; }
  #app a.btn {
    text-decoration: none; }
  #app ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }
  #app ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  #app .btn-primary:after {
    margin-left: 5px; }
  #app .btn-block {
    text-align: center; }

#paper-wrapper .form-control {
  width: auto;
  margin: 0; }

button h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em; }

#share {
  text-align: center;
  margin: 2em auto; }

.modal-body .form-control {
  width: 100%; }

.blue-wood {
  background: #00bbff url(../content/_global/images/blue-wood.png) center;
  background-size: cover;
  color: #fff; }
  .blue-wood .btn-link {
    color: #fff;
    margin-top: 2em; }
  .blue-wood h2 {
    margin: 0.5em 0; }

.grey-wood {
  margin-top: -1em;
  padding-top: 2em;
  background: #00bbff url(../content/_global/images/light-grey-wood.png) center;
  background-size: cover;
  color: #000; }
  .grey-wood p {
    color: #000; }
  .grey-wood h2 {
    margin: 0.5em 0; }
  .grey-wood .example {
    text-align: center; }
    .grey-wood .example .upload-text {
      margin: 1em 0;
      text-transform: uppercase; }
    .grey-wood .example .examples {
      margin-bottom: 2em; }
      .grey-wood .example .examples p {
        font-size: 0.8em; }
      .grey-wood .example .examples .good h2 {
        font-size: 1.5em;
        text-transform: none;
        font-weight: normal;
        color: #00bbff; }
      .grey-wood .example .examples .not-good h2 {
        font-size: 1.5em;
        text-transform: none;
        font-weight: normal;
        color: #f00; }

.blue {
  background-color: #00bbff; }

#upload-preview {
  margin-top: 2em;
  margin-bottom: 2em; }

#paper {
  position: relative;
  margin: 1em 0;
  padding: 0;
  border: 0; }
  #paper #paper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/editor-bg.jpg) repeat center center;
    opacity: 0.75; }
  #paper svg text tspan {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none; }
  #paper svg text {
    cursor: pointer; }

.modal {
  display: block; }

.btn-toolbar .btn-group {
  margin-right: 3px; }
  .btn-toolbar .btn-group .btn-label {
    line-height: 30px; }
  .btn-toolbar .btn-group .ui-slider {
    min-width: 4em;
    margin: 9px 0.5em; }

h2.center {
  margin: 1em 0;
  text-align: center; }

div[data-id=paper] .chardinjs-tooltip {
  margin-right: 200px; }

.chardinjs-bottom .chardinjs-tooltiptext {
  margin-left: 40px; }

#select-settings-wrapper {
  padding: 1em 0;
  margin-top: 1em;
  margin-bottom: 1em; }
  #select-settings-wrapper h2 {
    padding-top: 1em;
    text-align: center; }
  #select-settings-wrapper button {
    background-color: transparent;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    #select-settings-wrapper button:hover {
      background-color: #fff; }
    #select-settings-wrapper button.active {
      color: #fff;
      background-color: #30c0fc; }
  #select-settings-wrapper .shapes button {
    background-color: #333;
    color: #fff;
    border: 0; }
    #select-settings-wrapper .shapes button:hover {
      background-color: #444; }
    #select-settings-wrapper .shapes button.active {
      background-color: #30c0fc;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    #select-settings-wrapper .shapes button#square {
      width: 80px;
      height: 80px; }
    #select-settings-wrapper .shapes button#rectangle {
      margin-top: 40px;
      width: 160px;
      height: 40px; }
  #select-settings-wrapper .fonts {
    max-height: 160px;
    overflow-y: scroll;
    margin-left: -5px;
    margin-right: -5px;
    overflow-x: hidden; }
    #select-settings-wrapper .fonts .column {
      padding-left: 5px;
      padding-right: 5px; }
    #select-settings-wrapper .fonts .font button {
      text-align: left;
      padding-left: 10px; }
  #select-settings-wrapper .dingbats {
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden; }
    #select-settings-wrapper .dingbats .dingbat {
      width: 25%;
      float: left; }
      #select-settings-wrapper .dingbats .dingbat button {
        font-size: 1.5em;
        line-height: 0.85em;
        height: 32px; }
        #select-settings-wrapper .dingbats .dingbat button.btn:focus {
          outline: none;
          background-color: #fff; }
  #select-settings-wrapper .backgrounds {
    max-height: 160px;
    overflow-y: scroll;
    margin-left: -5px;
    margin-right: -5px;
    overflow-x: hidden; }
    #select-settings-wrapper .backgrounds .column {
      padding-left: 5px;
      padding-right: 5px; }
    #select-settings-wrapper .backgrounds .background .column .btn {
      height: 32px; }
      #select-settings-wrapper .backgrounds .background .column .btn img {
        float: none;
        max-width: 100%;
        max-height: 100%; }

.confirm-body {
  text-transform: uppercase; }

.confirm-extra {
  font-size: 0.8em; }

.snippets {
  margin-top: 2em; }

.preview-wrapper {
  background-color: #00bbff; }
  .preview-wrapper.upload, .preview-wrapper.paper {
    padding-bottom: 2em;
    margin-bottom: -2em; }

.preview-wrapper .blue-title {
  margin: 1em 0; }

.white-text {
  color: #fff;
  text-align: center; }
  .white-text p {
    color: #fff; }
    .white-text p strong {
      color: #000; }

#preview-form h2 {
  margin: 1em 0; }
#preview-form .form-group .control-label {
  float: left;
  width: 33.333%;
  color: #fff;
  text-align: right;
  padding: 6px 12px; }
#preview-form .form-group .form-control {
  float: left;
  width: 66.666%; }
#preview-form .form-group .payment_agree {
  margin-left: 33.333%;
  width: 66.666%; }
  #preview-form .form-group .payment_agree .control-label {
    width: auto;
    padding: 0; }

#preview #image-wrapper.preview {
  margin-bottom: 2em; }

.submit-button {
  display: block;
  height: 179px;
  background: url(../images/homev3_cta_btn.png) no-repeat center;
  text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold; }
  .submit-button:hover {
    text-decoration: none; }
  .submit-button span {
    display: block; }
    .submit-button span.l1 {
      font-size: 1.56rem;
      color: #0bf;
      padding-top: 75px;
      line-height: 110%; }
    .submit-button span.l2 {
      font-size: 2.1rem;
      color: #002f40;
      line-height: 110%; }

#token-form {
  margin-top: 2em; }
  #token-form label {
    color: #fff; }
  #token-form #token {
    float: left;
    width: 80%; }
  #token-form .btn {
    float: left; }

#preview #canvas-wrapper {
  display: none; }
#preview #image-wrapper img {
  float: none;
  background: url(../images/editor-bg.jpg) repeat center center;
  display: block;
  margin: 1em auto;
  max-width: 100%; }
#preview .social-icons {
  margin: 0.5em 0; }

#result {
  padding: 0;
  margin-top: 2em; }
  #result img {
    float: none;
    background: url(../images/editor-bg.jpg) repeat center center;
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  #result .social-icons {
    margin: 0.5em 0; }

nav.editor-navigation {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 0.5em;
  margin-bottom: 3em; }
  nav.editor-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav.editor-navigation ul li {
      float: left;
      display: block;
      text-transform: uppercase;
      color: #b5b5b5;
      margin: 0;
      padding: 0.5rem;
      font-size: 0.9em; }
      nav.editor-navigation ul li .btn {
        border: none;
        background: transparent;
        padding: 5px; }
      nav.editor-navigation ul li span.glyphicon {
        font-size: 0.7em;
        margin-left: 5px; }
      nav.editor-navigation ul li.active {
        color: #666666;
        font-weight: 500;
        background: whitesmoke; }
      nav.editor-navigation ul li.last {
        margin-right: 0; }

#paper-actions {
  margin-bottom: 2em;
  text-align: center; }

.blue-title {
  text-align: center;
  color: #00bbff;
  text-transform: none;
  font-size: 2em;
  font-weight: normal; }

.white-title {
  text-align: center;
  color: #fff;
  text-transform: none;
  font-size: 2em;
  font-weight: normal; }

.editor-title {
  position: relative; }
  .editor-title .show-instructions {
    position: absolute;
    right: 0; }

.centered {
  text-align: center; }

.follow-us p {
  font-weight: bold; }

.confirm-result {
  margin-top: -1em;
  padding-bottom: 1em; }

.confirm {
  margin-bottom: -2em;
  padding-bottom: 2em; }

#choose {
  text-align: center;
  margin-left: -5px;
  margin-right: -5px; }
  #choose h4 {
    text-transform: uppercase; }
  #choose .column {
    padding-left: 5px;
    padding-right: 5px; }
    #choose .column .choose-type {
      cursor: pointer;
      margin-top: 60px;
      position: relative;
      height: 230px;
      padding-bottom: 0.5em;
      background: #00bbff url(../content/_global/images/grey-wood.png); }
      #choose .column .choose-type p {
        font-weight: bold;
        margin: 1em 0;
        font-size: 13px;
        color: #fff; }
        #choose .column .choose-type p strong {
          color: #00bbff; }
      #choose .column .choose-type img {
        margin-top: -70px; }
      #choose .column .choose-type .info {
        margin: -0.75em 1em 1em 1em; }
      #choose .column .choose-type.custom {
        background-image: url(../content/_global/images/dark-wood.png); }
      #choose .column .choose-type.selected {
        background-image: none; }
        #choose .column .choose-type.selected strong {
          color: #000; }

.create-message-now {
  background: #00bbff;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  margin-bottom: -2em; }

#choose button, #choose-upload button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #F5F5F5;
  border: none;
  padding: 0.8rem 1rem 0.7rem;
  overflow: hidden;
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  padding: 20px; }
  #choose button:hover, #choose-upload button:hover {
    background-color: #F0F0F0; }
  #choose button img, #choose-upload button img {
    display: block;
    width: 100%;
    height: auto; }

#order-details {
  width: 50%;
  margin: 1em auto;
  padding: 1em 2em;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff; }
  #order-details p {
    margin: 1em 0; }

#special-form label {
  margin-right: 10px; }
#special-form input[type='text'], #special-form input[type='email'] {
  color: #454545; }

#upload-design {
  color: #002d40;
  margin-top: 2em;
  margin-bottom: 2em; }
  #upload-design #progress {
    display: none; }
    #upload-design #progress .progress-bar {
      background-color: #002d40; }
  #upload-design #upload-form {
    text-align: center; }
    #upload-design #upload-form input {
      margin: 0 auto;
      background-color: #fff;
      padding: 0.5em 1em;
      color: #000; }
    #upload-design #upload-form .upload-button {
      display: block;
      width: 160px;
      height: 179px;
      background: url(../images/homev3_cta_btn.png) no-repeat center;
      text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      margin: 0 auto; }
      #upload-design #upload-form .upload-button:hover {
        text-decoration: none; }
      #upload-design #upload-form .upload-button span {
        display: block; }
        #upload-design #upload-form .upload-button span.l1 {
          font-size: 1.56rem;
          color: #0bf;
          padding-top: 63px;
          line-height: 110%; }
        #upload-design #upload-form .upload-button span.l2 {
          font-size: 1.56rem;
          color: #0bf;
          line-height: 110%; }
        #upload-design #upload-form .upload-button span.l3 {
          font-size: 1.6rem;
          color: #002f40;
          line-height: 110%; }

#upload-preview img {
  float: none;
  background: url(../images/editor-bg.jpg) repeat center center;
  display: block;
  margin: 0 auto;
  max-width: 100%; }
#upload-preview .social-icons {
  margin: 0.5em 0; }

#creative-wrapper {
  margin-top: -20px;
  background: #eeeeee url(../content/_global/images/tiny-grid.png) repeat center center;
  margin-bottom: -30px; }
  #creative-wrapper #creative-header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    position: relative; }
    #creative-wrapper #creative-header #creative-title h2 {
      margin-bottom: 2.2em; }
    #creative-wrapper #creative-header #creative-example {
      margin-top: -60px;
      margin-bottom: 30px;
      margin-left: -30px; }
      #creative-wrapper #creative-header #creative-example img {
        max-width: 917px;
        overflow: visible; }
    #creative-wrapper #creative-header p {
      margin: 0 auto;
      font-size: 1rem; }
      #creative-wrapper #creative-header p.narrow {
        width: 50%; }
      #creative-wrapper #creative-header p.wide {
        width: 80%; }
  #creative-wrapper #create-your-own h2 {
    font-weight: normal;
    text-transform: none;
    font-size: 1.7em;
    margin-left: 20%;
    width: 60%;
    text-align: right;
    text-transform: uppercase;
    margin-top: 25px; }
    #creative-wrapper #create-your-own h2:after {
      content: "";
      background: url(../content/_global/images/creativeupload/arrow_right_blue.png) no-repeat left center;
      background-size: 36px 25px;
      width: 36px;
      height: 25px;
      position: absolute;
      top: 25px;
      margin-left: 45px; }
  #creative-wrapper #technical-specs {
    padding: 30px;
    background-color: #fff;
    position: relative; }
    #creative-wrapper #technical-specs h3 {
      margin-top: 0;
      color: #525252;
      font-weight: 400;
      font-size: 1.4rem;
      text-align: center; }
    #creative-wrapper #technical-specs h4 {
      font-weight: bold;
      padding-left: 35px;
      line-height: 26px; }
      #creative-wrapper #technical-specs h4.do {
        color: #4ec45f;
        background: url(../content/_global/images/do.png) no-repeat left center; }
      #creative-wrapper #technical-specs h4.dont {
        color: #e95454;
        background: url(../content/_global/images/dont.png) no-repeat left center; }
    #creative-wrapper #technical-specs p {
      margin: 0.5em 0;
      font-size: 0.8rem;
      font-weight: 500;
      color: #000; }
  #creative-wrapper .grey-arrow-down {
    height: 36px;
    margin: 30px 0;
    background: url(../content/_global/images/creativeupload/arrow_down_gray.png) no-repeat top center; }
  #creative-wrapper #upload-wrapper {
    background-color: #00bbff;
    padding: 30px;
    color: #fff;
    position: relative;
    margin-bottom: 60px; }
    #creative-wrapper #upload-wrapper #upload-form input {
      color: #000; }
    #creative-wrapper #upload-wrapper #upload-form .form-group {
      margin-right: 0;
      clear: both; }
    #creative-wrapper #upload-wrapper #upload-form .file {
      padding-bottom: 2em;
      border-bottom: 1px solid #fff; }
      #creative-wrapper #upload-wrapper #upload-form .file input {
        color: #000;
        width: 100%; }
    #creative-wrapper #upload-wrapper #upload-form .user label {
      display: block;
      font-weight: 500; }
    #creative-wrapper #upload-wrapper #upload-form .user input {
      padding: 0.4em 0.5em;
      width: 100%;
      border: none; }
    #creative-wrapper #upload-wrapper #upload-form .upload-button {
      display: block;
      height: 179px;
      background: url(../images/homev3_cta_btn.png) no-repeat center;
      text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold; }
      #creative-wrapper #upload-wrapper #upload-form .upload-button:hover {
        text-decoration: none; }
      #creative-wrapper #upload-wrapper #upload-form .upload-button span {
        display: block; }
        #creative-wrapper #upload-wrapper #upload-form .upload-button span.l1 {
          font-size: 1.56rem;
          color: #0bf;
          padding-top: 75px;
          line-height: 110%; }
        #creative-wrapper #upload-wrapper #upload-form .upload-button span.l2 {
          font-size: 2.1rem;
          color: #002f40;
          line-height: 110%; }
  #creative-wrapper #creative-submit-form {
    text-align: center; }
    #creative-wrapper #creative-submit-form .form-group {
      margin-right: 0; }
      #creative-wrapper #creative-submit-form .form-group label {
        display: block;
        color: #fff; }
      #creative-wrapper #creative-submit-form .form-group input {
        padding: 0.5em;
        width: 50%;
        color: #000; }
  #creative-wrapper .floater01 {
    background: url(../content/_global/images/creativeupload/floater01.png) no-repeat;
    width: 528px;
    height: 205px;
    position: absolute;
    bottom: 400px;
    left: -700px; }
  #creative-wrapper .floater02 {
    background: url(../content/_global/images/creativeupload/floater02.png) no-repeat;
    background-size: 484px 237px;
    width: 484px;
    height: 237px;
    position: absolute;
    bottom: 60px;
    left: -600px; }
  #creative-wrapper .floater03 {
    background: url(../content/_global/images/creativeupload/floater03.png) no-repeat;
    background-size: 157px 236px;
    width: 157px;
    height: 236px;
    position: absolute;
    left: 500px;
    bottom: -100px; }
  #creative-wrapper .floater04 {
    background: url(../content/_global/images/creativeupload/floater04.png) no-repeat;
    background-size: 206px 206px;
    width: 206px;
    height: 206px;
    position: absolute;
    right: -240px;
    top: 110px; }
  #creative-wrapper .editor {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 500;
    line-height: 100%; }
    #creative-wrapper .editor a {
      color: #00bbff; }
      #creative-wrapper .editor a:hover {
        text-decoration: none; }
    #creative-wrapper .editor:before {
      content: "";
      background: url(../content/_global/images/creativeupload/arrow_right_blue.png) no-repeat left center;
      background-size: 36px 25px;
      width: 36px;
      height: 25px;
      position: absolute;
      top: 25px;
      margin-left: 50px; }
  #creative-wrapper .responsive-image {
    margin-bottom: 50px; }

#creative-submit-form, #tfl-submit-form {
  text-align: center; }
  #creative-submit-form .form-group, #tfl-submit-form .form-group {
    margin-right: 0; }
    #creative-submit-form .form-group label, #tfl-submit-form .form-group label {
      display: block;
      color: #fff; }
    #creative-submit-form .form-group input, #tfl-submit-form .form-group input {
      padding: 0.5em;
      width: 50%; }

.chardinjs-overlay {
  position: absolute;
  z-index: 999999;
  background-color: #111;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.chardinjs-helper-layer {
  position: absolute;
  z-index: 9999998;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .chardinjs-helper-layer.chardinjs-left {
    border-left: solid white 1px;
    margin-left: -10px; }
  .chardinjs-helper-layer.chardinjs-right {
    border-right: solid white 1px;
    padding-right: 10px; }
  .chardinjs-helper-layer.chardinjs-bottom {
    border-bottom: solid white 1px;
    padding-bottom: 10px; }
  .chardinjs-helper-layer.chardinjs-top {
    border-top: solid white 1px;
    padding-top: 10px; }

.chardinjs-tooltip {
  position: absolute;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -ms-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  max-width: 200px; }
  .chardinjs-tooltip.chardinjs-left {
    margin-left: -135px;
    padding-right: 10px; }
  .chardinjs-tooltip.chardinjs-right {
    margin-right: -135px;
    padding-left: 10px; }
  .chardinjs-tooltip.chardinjs-bottom {
    margin-bottom: -50px;
    padding-top: 10px; }
  .chardinjs-tooltip.chardinjs-top {
    margin-top: -50px;
    padding-bottom: 10px; }
  .chardinjs-tooltip.chardinjs-right:before, .chardinjs-tooltip.chardinjs-left:after, .chardinjs-tooltip.chardinjs-bottom:before, .chardinjs-tooltip.chardinjs-top:after {
    content: ".";
    display: inline-block;
    background-color: white;
    height: 1px;
    overflow: hidden;
    position: absolute; }
  .chardinjs-tooltip.chardinjs-right:before, .chardinjs-tooltip.chardinjs-left:after {
    width: 100px;
    top: 50%; }
  .chardinjs-tooltip.chardinjs-bottom:before, .chardinjs-tooltip.chardinjs-top:after {
    width: 1px;
    height: 50px;
    left: 50%; }
  .chardinjs-tooltip.chardinjs-bottom:before {
    top: -50px; }
  .chardinjs-tooltip.chardinjs-top:after {
    bottom: -50px; }
  .chardinjs-tooltip.chardinjs-right:before {
    left: -100px; }
  .chardinjs-tooltip.chardinjs-left:after {
    right: -100px; }

.chardinjs-show-element {
  z-index: 9999999;
  opacity: 0.66; }

.chardinjs-relative-position {
  position: relative; }

@font-face {
  font-family: 'Octin Spraypaint';
  src: url("../fonts/octin_spraypaint_free-webfont.eot");
  src: url("../fonts/octin_spraypaint_free-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/octin_spraypaint_free-webfont.woff") format("woff"), url("../fonts/octin_spraypaint_free-webfont.ttf") format("truetype"), url("../fonts/octin_spraypaint_free-webfont.svg#octin_spraypaint_freeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Peach Milk';
  src: url("../fonts/peach_milk-webfont.eot");
  src: url("../fonts/peach_milk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/peach_milk-webfont.woff") format("woff"), url("../fonts/peach_milk-webfont.ttf") format("truetype"), url("../fonts/peach_milk-webfont.svg#peach_milkregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Reclaim';
  src: url("../fonts/reclaim-webfont.eot");
  src: url("../fonts/reclaim-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/reclaim-webfont.woff") format("woff"), url("../fonts/reclaim-webfont.ttf") format("truetype"), url("../fonts/reclaim-webfont.svg#reclaimregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Sweetly Broken';
  src: url("../fonts/sweetly_broken-webfont.eot");
  src: url("../fonts/sweetly_broken-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sweetly_broken-webfont.woff") format("woff"), url("../fonts/sweetly_broken-webfont.ttf") format("truetype"), url("../fonts/sweetly_broken-webfont.svg#sweetly_brokenregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tattoo Ink';
  src: url("../fonts/tatti___-webfont.eot");
  src: url("../fonts/tatti___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tatti___-webfont.woff") format("woff"), url("../fonts/tatti___-webfont.ttf") format("truetype"), url("../fonts/tatti___-webfont.svg#tattoo_inkregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Another Typewriter';
  src: url("../fonts/atwriter-webfont.eot");
  src: url("../fonts/atwriter-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/atwriter-webfont.woff") format("woff"), url("../fonts/atwriter-webfont.ttf") format("truetype"), url("../fonts/atwriter-webfont.svg#another_typewriterregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Atman Dings';
  src: url("../fonts/atman-di-webfont.eot");
  src: url("../fonts/atman-di-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/atman-di-webfont.woff") format("woff"), url("../fonts/atman-di-webfont.ttf") format("truetype"), url("../fonts/atman-di-webfont.svg#atman_dingsatman_dings") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Awesome';
  src: url("../fonts/awesome-webfont.eot");
  src: url("../fonts/awesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/awesome-webfont.woff") format("woff"), url("../fonts/awesome-webfont.ttf") format("truetype"), url("../fonts/awesome-webfont.svg#awesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Breakdown';
  src: url("../fonts/font_breakdown-webfont.eot");
  src: url("../fonts/font_breakdown-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font_breakdown-webfont.woff") format("woff"), url("../fonts/font_breakdown-webfont.ttf") format("truetype"), url("../fonts/font_breakdown-webfont.svg#font_breakdownregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Frenchy';
  src: url("../fonts/frenchy-webfont.eot");
  src: url("../fonts/frenchy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/frenchy-webfont.woff") format("woff"), url("../fonts/frenchy-webfont.ttf") format("truetype"), url("../fonts/frenchy-webfont.svg#frenchyregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'From This Moment';
  src: url("../fonts/from_this_moment-webfont.eot");
  src: url("../fonts/from_this_moment-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/from_this_moment-webfont.woff") format("woff"), url("../fonts/from_this_moment-webfont.ttf") format("truetype"), url("../fonts/from_this_moment-webfont.svg#from_this_momentregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mailart Graphics';
  src: url("../fonts/mailg___-webfont.eot");
  src: url("../fonts/mailg___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mailg___-webfont.woff") format("woff"), url("../fonts/mailg___-webfont.ttf") format("truetype"), url("../fonts/mailg___-webfont.svg#mailart_graphics") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Marcelle Swashes';
  src: url("../fonts/marcs___-webfont.eot");
  src: url("../fonts/marcs___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/marcs___-webfont.woff") format("woff"), url("../fonts/marcs___-webfont.ttf") format("truetype"), url("../fonts/marcs___-webfont.svg#marcelle_swashesregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mari David';
  src: url("../fonts/maridavid_bold-webfont.eot");
  src: url("../fonts/maridavid_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/maridavid_bold-webfont.woff") format("woff"), url("../fonts/maridavid_bold-webfont.ttf") format("truetype"), url("../fonts/maridavid_bold-webfont.svg#maridavid_boldmaridavid_bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Mari David';
  src: url("../fonts/maridavid-webfont.eot");
  src: url("../fonts/maridavid-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/maridavid-webfont.woff") format("woff"), url("../fonts/maridavid-webfont.ttf") format("truetype"), url("../fonts/maridavid-webfont.svg#maridavidregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mrs Monster';
  src: url("../fonts/mrsmonster-webfont.eot");
  src: url("../fonts/mrsmonster-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mrsmonster-webfont.woff") format("woff"), url("../fonts/mrsmonster-webfont.ttf") format("truetype"), url("../fonts/mrsmonster-webfont.svg#mrs._monsterregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PoT Icons';
  src: url("../fonts/potfontok2-webfont.eot");
  src: url("../fonts/potfontok2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/potfontok2-webfont.woff") format("woff"), url("../fonts/potfontok2-webfont.ttf") format("truetype"), url("../fonts/potfontok2-webfont.svg#untitledregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Angel Tears';
  src: url("../fonts/angel___-webfont.eot");
  src: url("../fonts/angel___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/angel___-webfont.woff") format("woff"), url("../fonts/angel___-webfont.ttf") format("truetype"), url("../fonts/angel___-webfont.svg#angel_tearstrial") format("svg");
  font-weight: normal;
  font-style: normal; }

#choose-upload h3 {
  color: #30C2FF;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: normal; }

#choose-upload .minor h3 {
  color: #676767;
  font-size: 0.9rem; }

#choose-upload button {
  margin: 0.5rem 1em;
  text-transform: uppercase;
  font-size: 0.875rem; }

#choose-upload button.btn-primary {
  background-color: #30C2FF; }

#choose-upload button.btn-primary:hover {
  background: #00B4FF; }

#choose-upload button.btn-primary:after {
  content: ''; }

#choose-upload .info {
  margin-top: 0.5rem; }

#choose-upload .info li {
  font-size: 0.875rem; }

.more_info {
  font-weight: 400;
  margin-top: 1rem;
  /*font-size: 1rem;*/ }

.more_info_second {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase; }

.more_info2 {
  margin-top: 1rem;
  white-space: normal;
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic; }

#paper-actions {
  margin-bottom: 2em; }

header .social {
  margin-top: 20px; }
  header .social img {
    float: none;
    margin: 3px; }

.newhome .slider h2 {
  font-size: 50px;
  top: 140px;
  padding: 20px;
  border-radius: 15px; }

.newhome .slider .oneworld {
  position: absolute;
  left: 60px;
  top: 60px; }
