/*! http://responsiveslides.com v1.54 by @viljamis */
/*
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  min-height: 544px;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides li .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
}

.rslides img {
  display: block;
  height: auto;
  float: none;
  min-width: 100%;
  border: 0;
  }

.rslides_tabs {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 1000;
}
.rslides_tabs li {
  float: left;
  list-style: none;
  margin-left: 5px;
}

.rslides_tabs li a {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  text-indent: -9999px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.rslides_tabs li.rslides_here a {
  background-color: #07b6ff;
}
*/