//$text: #5F5F5F;
//$text_light: #b5b5b5;
//$blue: #00b4ff;
//$blue_hover: #0098d8;

$trans-black: rgba(0, 0, 0, 0.75);
$trans-white: rgba(255, 255, 255, 0.75);

$white: #FFF;
$black: #000;



$test: rgba( 255, 0, 0, 0.4);
$test2: rgba( 0, 255, 0, 0.4);
$test3: rgba( 0, 0, 255, 0.4);

.test{ background: $test; }
.test2{ background: $test2; }
.test3{ background: $test3; }