@font-face {
    font-family: 'edmondsans';
    src: url('../fonts/edmondsans-bold-webfont.eot');
    src: url('../fonts/edmondsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-bold-webfont.woff') format('woff'),
         url('../fonts/edmondsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-bold-webfont.svg#edmondsansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'edmondsans';
    src: url('../fonts/edmondsans-medium-webfont.eot');
    src: url('../fonts/edmondsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-medium-webfont.woff') format('woff'),
         url('../fonts/edmondsans-medium-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-medium-webfont.svg#edmondsansmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'edmondsans';
    src: url('../fonts/edmondsans-regular-webfont.eot');
    src: url('../fonts/edmondsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-regular-webfont.woff') format('woff'),
         url('../fonts/edmondsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-regular-webfont.svg#edmondsans_regularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Octin Spraypaint';
    src: url("../fonts/octin_spraypaint_free-webfont.eot");
    src: url("../fonts/octin_spraypaint_free-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/octin_spraypaint_free-webfont.woff") format("woff"), url("../fonts/octin_spraypaint_free-webfont.ttf") format("truetype"), url("../fonts/octin_spraypaint_free-webfont.svg#octin_spraypaint_freeregular") format("svg");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Peach Milk';
    src: url("../fonts/peach_milk-webfont.eot");
    src: url("../fonts/peach_milk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/peach_milk-webfont.woff") format("woff"), url("../fonts/peach_milk-webfont.ttf") format("truetype"), url("../fonts/peach_milk-webfont.svg#peach_milkregular") format("svg");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Reclaim';
    src: url("../fonts/reclaim-webfont.eot");
    src: url("../fonts/reclaim-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/reclaim-webfont.woff") format("woff"), url("../fonts/reclaim-webfont.ttf") format("truetype"), url("../fonts/reclaim-webfont.svg#reclaimregular") format("svg");
    font-weight: normal;
    font-style: normal; 
}

@font-face {
  font-family: 'Sweetly Broken';
  src: url("../fonts/sweetly_broken-webfont.eot");
  src: url("../fonts/sweetly_broken-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sweetly_broken-webfont.woff") format("woff"), url("../fonts/sweetly_broken-webfont.ttf") format("truetype"), url("../fonts/sweetly_broken-webfont.svg#sweetly_brokenregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tattoo Ink';
  src: url("../fonts/tatti___-webfont.eot");
  src: url("../fonts/tatti___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tatti___-webfont.woff") format("woff"), url("../fonts/tatti___-webfont.ttf") format("truetype"), url("../fonts/tatti___-webfont.svg#tattoo_inkregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Another Typewriter';
  src: url("../fonts/atwriter-webfont.eot");
  src: url("../fonts/atwriter-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/atwriter-webfont.woff") format("woff"), url("../fonts/atwriter-webfont.ttf") format("truetype"), url("../fonts/atwriter-webfont.svg#another_typewriterregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Atman Dings';
  src: url("../fonts/atman-di-webfont.eot");
  src: url("../fonts/atman-di-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/atman-di-webfont.woff") format("woff"), url("../fonts/atman-di-webfont.ttf") format("truetype"), url("../fonts/atman-di-webfont.svg#atman_dingsatman_dings") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Awesome';
  src: url("../fonts/awesome-webfont.eot");
  src: url("../fonts/awesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/awesome-webfont.woff") format("woff"), url("../fonts/awesome-webfont.ttf") format("truetype"), url("../fonts/awesome-webfont.svg#awesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Font Breakdown';
  src: url("../fonts/font_breakdown-webfont.eot");
  src: url("../fonts/font_breakdown-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font_breakdown-webfont.woff") format("woff"), url("../fonts/font_breakdown-webfont.ttf") format("truetype"), url("../fonts/font_breakdown-webfont.svg#font_breakdownregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Frenchy';
  src: url("../fonts/frenchy-webfont.eot");
  src: url("../fonts/frenchy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/frenchy-webfont.woff") format("woff"), url("../fonts/frenchy-webfont.ttf") format("truetype"), url("../fonts/frenchy-webfont.svg#frenchyregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'From This Moment';
  src: url("../fonts/from_this_moment-webfont.eot");
  src: url("../fonts/from_this_moment-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/from_this_moment-webfont.woff") format("woff"), url("../fonts/from_this_moment-webfont.ttf") format("truetype"), url("../fonts/from_this_moment-webfont.svg#from_this_momentregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mailart Graphics';
  src: url("../fonts/mailg___-webfont.eot");
  src: url("../fonts/mailg___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mailg___-webfont.woff") format("woff"), url("../fonts/mailg___-webfont.ttf") format("truetype"), url("../fonts/mailg___-webfont.svg#mailart_graphics") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Marcelle Swashes';
  src: url("../fonts/marcs___-webfont.eot");
  src: url("../fonts/marcs___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/marcs___-webfont.woff") format("woff"), url("../fonts/marcs___-webfont.ttf") format("truetype"), url("../fonts/marcs___-webfont.svg#marcelle_swashesregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mari David';
  src: url("../fonts/maridavid_bold-webfont.eot");
  src: url("../fonts/maridavid_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/maridavid_bold-webfont.woff") format("woff"), url("../fonts/maridavid_bold-webfont.ttf") format("truetype"), url("../fonts/maridavid_bold-webfont.svg#maridavid_boldmaridavid_bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Mari David';
  src: url("../fonts/maridavid-webfont.eot");
  src: url("../fonts/maridavid-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/maridavid-webfont.woff") format("woff"), url("../fonts/maridavid-webfont.ttf") format("truetype"), url("../fonts/maridavid-webfont.svg#maridavidregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mrs Monster';
  src: url("../fonts/mrsmonster-webfont.eot");
  src: url("../fonts/mrsmonster-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mrsmonster-webfont.woff") format("woff"), url("../fonts/mrsmonster-webfont.ttf") format("truetype"), url("../fonts/mrsmonster-webfont.svg#mrs._monsterregular") format("svg");
  font-weight: normal;
  font-style: normal; }