footer{
	$footer_opacity: 0.5;
	
	min-height: 40px;
	margin-top: ($grid-gutter-width/2);
	background: $deep-blue;
	
	.container{
		margin-bottom: 0;
	}

	a{
		color: rgba(0, 187, 255, 0.33);
		font-size: 0.8rem;
		letter-spacing: 0;
		margin: 0 0 10px 0;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
		display: block;

		.glyphicon{
			font-size: 1.2rem;
			margin-right: 5px;
			color: $brand-primary;
			font-weight: 400;
			vertical-align: top;
		}

		span{
			display: inline-block;
			vertical-align: top;
			margin-top: 2px;
		}

		&:hover{
			text-decoration: none;
			color: $brand-primary;

			.glyphicon{ color:$white; }
		}
	}

	h3{
		font-size: 1.2rem;
		text-transform: uppercase;
		color: $white;
		font-weight: 600;
		margin-bottom: 2rem;
	}

	.collaboration{
		h3{
			max-width: 200px;
		}
		a{
			//opacity: $footer_opacity;
			display: block;

			&:hover{
				//opacity: 1;
			}

			&.tml{
				height: 45px;
				margin-bottom: 15px;
				img{
					height: 100%;
				}
			}

			&.arne{
				height: 30px;
				margin-bottom: 15px;
				img{
					height: 100%;
					margin-left: 15px;
				}
			}
		}

		.grouped{
			margin-top: 15px;
			a{
				display: inline-block;
				height: 55px;
				
				&.provant{
					height: 40px;
				}

				&.schorre{
					height: 45px;
					margin-left: 20px;
				}
				img{
					height: 100%;	
				}
			}
		}
	}

	.social-footer{
		div{
			a{
				display: block;
				height: 32px;
				margin-bottom: 10px;
				font-size: 0.75rem;
				color: $brand-primary;
				opacity: $footer_opacity;
				line-height: 2rem;
				text-transform: uppercase;
				font-weight: 500;
				img{
					width: 32px;
					margin-right: 10px;
				}


				&:hover{
					opacity: 1;
				}
			}
		}
	}

	.contact{
		margin-bottom: 30px;
		h3{
			max-width: 110px;
		}
		.ogone_footer{
			p{
				text-transform: uppercase;
				font-size: 0.7rem;
				font-weight: 600;
				color: rgba(0, 187, 255, 0.33);
				padding: 0;
				margin: 40px 0 5px 0;
			}
		}
	}
}

@media (min-width: $screen-sm){
	footer{
		.collaboration{
			margin-bottom: 30px;
		}
	}
}

