
header{
	background: $white;

	a.menuitem{
		padding: 10px 0;
		border-top: 1px solid $gray_lighter;
		display:block;
		width: 100%;
		text-decoration: none;
		text-transform: uppercase;

		.label{
			display: inline-block;
			color: $brand-primary;
			text-align: left;
			font-weight: 600;
			font-size: 0.875rem;
			line-height: 100%;
			padding: 0;
			margin:0;
			vertical-align: bottom;
		}

		.glyphicon{
			color: $deep-blue;
			margin-left: 5px;
			font-size: 1.4rem;
			display: inline-block;
			line-height: 1.4rem;
			vertical-align: bottom;
		}

		span{
			color: $deep-blue;
		}

		&:hover{
			.label{
				color: $link-hover-color;
			}

		}

		&.learnmore{
			.label{
				color: $deep-blue;
				line-height: 100%;
			}

			.glyphicon{
				color: $gray_lighter;
				font-size: 1.2rem;
				line-height: 1.2rem;
			}
		}

		&.gift{

		}

		&.create{

		}
	}


		/* language switch */

	#languageSwitch{
		text-transform: uppercase;
		color: $gray-lighter;
		float: right;
		margin-top: 5px;
		position: absolute;
		right: 0;
		a{
			text-decoration: none;
			font-size: 0.9rem;
			font-weight: 500;
			color: $gray-lighter;

			&:hover{
				color: $link-hover-color;
			}
			&.active{
				color: $deep-blue;
			}
		}
	}

	#lang_wrapper{
		float: right;
		position: absolute;
		bottom: 10px;
		right: 0px;
		#languageSwitch{
			position: relative;
			float: none;
		}
	}

	.container{
		.row{
			.resizer{
				margin: 0 30px;
				.col-logo{
					padding: 12px 0;

					#logo{
						display: block;

						img{
							width: 71px;
							height: auto;
							display: block;
						}

						a{
							display: block;
						}
					}
				}

				.col-menu{
					padding: 0;

					.social{
						display: none;
						visibility: hidden;

						a{
							text-decoration: none;
							font-size: 1.65rem;
							margin: 0;
							padding: 0;
							letter-spacing: 0;

							&:hover{
								text-decoration: none;
							}
						}
					}
				}

				.col-gift{ padding: 0; }

				.col-cta{
					padding: 0;
				}
			}
		}
	}
}

header.home{
	height: 100%;
}

header.normal, header.learnmore{
	position: relative;
	display: block;
}

@media (min-width: $screen-sm){
	header{
		a.menuitem{
			border-top: none;
			float: right;
			padding:0;
			width: auto;

			.label{
			}

			.glyphicon{
			}

			&:hover{
				.label{
					color: $link-hover-color;
				}

			}

			&.learnmore{
				margin: 20px 20px 0 0;
				.label{
				}

				.glyphicon{
					display: none;
					visibility: hidden;
				}
			}

			&.gift{
				margin: 10px 20px 0 0;
			}
		}

		.container{
			.row{
				.resizer{
					.col-logo{
						#logo{
							img{
								width: 129px;
							}
						}
					}

					.col-menu{
						.social{
							display: block;
							visibility: visible;
							margin: 20px 20px 0 0;
							float: left;
						}
					}

					.col-cta{
						&.blue{
							background: $brand-primary;
						}
						padding: 0;
					}
				}
			}
		}
	}

	header.home{
		height: 97px;
		.container{
			.row{
				.resizer{
					.col-cta{
						&.blue{
							height: 97px;
						}
					}
				}
			}
		}
	}

	header.normal, header.learnmore{
		position: fixed;
		top: 0;
		width: 100%;
		height: 97px;
		margin: 0;
		z-index: 999;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	}
}

@media (min-width: $screen-md){
	header{
		a.menuitem{
			&.learnmore{
				margin: 66px 10px 0 0;
			}

			&.gift{
				margin: 66px 0 0 0;
				float: right;
			}

			&.create{
				margin: 66px 0 0 0;
			}
		}

		.container{
			.row{
				.resizer{
					.col-menu{
						.social{
							margin: 60px 0 0;
						}
					}
				}
			}
		}
	}
}
