nav.payment-navigation{
	border-bottom: 1px solid $gray-lighter;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			display: block;
			text-transform: uppercase;
			color: $gray-lighter;
			margin: 0;
			padding: 0.5rem;
			font-size: 0.9em;

			span.glyphicon{
				font-size: 0.7em;
				margin-left: $grid-gutter-width/2;
				float: right;
				line-height: 150%;
				display: none;
			}
			a{
				
			}

			&.active{
				color: $gray-light;
				font-weight: 500;
				background: $gray_ultra_light;
				a{

				}
			}

			&.last{
				margin-right: 0;
			}
		}
	}
}


@media screen and (min-width: $screen-sm){
	nav.payment-navigation{
		ul{
			li{
				display: inline-block;
				padding: 0 0 20px 0;
				margin: 0 $grid-gutter-width/2 0 0;
				span.glyphicon{
					float: none;
					line-height: 100%;
					display: inline;
				}

				&.active{
					background: none;
				}
			}
		}
	}
}

@media (min-width: $screen-md-min){}
@media (min-width: $screen-lg-min){}