nav.payment-navigation{
	ul{
		li{
			display: inline-block;
			padding: 0 0 20px 0;
			margin: 0 $grid-gutter-width/2 0 0;
			span.glyphicon{
				float: none;
				line-height: 100%;
				display: inline;
			}

			&.active{
				background: none;
			}
		}
	}
}

#main-navigation{
	display: block;
	.navbar-collapse{
		float: right;
		
		.navbar-nav{
			border:none;
			float:right;
			padding-top: 35px;
			
			li{
				border: none;
				background: none;
				padding: 0;
				margin: 0;
				margin-top:10px;

				a{
					text-align: center;
					font-size: 0.875em;
					color: $gray_lighter;
					padding: 0;
					margin: 0 0 0 1.3rem;
					text-decoration: none;
					line-height: 100%;
					
					-webkit-border-top-left-radius: 10px;
					-webkit-border-top-right-radius: 10px;
					-moz-border-radius-topleft: 10px;
					-moz-border-radius-topright: 10px;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;

					&:hover{
						color: $gray;
					}
				}

				&.active{
					background:none;
					a{
						background: none;
						color: $brand-primary; 
					}
				}


				&.blue{
					// used on the create message button
					margin-top: 0;
					border-bottom: none;
					a{
						background: $brand-primary;
						text-decoration: none;
						color: $white;
						padding: 6px 12px 10px;
						text-transform: uppercase;
						font-weight: 500;
						border:none;

						-webkit-border-top-left-radius: 10px;
						-webkit-border-top-right-radius: 10px;
						-moz-border-radius-topleft: 10px;
						-moz-border-radius-topright: 10px;
						border-top-left-radius: 10px;
						border-top-right-radius: 10px;

						&:hover{
							background: $link-hover-color;
						}
					}
				}
			}
		}
	}
}

header{
	#logo{
		width: 100px;
		height: auto;
		margin: 0 20px 0 0;
	}
}

.productselect{
	&.vspace-full{
		margin-top: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;
	}

	&.vspace-top-full{
		margin-top: $grid-gutter-width;
	}

	.col-sm-4{
		margin-top:0;
		&.first{ 
			padding-bottom: 0;
			border-bottom: none;
		}

		&.last{
			padding-top: 0;
			border-top: none;
		}
	}	
}

.fullscreen-container{
	&.productselect{
		.first{
			border-right: 1px solid $gray-lighter;
		}

		h3{
			margin-top:0;
		}

		p{
			margin-bottom: 0;
		}
	}
}

.paymentconfirmation{
	&.goto{
		padding-top: $grid-gutter-width;
		padding-bottom: $grid-gutter-width;

		.highlight{
			text-transform: uppercase;
			text-align: center;
			margin-top: 20px;
			font-weight: 500;
			font-size: 1.125rem;
		}

		.cta{
			margin-top: 25px;
			margin-bottom: 0;
			text-align: left;
		}
	}
}

.participate{
	.container-overlay{
		margin-top: $grid-gutter-width;
		.cta{
			text-align: left;
		}
	}

	.overlay-centered{
		margin-top: auto;

		h1{
			font-size: 2em;
		}
		p{
			font-size: 1.2em;
			margin: 1em 0;
			line-height: 130%;
		}
	}

	&.col-3{
		margin-top: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;
		
		h3,p{
			text-align: center;
		}

		.col-sm-4{
			padding: 0 $grid-gutter-width/2;
			margin: 0;

			&.first{
				border-bottom: none;
				border-right:  1px solid $gray_lighter;
			}

			&.last{
				border-top: none;
				border-left:  1px solid $gray_lighter;
			}
		}
	}

	&.col-3-type2{
		.row{
			position: relative;
			span{
				padding: 4px;
				margin-left: -9px;
				top: 39px;
				width: auto;
			}

			.col-sm-4{
				padding: 0 $grid-gutter-width/2;
				margin: 0;

				p{
					margin: 0 auto;
					max-width: 180px;
				}

				&.first{
					border-bottom: none;
					border-right:  1px solid $gray_lighter;
				}

				&.last{
					border-top: none;
					border-left:  1px solid $gray_lighter;

					p{
						max-width: 190px;
					}
				}
			}
		}
	}
}

.homepage-overlay , .projects-overlay{
	margin-top: $grid-gutter-width;
	.oneworld-quote{
		margin-top: 74px;
		font-size: 1.4em;
		line-height: 100%;
		.fat{
			font-size: 1.3em;
		}

		.dash{ 
			display: inline;
		}
	}
}

.basket{
	&.vspace-full{
		margin-top: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;
	}

	&.image{
		padding: 0;
		overflow: hidden;
		.row{
			padding: 0 $grid-gutter-width/2;
			img{
				height: auto;
				width: 100%;
				@include border-radius();
			}

			.container-overlay{
				left: 0;
				top: 0;
				margin: $grid-gutter-width/2 0 0 $grid-gutter-width;

				.dark{
					margin : 0;
					font-size: 1.1rem;
					text-transform: uppercase;
					font-weight: 500;
					b{
						font-weight: 600;
						line-height: 250%;
					}
				}

				.light{
					margin-top: 40px;
					text-transform: uppercase;
					margin-left: 1rem;
					
					
					ul{
						li{
							line-height: 110%;
							font-size: 1.6rem;
							span{
								display: inline;
							}  
						}
					}
					
				}
			}
		}
	}

	.payment_ogone{
		margin-top: 0;
		text-align: right;
		.cta{
			a{
				font-weight: 600;
				font-size: 1.5rem;
			}
		}
		.ogone_details{
			margin-top: 1rem;
		}

		.ogone_handledby{
			font-size: 0.75rem;
			margin: 4px;
			vertical-align: top;

		}

		.ogone_icon{
			float: right;
		}
	}
}

.basket{
		&.payment_overview{
			.productrow{
				.productname{
					margin: 0;
				}
			}
		}
	}