// libraries //
@import "libraries/vegas";
@import "libraries/custom-helpers";
//
@import "bourbon";
@import "colors";
@import "fonts";

@import "bootstrap-variables";
@import "bootstrap";

// general things
html{
	font-size: 100%;
}
body{
	width: 100%;
	height: 100%;
	position: relative;
	vertical-align: top;
	font-size: 100%;
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;

	font-family: $font_family_base;

	#main{
		width: 100%;
		position: relative;
	}
}

@media (min-width: $screen-sm){
	#main{
		&.normal, &.learnmore{
			padding-top: 97px;
		}
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: $font_family_base;
}

h1{
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 1em;
	margin-bottom: 2em;
	letter-spacing: 0;
	text-transform: uppercase;
	color: $gray;
	&.light{
		color: $brand-primary;
	}

	&.blue{
		color: $brand-primary;
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	&.err{
		font-size: 2rem;
		letter-spacing: 0;
		margin:0;
		padding:0;
		.ultra{
			font-weight: 600;
			font-size: 6rem;
			letter-spacing: -3px;
		}
	}
}

h2{
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: 1.5em;
	letter-spacing: 0;
	font-weight: 600;

	&.blue{
		color: $white;
		background: $brand-primary;
		display: inline;
		padding: 2px 5px 0;
	}

	.smaller{
		display: block;
		font-size: 0.9rem;
		font-weight: 400;
		text-transform: none;
		padding: 0.2rem 0;
	}
}

h3{

}

h4{
	&.modal-title{
		text-transform: uppercase;
	}
}


h5{

}

p{
	font-size: 1.1rem;
	line-height: 150%;
	font-weight: 400;
	color: $gray;
	margin: 1.3em 0;

	i{
		display: block;
		margin: 0 $grid-gutter-width;

		&:before{
			content:'"';
			font-family: Georgia, serif;
			font-size: 4rem;
			margin-left: -2rem;
			line-height: 100%;
			letter-spacing: 0;
			color: $gray_lighter;
		}

		.author{
			font-weight: 500;
		}

		padding-bottom: 1.3em;
	}
}


a{
	font-size: 1em;
	color: $gray;
	text-decoration: underline;
	cursor: pointer;
	&:hover, &:active{
		color: $brand-primary;
		cursor: pointer;
	}

	&.contact-email{
		color: $brand-primary;
		cursor: pointer;
		&:hover{
			text-decoration: none;
			cursor: pointer;
		}
	}
}

img{
	border:none;
	float:left;

	&.alignRight{
		float:right;
	}
}

.has-success .form-control{
	background: #f2fff2;
}

.has-error .form-control{
	background: #fff8f9;
	border-color: $brand-danger;
}

.form-group{
	margin-right: 0.8rem;

	span.help-block{
		font-size: 0.8rem;
		letter-spacing: 0;
		//text-transform: uppercase;
		font-weight: 400;
		border: 1px solid $brand-danger;
		background: #ffc1c9;
		@include border-radius(3px);
		color: #c70018;
		display: inline-block;
		padding: 0.2rem 0.5rem;

		&:before{

		}
	}
}

/** ******************* **/
/** BOOTSTRAP OVERRIDES **/
/** ******************* **/
.btn-primary{
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
	border:none;
	padding: 8px 8px 5px;
	line-height: 125%;
	text-decoration: none;

	@include border-radius();

	&:hover{
		border:none;
	}

	&:after{
		content: " >";
		float: right;
	}

	&.facebook-icon{
		background-image: url("../content/_global/images/social/facebook_icon.png");
		background-size: 30px auto;
		background-repeat: no-repeat;
		background-position: 8px 82px;
		&:after{
			content:"";
		}
	}

	&.btn-large{
		min-height: 120px;
	}

	&.no-arrow{
		&:after{
			content: "";
		}
	}
}

.form-control{
	margin: 0.4rem 0;
	width: 100%;

	&.zip{
		width: 80px;
	}

	&.number{
		width: 50px;
	}
}

/** ************** **/
/** HELPER CLASSES **/
/** ************** **/
.vspace-full{ margin-top: $grid-gutter-width;  margin-bottom: $grid-gutter-width; }
.vspace-half{ margin-top: ($grid-gutter-width/2); margin-bottom: ($grid-gutter-width/2); }
.vspace-top-full{ margin-top: $grid-gutter-width; }
.vspace-top-half{ margin-top: ($grid-gutter-width/2); }
.vspace-bottom-full{ margin-bottom: $grid-gutter-width; }
.vspace-bottom-half{ margin-bottom: ($grid-gutter-width/2); }

.text-center{ text-align: center; }
.text-right{ text-align: right; }

.gray{ background: $gray-lighter; }
.light-gray{ background: $gray-ultra-light; }
.blue{ color: $brand-primary;}

/** ***************************** **/
/** GLOBAL SITE STRUCTURE CLASSES **/
/** ***************************** **/
.fullscreen-container, .media-container{
	width: 100%;
	position: relative;
}


.video__source{
		width: 1248px;
		height: auto;

		video{
			//min-height: 1248px;
			min-width: 1248px;
			margin: 0 auto;
			background: transparent;
		}
	}

.media-container{
	overflow: hidden;
	height: 400px;

	.video__source{
		width: 100%;
		height: 400px;

		video{
			min-height: 400px;
			min-width: 100%;
			margin: 0 auto;
			background: transparent;
		}
	}

	.video__poster{
		min-width: 100%;
		min-height: 400px;
	}
}

.container, .media-container, .fullscreen-container{
	.container-overlay{
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		.overlay-centered{
			text-align: right;
			vertical-align: middle;
			display: inline-block;
			width: 100%;
		}
	}

	&.top-border-container{
		border-top: 1px solid $gray-lighter;
	}
}

.container-large{
	width: 1248px;

	.row{
		margin-left: 0;
		margin-right: 0;
	}
}

.colEqualHeight{
	overflow: hidden;
	.row{
		margin-bottom: -99999px;
		padding-bottom: 99999px;
	}
}


/** *************************** **/
/** GLOBAL SITE STYLING CLASSES **/
/** *************************** **/

.oneworld-logo{
	img{
		width: 220px;
		height: auto;
	}
}
.oneworld-slogan{
	background: $white;
	display: inline-block;
	margin-top: 3px;
	padding: 10px 10px 8px;
	p{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 1.18rem;
		color: $brand-primary;
		font-weight: 600;
		line-height: 110%;
	}
}

.oneworld-quote{
	font-weight: 500;
	color: $gray_ultra_light;
	font-size: 1.3em;
	float: left;
	vertical-align: bottom;
	line-height: 125%;
	margin-top: $grid-gutter-width/3;
	//background: rgba(255,255,255,0.7);
	padding: 10px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
	.fat{
		font-size: 1.2em;
		text-transform: uppercase;
		font-weight: 600;
	}

	.dash{ display: none; }
}

@media (min-width: $screen-sm-min){
	.oneworld-quote{
		margin-top: 74px;
		font-size: 1.4em;
		line-height: 100%;
		.fat{
			font-size: 1.3em;
		}

		.dash{
			display: inline;
		}
	}
}

@media (min-width: $screen-md-min){
	.oneworld-quote{
		font-size: 1.5em;
		.fat{
			font-size: 1.4em;
		}
	}
}



// Header One World logo
.ow_logo_wrapper{
	.oneworld_header{
		.logo{
			display: block;
			img{
				width: 150px;
				height: auto;
				margin: 0 auto;
				display: block;
				float: none;
			}
		}

		p{
			margin: 5px 0 0;
			padding: 0;
			padding-bottom: 1rem;
			font-weight: 400;
			font-size: 0.7rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 100%;
			text-align: center;
			b{
				font-weight: 600;
			}
		}
	}
}

.notfound{
	.emphasise{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.4rem;
		letter-spacing: 0;
		margin-top:0;
	}

	li{
		a{
			font-weight: 500;
		}
	}
}

.readthis, .alert-info{
	background: rgba(48, 194, 255, 0.1);
	border: none;
	@include border-radius(15px);
	padding: $grid-gutter-width/3;
	ul{
		margin: 0;
		padding: 0 0 0 $grid-gutter-width/3;
		li{
			font-size: 1rem;
			letter-spacing: 0;
			margin: 0.2rem 0;
			color: #2f4852;
			font-style: italic;
		}
	}

	font-size: 1rem;
	letter-spacing: 0;
	color: #2f4852;
	font-style: italic;
}

@media (min-width: $screen-sm-min){
	.ow_logo_wrapper{
		padding: 0 15px;
		.oneworld_header{
			margin-top: 0;
			.logo{
				img{
					width: 100px;
				}
			}
			p{
				font-size: 0.7rem;
				padding: 0 0 8px 0;
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	.ow_logo_wrapper{
		padding: 0 15px 0 25px;
		.oneworld_header{
			margin-top: 20px;
			.logo{
				img{
					width: 125px;
					float:left;
					margin: 0 10px 0 0;
				}
			}
			p{
				padding:0;
				padding-top: 15px;
				max-width: 280px;
				text-align: left;
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	.ow_logo_wrapper{
		padding: 0 15px;
		.oneworld_header{
			margin-top: 20px;
			p{
				margin: 0;
				padding-top: 22px;
				max-width: none;
			}
		}
	}
}

// Sidebar
.sidebar{
	background: $gray_ultra_light;
	padding: $grid-gutter-width/2;
	margin-top: $grid-gutter-width/2;

	h2{
		font-size: 0.9rem;
		letter-spacing: 1px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.emphasis{
		color: $gray-lighter;
		text-transform: uppercase;
		font-size: 1rem;
		line-height: 110%;
		margin: 10px 0 20px;
		font-weight: 500;
	}
}

@media (min-width: $screen-md-min){
	.sidebar{
		background: none;
		padding: 0 $grid-gutter-width/2;
		margin-top: 0;
	}
}


// SOCIAL ICONS //
// homepage

	.social, .social-mobile{
		display: inline-block;
		height: 25px;
		vertical-align: bottom;
		a{
			width: 25px;
			height: 25px;
			display:inline-block;

			&.facebook{
				.fa{
					background: url('../images/social/facebook_grey.png') no-repeat;
					width: 25px;
					height: 25px;
				}

				&:hover{
					.fa{
						background: url('../images/social/facebook_blue.png') no-repeat;
						width: 25px;
						height: 25px;
					}
				}
			}

			&.twitter{
				.fa{
					background: url('../images/social/twitter_grey.png') no-repeat;
					width: 25px;
					height: 25px;
				}

				&:hover{
					.fa{
						background: url('../images/social/twitter_blue.png') no-repeat;
						width: 25px;
						height: 25px;
					}
				}
			}

			&.instagram{
				.fa{
					background: url('../images/social/instagram_grey.png') no-repeat;
					width: 25px;
					height: 25px;

				}

				&:hover{
					.fa{
						background: url('../images/social/instagram_blue.png') no-repeat;
						width: 25px;
						height: 25px;
					}
				}
			}
		}
	}

	.social-mobile{
		height: 30px;
		a{
			width: 30px;
			height: 30px;

			&.facebook, &.twitter &.instagram{
				width: 30px;
				height: 30px;
			}

			&.facebook:hover{
				.fa{
					background: url('../images/social/facebook_dblue.png') no-repeat;
				}
			}

			&.twitter:hover{
				.fa{
					background: url('../images/social/twitter_dblue.png') no-repeat;
				}
			}
			&.instagram:hover{
				.fa{
					background: url('../images/social/instagram_dblue.png') no-repeat;
				}
			}
		}
	}
//
.social-icons{
	background: $brand-primary;
	@include border-radius(6px);
	display: inline-block;
	padding: 0.4rem 0.5rem 0.1rem 0.3rem;
	margin :0;
	&:after{
		content:'';
	}

	.text{
		width: 40px;
		display: inline-block;
		float: left;
		white-space: pre-wrap;      /* CSS3 */
		white-space: -moz-pre-wrap; /* Firefox */
		white-space: -pre-wrap;     /* Opera <7 */
		white-space: -o-pre-wrap;   /* Opera 7 */
		word-wrap: break-word;      /* IE */
		text-align: right;
		margin-right: 5px;
		line-height: 100%;
		font-size: 0.85rem;
		letter-spacing: 1px;
	}

	img{
		display: inline-block;
		height: 24px;
		width: auto;

		&.facebook{
			margin-right: 5px;
		}
	}
}


/** ******* **/
/** IMPORTS **/
/** ******* **/
//
@import "header";
@import "footer";
///@import "navigation_payment";

// pages
//@import "pages/home";
///@import "pages/homev3";
///@import "pages/projects";
///@import "pages/participate";
//@import "pages/productselect";
///@import "pages/productselectv2.scss";
///@import "pages/learnmore";
//@import "pages/basket";
///@import "pages/basketv2";
//@import "pages/paymentconfirmation";
///@import "pages/paymentconfirmationv2";
///@import "pages/community";
///@import "pages/home_tmlfirsttickets";
///@import "pages/home_versuz";
///@import "pages/home_open";
///@import "pages/home_tfl";

///@import "pages/neighbours";
///@import "pages/preview";



// TEMP
//@import "pages/create";
// hack
#creative-wrapper {
	.floater01{
		left: -940px !important;
		z-index: 1;
	}
	.floater02{
		z-index: 1;
	}

	#create-your-own{
		h2{
			margin-bottom: 10px;
		}
	}
	.editor{
		margin-top: 10px;
		font-size: 1.1rem;
		line-height: 100%;
		text-transform: uppercase;

		a:hover{
			text-decoration: none;
		}

		&:before{
			content: " ";
			height: 36px;
			width: 25px;
			margin: 15px 0;
			background: url(../content/_global/images/creativeupload/arrow_down_gray.png) no-repeat top center;
			background-size: 25px 36px;
			display: block;
			margin-left: 50%;

		}
	}

	#upload-wrapper{
		margin-bottom: 110px !important;
	}

	.school_logos{
		z-index: 2;
		.img01{}
		.img02{
			height: 80px;
		}
		.img03{
			height: 80px;
		}
		.img04{
			height: 60px;
			margin-left: 30px;
		}
		.img05{
			height: 70px;
			margin-left: 30px;
		}

		.row2{
			margin-top: 20px;
		}

		.img06{
			height: 80px;
		}

		.img07{
			height: 75px;
			margin-left: 30px;
		}

		.img08{
			height: 70px;
			margin-left: 30px;
		}
	}
}




html, body{
	min-height: 100%;
	height:100%;
}


#closingpage{
	background: url(/images/thankyou/bg.jpg) no-repeat;
	background-position: center center;
	min-height: 100%;
	height:100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.row.logo{
		//background: rgba(255, 255 ,255, 0.85);
	}
	.pot_logo{
		width: 200px;
		margin: 50px 0 0;

	}
	.thankyou{
		background: rgba(0, 0, 0, 0.7);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		.big_text{
			color: white;
			font-size: 9rem;
			line-height: 100%;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			margin: 5rem 0 0;
			text-shadow: 0 1px 10px rgba(0,0,0,0.7);
		}
		p{
			color: white;
			font-size: 1.8rem;

		}

		p.sub-text{
			color: white;
			text-align: center;
			margin: 0 0 5rem 0;
			font-size: 1.96rem;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 100%;
		}



		.social_wrapper{
			display: block;
			margin: 7rem 0 4rem;
			p{ margin-bottom: 1.5rem; }
		}

		a.social-linkss{
			display: inline-block;
			color: white;
			border-bottom: none;
			text-decoration: none;
			width: 60px;
			height: 60px;
			margin: 0;
			padding: 0;
			text-align: center;
			-webkit-transition: background 0.2s ease-in-out;
			-moz-transition: background 0.2s ease-in-out;
			-ms-transition: background 0.2s ease-in-out;
			-o-transition: background 0.2s ease-in-out;
			transition: background 0.2s ease-in-out;
			font-size: 2.5rem;

			.fa{
				line-height: 60px;
			}
			&.facebook{
				background: #305891;
				&:hover{background: #3d6fb7;}
			}

			&.twitter{
				background: #2fa0ff;
				&:hover{background: #40a8d2;}
			}

			&.instagram{
				background: #20668c;
				&:hover{background: lighten(#20668c, 10%);}
			}
			i{

			}
		}
	}
}

