header{
	margin-bottom: 0 !important;
	#logo{
		display: inline-block;	
		margin: 40px 20px 10px 0;
		vertical-align: bottom;
		width: 100%;

		img{
			width: 172px;
			height: auto;
			margin: 0 auto;
			display: block;
			float: none;
		}
	}

	p{
		display: block;
		margin: 0 auto;
		padding: 0;
		vertical-align: bottom;
		font-size: 0.8em;
		text-align: center;
	}


	.col-sm-4{
		text-align: center;
	}
}

@media screen and (min-width: $screen-sm-min){
	header{
		#logo{
			margin: 40px 20px 10px 0;
			width: 172px;
		}

		p{
			display: inline-block;
			margin: 40px 15px 12px 0;
			text-align: left;
		}
	}

	.col-sm-4{
		text-align: left;
	}
}

@import "navigation";
