#main-navigation{
	margin: 60px 0 0;
	padding: 0;
	vertical-align: bottom;
	display: inline-block;
	//background: $test;

	&.navbar{
		min-height: 10px;
		border: none;
	}

	.nav{
		vertical-align: bottom;
		margin: 0;
		padding: 0;
		border:none;
		li{
			margin: 0;
			padding: 0;
			border:none;
			a{
				background: $brand-primary;
				text-decoration: none;
				color: $white;
				padding: 6px 12px 15px;
				text-transform: uppercase;
				font-weight: 500;
				border:none;

				-webkit-border-top-left-radius: 10px;
				-webkit-border-top-right-radius: 10px;
				-moz-border-radius-topleft: 10px;
				-moz-border-radius-topright: 10px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;

				&:hover{
					background: $link-hover-color;
					color: $white;
				}
			}

			&:after{
				content:'';
				width: 0;
				height: 0;
			}
		}
	}

	&:after{
		content:'';
		width: 0;
		height: 0;
	}
}

@media (min-width: $screen-sm-min){
	#main-navigation{
		display: block;
	}
}