@import "bourbon";
@import "colors";
@import "fonts";


@import "bootstrap-variables";
@import "bootstrap";


// general things
html{
	font-size: 100%;
}
body{
	width: 100%;
	height: 100%;
	position: relative;
	vertical-align: top;
	font-size: 100%;

	font-family: $font_family_base;


	#main{
		width: 100%;
		position: relative;
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: $font_family_base;
}

h1{
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 1em;
	margin-bottom: 2em;
	text-transform: uppercase;
	color: $gray;
	&.light{
		color: $brand-primary;	
	}
}

h2{
	margin: 0;
	padding: 0;
	font-size: 1em; 
	text-transform: uppercase;
	margin-bottom: 1em;

	&.blue{
		color: $white;
		background: $brand-primary;
		display: inline;
		padding: 2px 5px 0;
	}
}

h3{

}

h4{

}


h5{

}

p{
	font-size: 1em;
	line-height: 150%;
	font-weight: 400;
	color: $gray;
	margin: 1.3em 0;


}


a{
	font-size: 1em;
	color: $gray;
	text-decoration: underline;
	&:hover, &:active{
		color: $brand-primary;
	}
}
.imgcontainer{
	width: 100%;
	height: auto;
	
	img{
		width: 100%;
		height: auto;
	}

	&.bm{
		img{
			margin: 3em 0 1em;
		}
	}

	&.bm2{
		img{
			margin: 1em 0 0;
		}
	}
}
.btn-primary{
	font-weight: 500;
	text-transform: uppercase;
	text-align: left;
	border:none;
	padding: 10px 10px 7px;
	line-height: 110%;
	text-decoration: none;
	font-size: 1.25em;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	

	&:after{
		content: " >";
		float: right;
	}

	&:hover{
		border:none;
	}
}

.space{
	margin-bottom: 60px;
}

img{
	border:none;
	//float:left;
}

.fullscreen-container{
	margin:0 auto; 
	padding:0;

	&.gray{
		background: #F5F5F5;
		padding: 60px 0 1px 0;
	}
}

.media-container{
	overflow: hidden;
	height: 400px;
	width: 100%;
	position: relative;

	.media-container__overlay{
		position: absolute;
		z-index: 3;
		width: 100%;

		.media-container__overlay__positioning{
			margin-top: 60px;
		}
	}

	img{
		width: 100%;
		min-height: 400px;
	}
}

.container, .fullscreen-container, .media-container{
	margin-bottom: $grid-gutter-width;
}

.media-placeholder{
	background: #EEE;
}

@media (max-width: 1920px){
	.media-container{
		&.aq{
			img{
				height: 400px;
				width: auto;
			}
		}
	}
}

@media (max-width: 1280px){
	.media-container{
		&.gb{
			img{
				height: 400px;
				width: auto
			}
		}
	}
}

@import "header";
@import 'navigation';
@import "pages/upload";
@import "footer";
