.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin border-radius($radius: 10px){
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
    behavior: url("behaviors/PIE.htc");
}

$form_placeholder_prefixes: ('::-webkit-input-placeholder', ':-moz-placeholder', '::-moz-placeholder', ':-ms-input-placeholder', '::input-placeholder', '::placeholder' );
@each $prefix in $form_placeholder_prefixes {

    input[placeholder]#{$prefix},
    textarea[placeholder]#{$prefix} {
        text-transform: uppercase;
        color: #B5B5B5;
    }

}