.basket{
	&.summary{
		background: url('/images/wood_blue.jpg') no-repeat;
		background-size: 100%;
		background-position: top center; 

		.title{
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 1.25rem;
			
			>div{
				padding: 0 15px; 
			}

			small{
				font-size: 0.9rem;
				text-transform: none;
			}
		}

		.content{
			color: $deep-blue;
			font-size: 0.9rem;
			text-transform: uppercase;
			margin-top: 20px;

			>div{
				padding: 0 15px;
			}

			small{
				text-transform: none;
			}
		}
	}


	form#basket_form{
		.col-input{
			margin: 0;
			padding: 0;
		}

		.form-group{ 
			.col-input{
				height: 34px;
			}

			&.has-error{
				.col-input{
					height: 65px;
				}
			}
		}

		h2{
			color: $white;
			font-weight: 400;
			text-align: center;
			font-size: 1.56rem;
			text-transform: none;
			margin:0;
			padding: 1rem;
		}
		input{
			margin: 0;
			padding: 7px 10px;
			font-size: 1rem;
			line-height: 100%;
			height: auto;
		}

		label.control-label{
			color:$brand-primary;
			padding-right: 10px;

			&.checkbox{
				font-weight: 600;
				margin: 0 0 0 10px;
				padding: 0;

				a{
					color:$deep-blue;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		.col-checkbox{
			margin: 0;
			padding: 0;
			font-weight: 600;
			.checkbox{
				padding: 20px 0 0 0;

				#terms{
					vertical-align: top;
					margin-top: 2px;
				}

				label{
					vertical-align: top;
				}
			}
		}
		.btn-submit{
		 	background: url("/images/homev3_cta_btn.png") no-repeat;
			background-position: top center;
			background-size: 130px;
			min-height: 170px;
			width: 130px;
			//margin: 0 auto;
			margin: 0 4px;
			cursor: pointer;
			outline: none;
			border: none;

			&:active, &:focus { outline: none; border:none; }

			span{
				text-align: center;
				display: block;
				font-weight: 600;
				letter-spacing: 0;
				text-transform: uppercase;
				text-align: center;
				line-height: 100%;
				text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);

				&.l1{
					font-size: 1.5rem;
					color: $brand-primary;
					line-height: 100%;
				}

				&.l2{
					font-size: 2rem;
					color: $deep-blue;
				}
			}

			&:after{
				content: '';
			}
		}


		.ogone_details{
			margin-top: 1rem;
		}

		.ogone_handledby{
			font-size: 0.9rem;
			margin: 4px;
			vertical-align: top;
		}

		.ogone_icon{
			margin: 0 0 0 3px;
		}
	}
}