.basket{
	&.vspace-full{
		margin-top: $grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;
	}

	p.description{
		margin-top: 0.5rem;
	}

	&.payment_overview{
		.background-wrapper{
			padding: $grid-gutter-width/2 $grid-gutter-width/2 0; 
			@include border-radius();
			overflow: hidden;
		}

		.productheader{
			margin: 0; 
			.col-header{
				text-transform: uppercase;
				font-size: 0.875rem;
				font-weight: 500;
				padding: 1rem 0;
				margin: 0;

				&.col-xs-0{
					padding: 0;
					margin: 0;
					height: 0;
				}
			}
		}
		.productrow{
			padding: 1rem 0;
			margin: 0;
			letter-spacing: 0;

			.productname{
				text-align: left;
				font-weight: 500;
				margin: 0.5rem 0;
			}

			>div{
				margin-left: 0;
				margin-right: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.totals{
			padding: 0;
			margin-top: $grid-gutter-width/3;

			.payment_total{
				background: $gray-lighter;
				text-transform: uppercase;
				color :$white;
				font-weight: 600;
				padding: 1rem $grid-gutter-width/2;
				letter-spacing: 0;
				span.right{ 
					float: right;
				}
			}
		}

		.order_edit{
			text-align: right;
			margin-top: 0.2rem;
			a{
				font-size: 0.875em;
				text-transform: lowercase;
				letter-spacing: 0;
			}
		}
	}

	&.image{
		padding: 0;
		overflow: hidden;

		.row{
			padding: 0;
			position: relative;
			img{
				width: auto;
				height: 300px;
			}
			
			.col-md-9{
				@include clearfix;
				position: relative;
			}
			

			.container-overlay{
				padding: 0;

				left: $grid-gutter-width/2;
				right: $grid-gutter-width/2;
				.dark{
					margin: $grid-gutter-width/3;
					display: block;
					font-size: 0.8rem;
					text-transform: uppercase;
					font-weight: 500;
					b{
						font-weight: 600;
						line-height: 150%;
					}
				}

				.light{
					margin-left: $grid-gutter-width/3;
					margin-top: $grid-gutter-width/4;

					ul{
						margin: 0;
						padding: 0;
						list-style-type: none;
						li{
							margin: 0.5rem 0;
							padding: 0;
							text-transform: uppercase;
							font-size: 1.2rem;
							color: $white;
							font-weight: 500;
							line-height: 100%;
							text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
							
							span{
								display: none;
							} 
						}
					}					
				}
			}
		}
	}

	.payment_ogone{
		margin-top: $grid-gutter-width/2;
		text-align: left;
		.cta{
			a{
				font-weight: 600;
				font-size: 1.3rem;
			}
		}
		.ogone_details{
			margin-top: 1rem;
		}

		.ogone_handledby{
			font-size: 0.75rem;
			margin: 4px;
			vertical-align: top;

		}

		.ogone_icon{
			float: none;
		}
	}

	.form-group{
		margin-bottom: 0;
		.form-control{
			margin: 0;
		}

		.col-md-6{
			margin:0;
			padding: 0;
		}
	}
}

.payment_underline{
	border-bottom: 1px solid $gray-lighter;
}

.payment_aboveline{
	border-top: 1px solid $gray-lighter;
}

h2.payment_underline{
	padding-bottom: 0.5rem;
	margin-bottom: 0;
}

.payment_agree{
	color: $brand-primary;
	font-size: 0.875rem;
}

.payment_disclaimer_link{
	font-size: 0.875rem;
}


@media (min-width: 680px){
	.basket{
		&.vspace-full{
			margin-top: $grid-gutter-width;
			margin-bottom: $grid-gutter-width;
		}

		&.image{
			padding: 0;
			overflow: hidden;
			.row{
				padding: 0 $grid-gutter-width/2;
				img{
					height: auto;
					width: 100%;
					@include border-radius();
				}

				.container-overlay{
					left: 0;
					top: 0;
					margin: $grid-gutter-width/2 0 0 $grid-gutter-width;

					.dark{
						margin : 0;
						font-size: 1.1rem;
						text-transform: uppercase;
						font-weight: 500;
						b{
							font-weight: 600;
							line-height: 250%;
						}
					}

					.light{
						margin-top: 15px;
						text-transform: uppercase;
						margin-left: 1rem;
						
						
						ul{
							li{
								line-height: 110%;
								font-size: 1.6rem;
								span{
									display: inline;
								}  
							}
						}
						
					}
				}
			}
		}

		.payment_ogone{
			margin-top: 0;
			text-align: right;
			.cta{
				a{
					font-weight: 600;
					font-size: 1.5rem;
				}
			}
			.ogone_details{
				margin-top: 1rem;
			}

			.ogone_handledby{
				font-size: 0.75rem;
				margin: 4px;
				vertical-align: top;

			}

			.ogone_icon{
				float: right;
			}
		}
	}
}

@media (min-width: $screen-sm-min){
	.basket{
		&.payment_overview{
			.productrow{
				.productname{
					margin: 0;
				}
			}
		}
	}
}
@media (min-width: $screen-md-min){}
@media (min-width: $screen-lg-min){}





