.community{
	.top{
		font-size: 1.1rem;
		text-transform: uppercase;
		font-weight: 500;
		color: $white;
		b{
			font-weight: 600;
			line-height: 250%;
		}
	}

	.bottom{
		margin-top: 40px;
		text-transform: uppercase;
		font-size: 1.6rem;
		color: $white;
		font-weight: 500;
		margin-left: 1rem;
		line-height: 130%; 
	}
}