$blue: #0bf;
$darkblue: #002d40;

#app {
  background: #fff;
  // margin: 1em 0;
  padding-top: 1em;
  // padding-bottom: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  #paper svg, #canvas {
    // bug in svg->image conversion if letter spacing is not 0
    letter-spacing: 0 !important;
  }
  .form-control {
    margin: 0;
  }
  img {
    float: none;
    max-width: 100%;
  }
  a.btn {
    text-decoration: none;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .btn-primary {
    &:after {
      margin-left: 5px;
    }
  }
  .btn-block {
    text-align: center;
  }
}
#paper-wrapper {
  .form-control {
    width: auto;
    margin: 0;
  }
}
button {
  h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em;
  }
}

#share {
  text-align: center;
  margin: 2em auto;
}

.modal-body {
  .form-control {
    width: 100%;
  }
}

.blue-wood {
  background: $blue url(../content/_global/images/blue-wood.png) center;
  background-size: cover;
  color: #fff;
  .btn-link {
    color: #fff;
    margin-top: 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
}

.grey-wood {
  margin-top: -1em;
  padding-top: 2em;
  background: $blue url(../content/_global/images/light-grey-wood.png) center;
  background-size: cover;
  color: #000;
  p {
    color: #000;
  }
  h2 {
    margin: 0.5em 0;
  }
  .example {
    text-align: center;
    .upload-text {
      margin: 1em 0;
      text-transform: uppercase;
    }
    .examples {
      margin-bottom: 2em;
      p {
        font-size: 0.8em;
      }
      .good h2 {
        font-size: 1.5em;
        text-transform: none;
        font-weight: normal;
        color: $blue;
      }
      .not-good h2 {
        font-size: 1.5em;
        text-transform: none;
        font-weight: normal;
        color: #f00;
      }
    }
  }
}

.blue {
  background-color: $blue;
}

#upload-preview {
  margin-top: 2em;
  margin-bottom: 2em;
}

#paper {
  position: relative;
  margin: 1em 0;
  padding: 0;
  border: 0;
  #paper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/editor-bg.jpg) repeat center center;
    opacity: 0.75;
  }
  #paper-svg {
  }
  svg {
    // opacity: 0.9;
    text tspan {
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */

      /* Rules below not implemented in browsers yet */
      -o-user-select: none;
      user-select: none;
    }
    text {
      cursor: pointer;
    }
  }
}

.modal {
  display: block;
}

.btn-toolbar {
  .btn-group {
    margin-right: 3px;
    .btn-label {
      line-height: 30px;
    }
    .ui-slider {
      min-width: 4em;
      margin: 9px 0.5em;
    }
  }
}

h2.center {
  margin: 1em 0;
  text-align: center;
}

div[data-id=paper] .chardinjs-tooltip {
  margin-right: 200px;
}
.chardinjs-bottom .chardinjs-tooltiptext {
  margin-left: 40px;
}

#select-settings-wrapper {
  // background-color: #f4f4f4;
  padding: 1em 0;
  margin-top: 1em;
  margin-bottom: 1em;
  h2 {
    padding-top: 1em;
    // margin-top: 1em;
    text-align: center;
  }
  button {
    background-color: transparent;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover {
      background-color: #fff;
    }
    &.active {
      color: #fff;
      background-color: #30c0fc;
    }
  }
  .shapes {
    button {
      background-color: #333;
      color: #fff;
      border: 0;
      &:hover {
        background-color: #444;
      }
      &.active {
        background-color: #30c0fc;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      &#square {
        width: 80px;
        height: 80px;

      }
      &#rectangle {
        margin-top: 40px;
        width: 160px;
        height: 40px;
      }
    }
  }
  .fonts {
    max-height: 160px;
    overflow-y: scroll;
    margin-left: -5px;
    margin-right: -5px;
    overflow-x: hidden;
    .column {
      padding-left: 5px;
      padding-right: 5px;
    }
    .font {
      button {
        text-align: left;
        padding-left: 10px;
      }
    }
  }
  .dingbats {
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
    // border: 1px solid #ccc;
    .dingbat {
      width: 25%;
      float: left;
      button {
        font-size: 1.5em;
        line-height: 0.85em;
        height: 32px;
        &.btn:focus {
          outline: none;
          background-color: #fff;
        }
      }
    }
  }
  .backgrounds {
    max-height: 160px;
    overflow-y: scroll;
    margin-left: -5px;
    margin-right: -5px;
    overflow-x: hidden;
    .column {
      padding-left: 5px;
      padding-right: 5px;
    }
    .background {
      .column {
        // margin-bottom: 1em;
        .btn {
          height: 32px;
          img {
            float: none;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

    }
  }
}

.confirm-body {
  text-transform: uppercase;
}
.confirm-extra {
  font-size: 0.8em;
  // text-transform: uppercase;
}

.snippets {
  margin-top: 2em;
}

.preview-wrapper {
  background-color: $blue;
  &.upload, &.paper {
    padding-bottom: 2em;
    margin-bottom: -2em;
  }
}

.preview-wrapper {
  .blue-title {
    margin: 1em 0;
  }
}

.white-text {
  color: #fff;
  text-align: center;
  p {
    color: #fff;
    strong {
      color: #000;
    }
  }
}

#preview-form {
  h2 {
    margin: 1em 0;
  }
  .form-group {
    .control-label {
      float: left;
      width: 33.333%;
      color: #fff;
      text-align: right;
      padding: 6px 12px;
    }
    .form-control {
      float: left;
      width: 66.666%;
    }
    .payment_agree {
      margin-left: 33.333%;
      width: 66.666%;
      .control-label {
        width: auto;
        padding: 0;
      }
    }
  }
}

#preview {
  #image-wrapper.preview {
    margin-bottom: 2em;
  }
}

.submit-button {
  display: block;
  height: 179px;
  background: url(../images/homev3_cta_btn.png) no-repeat center;
  text-shadow: 1px 1px 0 rgba(0,45,64,0.55);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;

  &:hover{
    text-decoration:none;
  }

  span{
    display: block;
    &.l1{
      font-size: 1.56rem;
      color: #0bf;
      padding-top: 75px;
      line-height: 110%;
    }

    &.l2{
      font-size: 2.1rem;
      color: #002f40;
      line-height: 110%;
    }
  }
}

#token-form {
  margin-top: 2em;
  label {
    color: #fff;
  }
  #token {
    float: left;
    width: 80%;
  }
  .btn {
    float: left;
  }
}

#preview {
  #canvas-wrapper {
    display: none;
  }
  // padding: 1em 0;
  #image-wrapper img {
    float: none;
    background: url(../images/editor-bg.jpg) repeat center center;
    display: block;
    margin: 1em auto;
    max-width: 100%;
  }
  .social-icons {
    margin: 0.5em 0;
  }
}

#result {
  padding: 0;
  margin-top: 2em;
  img {
    float: none;
    background: url(../images/editor-bg.jpg) repeat center center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .social-icons {
    margin: 0.5em 0;
  }
}

// navigation

$gray-light:             lighten(#000, 40%); // #676767
$gray-lighter:           lighten(#000, 71%); //b5b5b5
$gray-ultra-light:       lighten(#000, 96%); // #F5F5F5

nav.editor-navigation{
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 0.5em;
  margin-bottom: 3em;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      display: block;
      text-transform: uppercase;
      color: $gray-lighter;
      margin: 0;
      padding: 0.5rem;
      font-size: 0.9em;
      .btn {
        border: none;
        background: transparent;
        padding: 5px;
      }
      span.glyphicon{
        font-size: 0.7em;
        margin-left: 5px;
      }
      &.active{
        color: $gray-light;
        font-weight: 500;
        background: $gray_ultra_light;
        a{

        }
      }

      &.last{
        margin-right: 0;
      }
    }
  }
}

#paper-actions {
  margin-bottom: 2em;
  text-align: center;
}

.blue-title {
  text-align: center;
  color: $blue;
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
}

.white-title {
  text-align: center;
  color: #fff;
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
}

.editor-title {
  position: relative;
  .show-instructions {
    position: absolute;
    right: 0;
  }
}

.centered {
  text-align: center;
}

.follow-us {
  p {
    font-weight: bold;
  }
}

.confirm-result {
  margin-top: -1em;
  padding-bottom: 1em;
}

.confirm {
  margin-bottom: -2em;
  padding-bottom: 2em;
}

// choose

#choose {
  text-align: center;
  margin-left: -5px;
  margin-right: -5px;
  h4 {
    text-transform: uppercase;
  }
  .column {
    padding-left: 5px;
    padding-right: 5px;
    .choose-type {
      cursor: pointer;
      margin-top: 60px;
      position: relative;
      height: 230px;
      padding-bottom: 0.5em;
      p {
        font-weight: bold;
        margin: 1em 0;
        font-size: 13px;
        color: #fff;
        strong {
          color: $blue;
        }
      }
      background: $blue url(../content/_global/images/grey-wood.png);
      img {
        margin-top: -70px;
      }
      .info {
        margin: -0.75em 1em 1em 1em;;
      }
      &.custom {
        background-image: url(../content/_global/images/dark-wood.png);
      }
      &.selected {
        background-image: none;
        strong {
          color: #000;
        }
      }
    }
  }
}

.create-message-now {
  background: $blue;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  margin-bottom: -2em;
}

#choose, #choose-upload {

  button {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;

    background-color: #F5F5F5;
    border: none;
    padding: 0.8rem 1rem 0.7rem;

    overflow: hidden;
    text-align: center;
    background-color: $gray-ultra_light;
    border: 1px solid $gray-ultra_light;
    padding: 20px;
    &:hover {
      background-color: #F0F0F0;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

#order-details {
  width: 50%;
  margin: 1em auto;
  padding: 1em 2em;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  p {
    margin: 1em 0;
  }
}

#special-form {
  label {
    margin-right: 10px;
  }

  input[type='text'],input[type='email']{
    color: #454545;
  }
}

// upload

#upload-design {
  color: $darkblue;
  margin-top: 2em;
  margin-bottom: 2em;
  #progress {
    display: none;
    .progress-bar {
      background-color: $darkblue;
    }
  }
  #upload-form {
    text-align: center;
    input {
      margin: 0 auto;
      background-color: #fff;
      padding: 0.5em 1em;
      color: #000;
    }

    .upload-button{
      display: block;
      width: 160px;
      height: 179px;
      background: url(../images/homev3_cta_btn.png) no-repeat center;
      text-shadow: 1px 1px 0 rgba(0,45,64,0.55);
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      margin: 0 auto;

      &:hover{
        text-decoration: none;
      }

      span{
        display: block;
        &.l1{
          font-size: 1.56rem;
          color: #0bf;
          padding-top: 63px;
          line-height: 110%;
        }

        &.l2{
          font-size: 1.56rem;
          color: #0bf;
          line-height: 110%;
        }

        &.l3{
          font-size: 1.6rem;
          color: #002f40;
          line-height: 110%;
        }
      }
    }
  }
}

#upload-preview {
  img {
    float: none;
    background: url(../images/editor-bg.jpg) repeat center center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .social-icons {
    margin: 0.5em 0;
  }
}

// creative upload

#creative-wrapper {
  margin-top: -20px;
  background: #eee url(../content/_global/images/tiny-grid.png) repeat center center;
  margin-bottom: -30px;

  #creative-header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    position: relative;

    #creative-title{
      h2{ margin-bottom: 2.2em; }
    }

    #creative-example {
      margin-top: -60px;
      margin-bottom: 30px;
      margin-left: -30px;

      img{
        max-width: 917px;
        overflow: visible;
      }
    }

    p{
      margin: 0 auto;
      font-size: 1rem;


      &.narrow{
        width: 50%;
      }

      &.wide{
        width: 80%;
      }
    }
  }
  #create-your-own {
    h2 {
      font-weight: normal;
      text-transform: none;
      font-size: 1.7em;
      margin-left: 20%;
      width: 60%;
      text-align: right;
      text-transform: uppercase;
      margin-top: 25px;

      &:after{
        content: "";
        background: url(../content/_global/images/creativeupload/arrow_right_blue.png) no-repeat left center;
        background-size: 36px 25px;
        width: 36px;
        height: 25px;
        position: absolute;
        top: 25px;
        margin-left: 45px;
      }
    }
  }
  #technical-specs {
    padding: 30px;
    background-color: #fff;
    position: relative;

    h3{
      margin-top: 0;
      color: #525252;
      font-weight: 400;
      font-size: 1.4rem;
      text-align: center;
    }

    h4 {
      font-weight: bold;
      padding-left: 35px;
      line-height: 26px;
      &.do {
        color: #4ec45f;
        background: url(../content/_global/images/do.png) no-repeat left center;
      }
      &.dont {
        color: #e95454;
        background: url(../content/_global/images/dont.png) no-repeat left center;
      }
    }
    p {
      margin: 0.5em 0;
      font-size: 0.8rem;
      font-weight: 500;
      color: #000;
    }

  }
  .grey-arrow-down {
    height: 36px;
    margin: 30px 0;
    background: url(../content/_global/images/creativeupload/arrow_down_gray.png) no-repeat top center;
  }
  #upload-wrapper {
    background-color: $blue;
    padding: 30px;
    color: #fff;
    position: relative;
    #upload-form {
      input {
        color: #000;
      }
      .form-group {
        margin-right: 0;
        clear: both;
      }
      .file {
        padding-bottom: 2em;
        border-bottom: 1px solid #fff;
        input {
          color: #000;
          width: 100%;
        }
      }
      .user {
        label {
          // float: left;
          // width: 60px;
          display: block;
          font-weight: 500;
        }
        input {
          padding: 0.4em 0.5em;
          width: 100%;
          border:none;
        }
      }
      .upload-button {
        display: block;
        height: 179px;
        background: url(../images/homev3_cta_btn.png) no-repeat center;
        text-shadow: 1px 1px 0 rgba(0,45,64,0.55);
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;

        &:hover{
          text-decoration:none;
        }

        span{
          display: block;
          &.l1{
            font-size: 1.56rem;
            color: #0bf;
            padding-top: 75px;
            line-height: 110%;
          }

          &.l2{
            font-size: 2.1rem;
            color: #002f40;
            line-height: 110%;
          }
        }

      }
    }
    margin-bottom: 60px;
  }

  #creative-submit-form {
    text-align: center;
    .form-group {
      margin-right: 0;
      label {
        display: block;
        color: #fff;
      }
      input {
        padding: 0.5em;
        width: 50%;
        color: #000;
      }
    }
  }

  .floater01{
    background: url(../content/_global/images/creativeupload/floater01.png) no-repeat;
    width: 528px;
    height: 205px;
    position: absolute;
    bottom: 400px;
    left: -700px;
  }

  .floater02{
    background: url(../content/_global/images/creativeupload/floater02.png) no-repeat;
    background-size: 484px 237px;
    width: 484px;
    height: 237px;
    position: absolute;
    bottom: 60px;
    left: -600px;
  }

  .floater03{
    background: url(../content/_global/images/creativeupload/floater03.png) no-repeat;
    background-size: 157px 236px;
    width: 157px;
    height: 236px;
    position: absolute;
    left: 500px;
    bottom: -100px;
  }

  .floater04{
    background: url(../content/_global/images/creativeupload/floater04.png) no-repeat;
    background-size: 206px 206px;
    width: 206px;
    height: 206px;
    position: absolute;
    right: -240px;
    top: 110px;
  }

  .editor{
    text-align: center;
    font-size: 1.1rem;
    //color: black;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 500;
    line-height: 100%;

    a{
      color: $blue;
      &:hover{
        text-decoration: none;
      }
    }

    &:before{
      content: "";
      background: url(../content/_global/images/creativeupload/arrow_right_blue.png) no-repeat left center;
      background-size: 36px 25px;
      width: 36px;
      height: 25px;
      position: absolute;
      top: 25px;
      margin-left: 50px;
    }
  }

  .responsive-image{
    margin-bottom: 50px;
  }
}

// editor creative

#creative-submit-form, #tfl-submit-form {
  text-align: center;
  .form-group {
    margin-right: 0;
    label {
      display: block;
      color: #fff;
    }
    input {
      padding: 0.5em;
      width: 50%;
    }
  }
}

// chardin

@mixin transition($property) {
  -webkit-transition: $property;
     -moz-transition: $property;
      -ms-transition: $property;
       -o-transition: $property;
          transition: $property;
}

.chardinjs-overlay {
  position: absolute;
  z-index: 999999;
  background-color: #111;
  opacity: 0;
  @include transition(all 0.3s ease-out);
}

.chardinjs-helper-layer {
  position: absolute;
  z-index: 9999998;
  color: white;
  @include transition(all 0.3s ease-out);

  &.chardinjs-left { border-left: solid white 1px; margin-left: -10px; }
  &.chardinjs-right { border-right: solid white 1px; padding-right: 10px; }
  &.chardinjs-bottom { border-bottom: solid white 1px; padding-bottom: 10px; }
  &.chardinjs-top { border-top: solid white 1px; padding-top: 10px; }
}

.chardinjs-tooltip {
  position: absolute;
  @include transition(opacity 0.1s ease-out);
  max-width: 200px;

  &.chardinjs-left { margin-left: -135px; padding-right: 10px; }
  &.chardinjs-right { margin-right: -135px; padding-left: 10px; }
  &.chardinjs-bottom { margin-bottom: -50px; padding-top: 10px; }
  &.chardinjs-top { margin-top: -50px; padding-bottom: 10px; }

  &.chardinjs-right:before, &.chardinjs-left:after, &.chardinjs-bottom:before, &.chardinjs-top:after {
    content: ".";
    display: inline-block;
    background-color: white;
    height: 1px;
    overflow: hidden;
    position: absolute;
  }

  &.chardinjs-right:before, &.chardinjs-left:after {
    width: 100px;
    top: 50%;
  }

  &.chardinjs-bottom:before, &.chardinjs-top:after {
    width: 1px;
    height: 50px;
    left: 50%;
  }

  &.chardinjs-bottom:before { top: -50px; }
  &.chardinjs-top:after { bottom: -50px; }
  &.chardinjs-right:before { left: -100px; }
  &.chardinjs-left:after { right: -100px; }
}

.chardinjs-show-element {
  z-index: 9999999;
  opacity: 0.66;
}

.chardinjs-relative-position {
  position: relative;
}

// editor fonts

@font-face {
    font-family: 'Octin Spraypaint';
    src: url('../fonts/octin_spraypaint_free-webfont.eot');
    src: url('../fonts/octin_spraypaint_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/octin_spraypaint_free-webfont.woff') format('woff'),
         url('../fonts/octin_spraypaint_free-webfont.ttf') format('truetype'),
         url('../fonts/octin_spraypaint_free-webfont.svg#octin_spraypaint_freeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Peach Milk';
    src: url('../fonts/peach_milk-webfont.eot');
    src: url('../fonts/peach_milk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/peach_milk-webfont.woff') format('woff'),
         url('../fonts/peach_milk-webfont.ttf') format('truetype'),
         url('../fonts/peach_milk-webfont.svg#peach_milkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Reclaim';
    src: url('../fonts/reclaim-webfont.eot');
    src: url('../fonts/reclaim-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/reclaim-webfont.woff') format('woff'),
         url('../fonts/reclaim-webfont.ttf') format('truetype'),
         url('../fonts/reclaim-webfont.svg#reclaimregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sweetly Broken';
    src: url('../fonts/sweetly_broken-webfont.eot');
    src: url('../fonts/sweetly_broken-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sweetly_broken-webfont.woff') format('woff'),
         url('../fonts/sweetly_broken-webfont.ttf') format('truetype'),
         url('../fonts/sweetly_broken-webfont.svg#sweetly_brokenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Tattoo Ink';
    src: url('../fonts/tatti___-webfont.eot');
    src: url('../fonts/tatti___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tatti___-webfont.woff') format('woff'),
         url('../fonts/tatti___-webfont.ttf') format('truetype'),
         url('../fonts/tatti___-webfont.svg#tattoo_inkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Another Typewriter';
    src: url('../fonts/atwriter-webfont.eot');
    src: url('../fonts/atwriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/atwriter-webfont.woff') format('woff'),
         url('../fonts/atwriter-webfont.ttf') format('truetype'),
         url('../fonts/atwriter-webfont.svg#another_typewriterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Atman Dings';
    src: url('../fonts/atman-di-webfont.eot');
    src: url('../fonts/atman-di-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/atman-di-webfont.woff') format('woff'),
         url('../fonts/atman-di-webfont.ttf') format('truetype'),
         url('../fonts/atman-di-webfont.svg#atman_dingsatman_dings') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Awesome';
    src: url('../fonts/awesome-webfont.eot');
    src: url('../fonts/awesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/awesome-webfont.woff') format('woff'),
         url('../fonts/awesome-webfont.ttf') format('truetype'),
         url('../fonts/awesome-webfont.svg#awesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Breakdown';
    src: url('../fonts/font_breakdown-webfont.eot');
    src: url('../fonts/font_breakdown-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_breakdown-webfont.woff') format('woff'),
         url('../fonts/font_breakdown-webfont.ttf') format('truetype'),
         url('../fonts/font_breakdown-webfont.svg#font_breakdownregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Frenchy';
    src: url('../fonts/frenchy-webfont.eot');
    src: url('../fonts/frenchy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frenchy-webfont.woff') format('woff'),
         url('../fonts/frenchy-webfont.ttf') format('truetype'),
         url('../fonts/frenchy-webfont.svg#frenchyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'From This Moment';
    src: url('../fonts/from_this_moment-webfont.eot');
    src: url('../fonts/from_this_moment-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/from_this_moment-webfont.woff') format('woff'),
         url('../fonts/from_this_moment-webfont.ttf') format('truetype'),
         url('../fonts/from_this_moment-webfont.svg#from_this_momentregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mailart Graphics';
    src: url('../fonts/mailg___-webfont.eot');
    src: url('../fonts/mailg___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mailg___-webfont.woff') format('woff'),
         url('../fonts/mailg___-webfont.ttf') format('truetype'),
         url('../fonts/mailg___-webfont.svg#mailart_graphics') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Marcelle Swashes';
    src: url('../fonts/marcs___-webfont.eot');
    src: url('../fonts/marcs___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/marcs___-webfont.woff') format('woff'),
         url('../fonts/marcs___-webfont.ttf') format('truetype'),
         url('../fonts/marcs___-webfont.svg#marcelle_swashesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mari David';
    src: url('../fonts/maridavid_bold-webfont.eot');
    src: url('../fonts/maridavid_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maridavid_bold-webfont.woff') format('woff'),
         url('../fonts/maridavid_bold-webfont.ttf') format('truetype'),
         url('../fonts/maridavid_bold-webfont.svg#maridavid_boldmaridavid_bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Mari David';
    src: url('../fonts/maridavid-webfont.eot');
    src: url('../fonts/maridavid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maridavid-webfont.woff') format('woff'),
         url('../fonts/maridavid-webfont.ttf') format('truetype'),
         url('../fonts/maridavid-webfont.svg#maridavidregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mrs Monster';
    src: url('../fonts/mrsmonster-webfont.eot');
    src: url('../fonts/mrsmonster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mrsmonster-webfont.woff') format('woff'),
         url('../fonts/mrsmonster-webfont.ttf') format('truetype'),
         url('../fonts/mrsmonster-webfont.svg#mrs._monsterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PoT Icons';
    src: url('../fonts/potfontok2-webfont.eot');
    src: url('../fonts/potfontok2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/potfontok2-webfont.woff') format('woff'),
         url('../fonts/potfontok2-webfont.ttf') format('truetype'),
         url('../fonts/potfontok2-webfont.svg#untitledregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Angel Tears';
    src: url('../fonts/angel___-webfont.eot');
    src: url('../fonts/angel___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angel___-webfont.woff') format('woff'),
         url('../fonts/angel___-webfont.ttf') format('truetype'),
         url('../fonts/angel___-webfont.svg#angel_tearstrial') format('svg');
    font-weight: normal;
    font-style: normal;

}

#choose-upload h3{
  color: #30C2FF;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: normal;
}

#choose-upload .minor h3{
  color: #676767;
  font-size: 0.9rem;
}

 #choose-upload button{
  margin: 0.5rem 1em;
  text-transform: uppercase;
  font-size: 0.875rem;
 }


 #choose-upload button.btn-primary{
    background-color: #30C2FF;
 }
 #choose-upload button.btn-primary:hover{
  background: #00B4FF;
}

  #choose-upload button.btn-primary:after{
    content: '';
  }

  #choose-upload .info{
    margin-top: 0.5rem;

  }

  #choose-upload .info li{
     font-size: 0.875rem;
  }


.more_info{
  font-weight: 400;
  margin-top: 1rem;
  /*font-size: 1rem;*/
}

.more_info_second{
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.more_info2{
  margin-top: 1rem;
  white-space:normal;
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic;
}

#paper-actions {
  margin-bottom: 2em;
}


// TODO: move this to correct scss file...
header {
  .social {
    margin-top: 20px;
    img {
      float: none;
      margin: 3px;
    }
  }
}

  .newhome .slider h2 {
    font-size: 50px;
    top: 140px;
    padding: 20px;
    // @include border-radius(15px);
    border-radius: 15px;

  }

  .newhome .slider .oneworld {
    position: absolute;
    left: 60px;
    top: 60px;
  }
