.homepage_v3{
	.imagegrid{
		.resizer{
			.griditem{
				padding: 0;
				position: relative;

				&.cta{
					background: $brand-primary;
					display: block;
					height: auto;

					@include clearfix;
				}

				&.gridimg{
					overflow: hidden;
					img{
						width: 100%;
						height: auto;
						border: 0;
						border:none;
					}
				}
			}

			margin: 0 30px;

			h2{
				color: $white;
				text-align: center;
				text-shadow: 1px 1px 2px rgba(0, 45, 64, 0.55);
				text-transform: uppercase;
				font-size: 1.7rem;
				letter-spacing: 0;
				font-weight: 600;
				margin: 0 0 20px;
				padding: 0;
				line-height: 130%;

				div.larger{
					font-size: 2.4rem;
				}
			}

			p{
				color: $deep-blue;
				font-size: 0.9rem;
				letter-spacing: 0;
				text-align: center;
				line-height: 130%;
				margin: 0 25px;
				padding: 0;
				font-weight: 500;

				span.bigger{
					font-weight: 600;
					font-size: 1.3rem;
					line-height: 50%;
				}
			}

			.cta_content{
				margin-top: 15px;

				a, a:hover{
					text-decoration: none;
				}

				.cta_button{
					background: url("/images/homev3_cta_btn.png") no-repeat;
					background-position: top center;
					background-size: 130px;
					min-height: 179px;
					margin-top: 10px;

					span{
						display: block;
						font-weight: 600;
						letter-spacing: 0;
						text-transform: uppercase;
						text-align: center;
						line-height: 110%;
						text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);

						&.l1{
							padding-top: 50px;
							font-size: 1.2rem;
							color: $brand-primary;
							line-height: 120%;
						}

						&.l2{
							font-size: 1.35rem;
							color: $brand-primary;
						}

						&.l3{
							font-size: 1.9rem;
							color: $deep-blue;
						}
					}
				}
			}
		}
	}

	.hrw{
		p{
			margin: 0;
			padding: 0;
			img{
				width: 80px;
				height: 80px;
				margin: 0 10px 10px 0;
				float: left;
				border:none;
			}

			letter-spacing: 0;
			color: $white;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 0.80rem;
			max-width: 500px;
		}
	}

	.social-mobile{
		display: block;
		margin-top: 20px auto 0;
		text-align: center;
		a{
			text-decoration: none;
			font-size: 2.1rem;
			margin: 0;
			padding: 0;
			letter-spacing: 0;
			text-align:center;
			color: rgba(0, 45, 64, 0.6);

			&:hover{
				text-decoration: none;
				color: rgba(0, 45, 64, 0.6);
			}
		}
	}

	.video{
		color: $white;
	}
}

// added to homepage
.colormeplenty{
	background: $brand-primary;
}



@media (min-width: $screen-sm){
	.homepage_v3{
		.imagegrid{
			.resizer{
				.cta_content{
					margin-top: -40px;
				}
			}
		}
	}
}


@media (min-width: $screen-md){
	.homepage_v3{
		.imagegrid{
			.resizer{
				.griditem{
					p{
						font-size: 0.8rem;
					}
				}

				.cta_content{
					margin-top: -40px;
					.cta_button{
						background-size: 160px;

						span{
							&.l1{
								padding-top: 63px;
								font-size: 1.4rem;
								color: $brand-primary;
								line-height: 120%;
							}

							&.l2{
								font-size: 1.56rem;
								color: $brand-primary;
							}

							&.l3{
								font-size: 2.1rem;
								color: $deep-blue;
							}
						}
					}
				}
			}
		}

		.hrw{
			padding: 0;
			p{
				margin: 0;
				padding: 0;
				img{
					width: 80px;
					height: 80px;
					margin: 0 10px 10px 0;
					float: left;
				}

				letter-spacing: 0;
				color: $white;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 0.80rem;
				max-width: 280px;
			}
		}

		.video{
			h2{
				font-size: 1.5rem;
				color: $white;
				margin-bottom: 1rem;
				letter-spacing: 0;
			}
		}
	}
}

@media (min-width: $screen-lg){
	.homepage_v3{
		.imagegrid{
			.resizer{
				.griditem{
					p{
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}



#main.nl{
	.homepage_v3{
		.imagegrid{
			.resizer{
				.griditem{
					h2{
						line-height: 110%;
						div.larger{
							font-size: 1.75rem;
						}
					}

					.cta_content{
						.cta_button{
							span{
								&.l1{
									font-size: 1.3rem;
									line-height: 145%;
								}

								&.l2{
									font-size: 1.3rem;
								}

								&.l3{
									font-size: 2.1rem;
								}
							}
						}
					}
				}
			}
		}
	}
}


