.tmlfts{
	&.fts_bg{
		background: url('../images/tml/bg 04.jpg') no-repeat;
		background-position: bottom right;
		background-size: 100% auto;
		margin: -60px 0 -30px;
		padding: 0;
	}

	.dots{
		background: url('../images/tml/bg_pattern.png'); 

		.tml_logo{
			padding: 190px 0 30px 0;
			text-align :center;
			img{
				margin: 0 auto;
				width: 340px;
				float: none;
			}
		}

		.tml_style{
			background: transparent url("../images/tml/content-back.png");
			margin-bottom: 80px;
			text-align: center;

			h2{
				color: #4c483b;
				text-align: center;
				font-size: 1.3rem;
				font-weight: 500;
				margin: 10px 0 20px 0;
				text-transform: none;
				line-height: 125%;
			}

			div.big{
				font-size: 1.2rem;
				font-weight: 500;
				line-height: 135%;
				
				b{ 
				}
			}

			div.quote{
				font-weight: 500;
				font-size: 1rem;
				width: 70%;
				margin: 0 auto;
				line-height: 125%;
			}
			
			p{
				font-size: 1rem;
				color: #4c483b;
				text-align: center;
			}

			&:before{
				content: '';
				display: block;
				height: 16px;
				padding: 0 30px;
				margin-left: -30px;
				margin-right: -30px;
				background: transparent url("../images/tml/content-mobile-bg.png") repeat-x 0px 0px;
				top: -10px;
				position: relative;
				left: 0;
			}

			&:after{
				content: '';
				display: block;
				height: 16px;
				background: transparent url("../images/tml/content-mobile-bg.png") no-repeat 0px -80px;
				top: 10px;
				position: relative;
				left: 0;
				padding: 0 30px 0 30px;
				margin-left: -30px;
				margin-right: -30px;
			}

			.tml_button{
				background: transparent url("../images/tml/tml_button.png") no-repeat 1px 1px;
				height: 40px;
				display: inline-block;
				color: $white;
				font-size: 14px;
				font-weight: 600;
				text-decoration: none;
				padding-left: 30px;
				margin: 40px 0 50px -30px;
				line-height: 37px;
				text-align: center;
				vertical-align: middle;
				position: relative;

				&:after{
					content: '';
					display: block;
					height: 40px;
					width: 30px;
					background: transparent url("../images/tml/tml_button.png") no-repeat -519px 1px;
					position: absolute;
					right: -30px;
					top: 0px;
				}


				&:hover{
					background: transparent url("../images/tml/tml_button.png") no-repeat 1px -56px;

					&:after{
						background: transparent url("../images/tml/tml_button.png") no-repeat -519px -56px;
					}
				}
			}

			.photogrid{
				list-style-type: none;
				display: block;
				margin: 0;
				padding: 0;
				@include clearfix;

				.photo-item{
					@include clearfix;
					margin: 0;
					padding: 0;
					width: 33%;
					float: left;
					
					img{
						display: block;
						width: 100%;
						margin: 0;
						padding: 0;
						border: none;
					}
				}
			}
		}
	}
}