.homeopen{
	text-align: center;
	
	
	&.content{
		margin-top:30px;
	}


	.cta{
		@include border-radius(5px);
		background: $brand-primary;
		padding: 20px 25px;
		line-height: 100%;
		text-decoration: none;
		color: white;
		font-size: 15px;
		font-weight: 600;
		margin: 30px 0 50px;
		display: inline-block;

		&:hover{
			background: darken($brand-primary, 5%);
		}
	}

	.photogrid{
		list-style-type: none;
		display: block;
		margin: 0 0 50px;
		padding: 0;
		@include clearfix;

		.photo-item{
			@include clearfix;
			margin: 0;
			padding: 0;
			width: 25%;
			float: left;
			
			img{
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				border: none;
			}
		}
	}
}