.versuz{
	margin-top: -97px;

	&.fullscreen-container{
		background: url(../images/versuz/bg.jpg) no-repeat;
		background-size: 100% auto;
		background-position: top center;

		.shade{
			background: url(../images/versuz/shade.png) no-repeat;
			background-size: 100% auto;
			background-position: top center;
			margin: 0 -30px;

			>.row{
				margin: 0;
			}
		}
	}

	.tml_logo{
		margin: 50px auto;
		text-align: center;
		float: none;
		display: block;
	}

	.pot_logo{
		float: none;
		display: inline-block;
		height: 70px;
		padding-right: 10px;
	}

	.versuz_logo{
		margin: 15px auto;
		display: inline-block;
		float: none;
		padding-left: 10px;
	}

	.cta{
		@include border-radius(5px);
		background: $brand-primary;
		padding: 20px 25px;
		line-height: 100%;
		text-decoration: none;
		color: white;
		font-size: 15px;
		font-weight: 600;
		margin: 30px 0;
		display: inline-block;

		&:hover{
			background: darken($brand-primary, 5%);
		}
	}


	.versuz_content{
		max-width: 750px;
		background: white;
		padding: 30px;
		text-align: center;
		margin-bottom: 50px;
	}
}