// body tag background

$tfl_red: #4f0503;
$tfl_brown: #2c1a05;
.tfl_bg{
	background: url(../images/tfl/bg.jpg) no-repeat;
	background-size:cover;
	//background-size: 100% auto;
	background-position: top center;
}
//
.stone_bg{
	background: url(../images/tfl/tfl-content_03.gif) no-repeat;
	background-position: 30px 0;
	min-height: 587px;
}

.tfl_homepage{
	.tablet{
		text-align: center;
		padding-top: 55px;

		p{
			font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
			font-weight: bold;
			font-size: 1.2rem;
			color: $tfl_brown;
			line-height: 125%;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
			margin: 1rem 0;
			strong{
				font-size: 1.7rem;
				color: $tfl_red;
				font-variant: small-caps;
				line-height: 100%;
			}
		}
	}

	.buttons{
		.button{
			display: inline-block;
			vertical-align: top;

			h4{
				font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
				font-weight: bold;
				font-size: 0.9rem;
				color: $tfl_brown;
				text-transform: uppercase;
				letter-spacing: 0;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
			}
		}
	}

	small{
		font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
		color: $tfl_brown;
		font-weight: bold;
	}
}

.tfl_button, .tfl_button:hover{
	background: url(../images/tfl/button-back.png) no-repeat;
	background-size: 100%;
	width: 281px;
	height: 55px;
	display: inline-block;
	line-height: 50px;
	color: white;
	font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
	font-weight: bold;
	text-decoration: none;
	font-size: 1rem;
}

header.tfl{
	background: none;
}

footer.tfl{
	background: none;
	margin-top: -29px;
	margin-bottom: 0;

	a{
		display: inline-block;
		vertical-align: top;
		float: left;
		margin: 0;
	}

	.tfl-terms-wrapper{
		background: url(../images/tfl/tfl-content_05.gif) repeat-x;
		width: 776px;
		height: 44px;
		float: left;
		>a{
			font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
			color: #c2b07e;
			font-weight: bold;
			margin: 0;
			font-size: 0.8em;
			line-height: 44px;
			text-transform: none;
			//float:none;
			&:hover{
				color: #978962;
			}

			&.first{
				margin: 0 0 0 35px;
			}

			&.last{

			}
		}

		.seperator{
			display: inline-block;
			line-height: 44px;
			margin: 0 20px;
			float:left;
		}
	}
}


#app{
	&.nobg{
		background:none;
		padding: 0;
	}

	.return-button{
	  	display: block;

	  	font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
	  	color: #FFF;
	  	font-weight: bold;
	  	font-size: 1rem;
	  	text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
	  	text-align: center;
	  	&:hover{
	  		text-decoration: none;
	  	}
	  }

	&.tomorrowlandforlife{
		#upload-tfl{
			.tfl_upload{
				font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
				font-weight: bold;
				color: $tfl_brown;
				font-size: 16px;

				.white-title{
					font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
					font-weight: bold;
					margin:0;
					padding-top: 60px;
					font-variant: small-caps;
					color: $tfl_red;
					text-shadow: none;
					letter-spacing: -1px;
				}

				&.background{
					background: url(../images/tfl/tfl-content_bg700px.jpg) no-repeat;
					height: 700px;
					background-position: top center;
				}

				#messages{
					margin: 0 120px;
					font-size: 1rem;
					text-transform: none;

				}

  				#upload-wrapper{
					background-position: top center;
					min-width: 785px;

					.return-button{
						font-weight: bold;
						font-size: 1rem;
						text-align: center;
					}

					.upload-button, .return-button{
						background: url(../images/tfl/button-back-med.png) no-repeat;
						background-size: 100%;
						width: 225px;
						height: 44px;
						display: inline-block;
						line-height: 42px;
						color: white;
						font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
						text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
						font-weight: bold;
						text-decoration: none;
						font-size: 0.9rem;
						margin-top: 50px;
					}

					.return-button{
						background: url(../images/tfl/button-back-small.png) no-repeat;
						width: 169px;
						height: 35px;
						margin: 10px auto;
						line-height: 33px;
						display: block;
					}

					h2{
						font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
						color: $tfl_red;
						font-variant: small-caps;
						text-align: center;
						padding-top: 50px;
						font-weight: bold;
						letter-spacing: 0;
						margin: 1rem 0 0;

					}

					form{
						text-align: center;
						margin-bottom: 50px;
						label{
							min-width: 75px;
						}

						label[for='file']{
							line-height: 28px;
							vertical-align: top;
							margin-left:  40px;
						}

						input[type='text'],input[type='email']{
							border: 1px solid #000;
							font-size: 0.9rem;
							padding: 3px 5px;
							width: 180px;
						}
					}

					#upload-form{
						margin: 20px 0 0 0;
						.fileupload{
							position: relative;
							overflow: hidden;
							margin: 0 10px;
							background: rgba(76,40,17,0.3);
							border: 1px solid rgba(76,40,17,0.5);
							border-bottom: 1px solid rgba(76,40,17,0.7);
							display: inline-block;
							padding: 3px 10px;
							font-size: 0.9rem;
							border-radius: 2px;

							&:hover{
								background: rgba(76,40,17,0.4);
							}

							#file{
								position: absolute;
								top: 0;
								right: 0;
								margin: 0;
								padding: 0;
								font-size: 20px;
								cursor: pointer;
								opacity: 0;
								filter: alpha(opacity=0);
							}
						}

						#uploadFile{
							background: none;
							color: black;
							font-size: 0.9rem;
							text-transform: none;
							border:none;
							line-height: 28px;
							vertical-align: top;
							color: $tfl_brown;

							&::-webkit-input-placeholder{
								color: $tfl_brown;
								font-size: 0.9rem;
								text-transform: none;
							}

							&:-moz-placeholder{
								color: $tfl_brown;
								font-size: 0.9rem;
								text-transform: none;
							}
							&::-moz-placeholder{
								color: $tfl_brown;
								font-size: 0.9rem;
								text-transform: none;

							}
							&:-ms-input-placeholder{
								color: $tfl_brown;
								font-size: 0.9rem;
								text-transform: none;
							}
						}
					}

  				}

				.progress{
					display: none;
  					margin: 20px 0 0;
					.progress-bar{
						background-color: #000;
						color:#FFF;
					}
				}

				.editor{
					font-size: 0.9rem;
					text-align: center;
					a{
						color: $tfl_brown;
						&:hover{
							text-decoration: none;
							color: $tfl_brown;
						}
					}
				}

				#technical-specs{
					font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
					font-weight: bold;
					text-decoration: none;
					font-size: 1rem;
					color: white;
					padding: 20px 20px 20px;

					h3{
						font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
						font-weight: bold;
						color: #000;
						text-align: center;
						font-size: 1rem;
						letter-spacing: -0.02rem;
						margin: 0 0 10px;
						padding: 0;
					}

					h4{
						font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
						display: inline-block;
						color: $tfl_red;
						font-weight: bold;
						line-height: 25px;
						padding: 5px 35px 0 0;
						margin: 0 20px 0 0;
						width: 100px;
						text-align: right;
						&.do{
							background: url(../images/tfl/do.png) no-repeat right center;
						}

						&.dont{
							background: url(../images/tfl/dont.png) no-repeat right center;
						}
					}

					.inline{
						display: inline-block;

					}

					p{
						color: black;
						font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
						font-weight: bold;
						font-size: 0.9rem;
						line-height: 25px;
						padding: 5px 0;
						margin:0;
					}
				}
			}
		}

		.ftl_editor_wrapper{
			//background: url(../images/tfl/stone_only.jpg) repeat-y;
			//background-position: 30px 0;
			font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
			font-weight: bold;
			color: $tfl_brown;
			font-size: 16px;
			//margin:0 auto;
			//width: 1008px;

			#select-settings-wrapper{
				padding-top: 0;
				padding-bottom: 0;
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		#paper-wrapper{
			#paper{
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
				box-shadow: 0px 0px 20px black;
			}
		}

		.top_bg{
			background: url(../images/tfl/tfl-content_bg500px.jpg) no-repeat;
			height: 499px;
		}

		.editor-title{
			max-width: 750px;
			margin: 0 auto;
			.show-instructions{
				font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
				font-weight: bold;
				margin: 22px 20px 0 0;
				color: white;
				&:hover{
					background: none;
					text-decoration: underline;
				}
			}
			.white-title{
				font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
				font-weight: bold;
				margin: 50px 0 0;
				font-size: 1.4rem;
				text-transform: uppercase;
				color: $tfl_red;
				letter-spacing: -1px;
			}
		}
		.selectOptions{
			max-width: 948px;
			margin: 0 30px;

			.special_hacks{
				margin:0 auto;
				max-width: 750px;
			}

			h2.ng-binding{
				font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
				font-weight: bold;
				font-size: 1rem;
				color: $tfl_brown;
				letter-spacing: -1px;
			}

			.fonts, .dingbats, .backgrounds{
				max-height: 230px;
				.font, .dingbat, .background{
					.btn{
						color: $tfl_brown;
						&:hover{
							background: rgba(44, 26, 5, 0.4);
						}
						&.active{
							background: rgba(44, 26, 5, 0.85);
							color: white;
						}
					}
				}

				.background .btn{
					font-weight: bold;
				}
			}
		}

		.btn-toolbar{
			max-width: 700px;
			margin: 50px auto 0;

			button{
				background:none;
				border: 1px solid $tfl_brown;
				color: $tfl_brown;

				&:hover{
					background: rgba(44, 26, 5, 0.2);
				}
				&.active{
					background: $tfl_brown;
					color: white;
				}
			}

			select{
				background: none;
				border: 1px solid $tfl_brown;
			}
		}
		#paper-actions{
			background: url(../images/tfl/tfl-content_bg200px_M.jpg) no-repeat;
			height: 200px;
			margin-bottom: 0;
		}

		.preview-button, .return-button{
			background: url(../images/tfl/button-back-med.png) no-repeat;
			background-size: 100%;
			width: 225px;
			height: 44px;
			//width: 169px;
			//height: 35px;
			display: block;
			line-height: 42px;
			color: white;
			font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
			font-weight: bold;
			text-decoration: none;
			font-size: 1rem;
			margin: 50px auto 0;
		}

		.return-button{
			background: url(../images/tfl/button-back-small.png) no-repeat;
			width: 169px;
			height: 35px;
			margin: 10px auto;
			line-height: 33px;
		}

		.preview-wrapper{
			background: none;
			margin: 0;
			padding: 0;

			.after_preview{
				background: url(../images/tfl/tfl-content_bg700px.jpg) no-repeat;
				background-position: bottom center;
				height: 520px;
			}
		}

		.stone-tablet{
			h2{
				&.white-title{
					font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
					font-weight: bold;
					margin: 30px 0 10px;
					font-size: 1.4rem;
					text-transform: uppercase;
					color: $tfl_red;
					letter-spacing: -1px;
				}
			}

			p{
				color: $tfl_brown;
				max-width: 600px;
				margin: 0 auto;
				font-size: 1rem;
				font-weight: bold;
				strong{
					color: $tfl_brown;
				}
			}

			.tfl-submit-button{
				background: url(../images/tfl/button-back-med.png) no-repeat;
				background-size: 100%;
				width: 225px;
				height: 44px;
				display: inline-block;
				line-height: 42px;
				color: white;
				font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
				font-weight: bold;
				text-decoration: none;
				font-size: 1rem;
			}
		}

		#preview{
			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 0;
			padding-top: 0;
			#image-wrapper{
				box-shadow: 0 0 20px black;
				margin-bottom: 0;
				z-index: 1;
				position: relative;
				img{
					margin: 0 auto;
				}
			}
		}

		#tfl-submit-form{
			margin-top: 30px;
			label{
				color: $tfl_brown;
				display: inline-block;
				width: 90px;
			}

			input[type='text'], input[type='email']{
				padding: 0.2rem 0.5rem;
				font-style: 0.9rem;
				border: 1px solid $tfl_brown;
				width: 200px;
			}

			.tfl-submit-button{
				margin-top: 20px;
			}
		}
	}
}

.tfl-confirm{
  margin-top: 0;
  padding-bottom: 0;

  >.container{
	background: url(../images/tfl/tfl-content_bg700px.jpg) no-repeat;
	background-position: top center;
	height: 700px;
  }

  h2.white-title{
	font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
	font-weight: bold;
	margin: 50px auto 0;
	max-width: 500px;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: $tfl_red;
	letter-spacing: -1px;
  }

  p{
  	font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
	font-weight: bold;
	color: $tfl_brown;
	max-width: 600px;
	margin: 10px auto;
	text-align: center;
  }

  #image-wrapper img{
	max-width: 888px;
	box-shadow: 0px 0px 30px #000;
  }

  .return-button{
  	background: url(../images/tfl/button-back-med.png) no-repeat !important;
	background-size: 100%;
	width: 225px !important;
	height: 44px !important;
	line-height: 42px !important;
  	display: block;
  	margin: 0 auto 0 !important;
  	font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
  	color: #FFF;
  	font-weight: bold;
  	font-size: 1rem;
  	text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
  	text-align: center;
  	&:hover{
  		text-decoration: none;
  	}
  }
   &.confirm-result{
	margin-top: 0 !important;
	padding-bottom: 0 !important;
  }

  #result{
  	margin-top: 1rem;
  }
}

.tfl_conditions{
	background: url(../images/tfl/stone_only.jpg) repeat-y;
	background-position: 30px 0;

	.special_position{
		padding: 40px 60px;
		h1,h2,h3,p{
			font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
			color: #FFF;
			font-weight: bold;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
			letter-spacing: 0;
		}

		h1{
			font-size: 2rem;
			font-variant: small-caps;
		}

		h2{
			font-size: 1.65rem;
			font-variant: small-caps;
		}

		h3{
			font-size: 1.55rem;
			font-variant: small-caps;
		}

		p{
			font-size: 1.1rem;
		}
	}
}


#app > div > div.hidden-xs.confirm-result.tfl-confirm.ng-scope > div > div:nth-child(2) > div > div.confirm-body.white-text.ng-binding {
  font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
}

.tfl-confirm .confirm-extra.white-text{
  font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
  font-weight: bold;
  font-size: 0.9rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
}

.tfl-confirm .follow-us.white-text{
  font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
  font-weight: bold;
  font-size: 1.1rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
}

.tfl-confirm .join-us-button, .tfl-confirm .join-us-button:hover{
  background: url(../images/tfl/button-back.png) no-repeat;
  background-size: 100%;
  width: 281px;
  height: 55px;
  display: inline-block;
  line-height: 50px;
  color: white;
  font-family: "Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.38);
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 60px;
}



