/** V02 **/
/** making it better **/

/***********************************/
/**** HOMEPAGE RESPONSIVESLIDES ****/
/***********************************/

.homepage_v2{
	.rslides {
	  position: relative;
	  list-style: none;
	  overflow: hidden;
	  width: 100%;
	  padding: 0;
	  margin: 0;
	  }

	.rslides li {
	  -webkit-backface-visibility: hidden;
	  //position: absolute;
	  display: none;
	  width: 100%;
	  //left: 0;
	  //top: 0;
	  }

	.rslides li:first-child {
	  position: relative;
	  display: block;
	  float: left;
	  }

	.rslides li .slide {
	 // position: absolute;
	  //width: 100%;
	  //height: 100%;
	  //background-position: center center;
	}

	.rslides img {
	  display: block;
	  //height: auto;
	  //float: none;
	  //min-width: 100%;
	  border: 0;
	  /*margin: 0 -100%;*/
	  }
	
	.rslides_tabs {
	  position: absolute;
	  bottom: 10px;
	  right: 20px;
	  z-index: 1000;
	}
	.rslides_tabs li {
	  float: left;
	  list-style: none;
	  margin-left: 5px;
	}

	.rslides_tabs li a {
	  display: block;
	  content: '';
	  width: 15px;
	  height: 15px;
	  background-color: #E5E5E5;
	  text-indent: -9999px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	}

	.rslides_tabs li.rslides_here a {
	  background-color: $brand-primary;
	}
}

/* homepage - TOP */

// triangles 
.homepage-arne:before, .homepage-tomorrowland:before, .homepage-trailer:before{
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 1000;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

.homepage-arne:before, .homepage-trailer:before{
	border-color: rgba(0, 161, 230, 0);
	border-top-color: #1e1412;
	border-width: 15px;
	left: 50%;
}

.homepage-tomorrowland:before{
	border-color: rgba(0, 161, 230, 0);
	border-top-color: $brand-primary;
	border-width: 15px;
	left: 50%;
}

//
/*************/
/**** TOP ****/
/*************/

.homepage_v2{
	position: relative;
	padding:0;
	overflow: hidden;

	&.homepage-top{
		.row{
			min-height: 538px;
			max-height: 538px;
		}
		width: 100%;
		position: relative;
		
		#vimeo_firstfiew_preview{
			position: absolute;
			z-index: 10;
			top:0;
			overflow: hidden;
			height: 538px;
		}

		.container-overlay{
			position: absolute;
			z-index: 100;
			padding: 0;
			max-height: 538px;

			.oneworld{
				position: relative;
				display: block;
				margin: $grid-gutter-width/2 0 0 $grid-gutter-width/2;
				img{
					width: 200px;
					height: auto;
				}
			}

			.oneworld_slogan{
				position:relative;
				display: block;
				margin: 93px 0 0 $grid-gutter-width/2;
				h2 {
					display: inline-block;
					background: $brand-primary;
					background: rgba(48, 192, 252, 0.82);
					padding: 10px;
					margin: 0;
					font-size: 25px;
					line-height: 100%;
					font-weight: 600;
					color: $white;
					text-transform: uppercase;
					letter-spacing: 0;
					@include border-radius(15px);
					span{
						display: inline-block;
						padding: 0;
					}
				}
			}

			.button-row{
				margin-top: $grid-gutter-width/2;
				display: block;
				.homebtn{
					letter-spacing: 0;
					display: inline-block;
					width: 100%;

					a{
						text-decoration: none;
						letter-spacing: 0;
						@include clearfix;
						width: 100%;
						height: 100%;
						display: block;
						padding: 10px 22px 10px $grid-gutter-width/2;
						
						.link {
							color: #525252;
							font-size: 17px;
							line-height: 24px;
							.left{
								display: inline-block;
								float: left;

								.heading{
									font-size: 20px;
									line-height: 24px;
									font-weight: 500;
									color: $brand-primary;
								}
								span{
									display: block;
									font-size: 0.95rem;
								}
							}

							.arrow{
								float:right;
								display: inline;
								margin-top:5px;
							}
						}
					}

					

					&.white{
						background: $white;
						//background: rgba(255, 255, 255, 0.75);

						a{
							&:hover{
								background: $white;
							}
							
							.arrow{
								margin-top: 13px;
							}
						}
					}

					&.black{
						background: $black;
						//background: rgba(0 ,0, 0, 0.70);

						a{
							&:hover{
								background: $black;
							}
						}
						span{
							color: $white;
						}
						
					}

					&.btn3{
						display: none;
						visibility: hidden;
					}

					&.btn4{
						display: none;
						visibility: hidden;
						margin-right:0;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min){
	.homepage{
		&.homepage-top{
			.row{
				min-height:538px;
			}
			.container-overlay{
				padding: $grid-gutter-width;
				.oneworld{
					margin: 0;
				}

				.oneworld_slogan{
					margin: 0;
					margin-top: 65px;
					h2 {
						padding: 15px;
						font-size: 34px;
					}
				}

				.button-row{
					.homebtn{
						width: 45%;
						a{
							padding: 15px 22px 15px 16px;
						}

						&.btn3{
							display: inline-block;
							visibility: visible;
						}

						&.btn4{
							display: inline-block;
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-md-min){
	.homepage{
		&.homepage-top{
			.container-overlay {
				padding: $grid-gutter-width;
				.oneworld_slogan{
					
					h2 {
						padding: 17px;
						font-size: 40px;
					}
				}
				.button-row{
					margin-top: 40px;
					.homebtn{
						margin-right:18px;

						a{
							padding: 10px;
						}

						&.btn1{
							width: 230px;
						}

						&.btn2{
							width: 275px;
						}

						&.btn3{
							width: 285px;
							float:right;
							margin-right:0;
						}

						&.btn4{
							width: 285px;
							margin-right:0;
							float: right;
						}
					}
				}
			}
		}
	}
}

//separate breakpoint specially for button row
@media (min-width: 1130px){
	.homepage{
		&.homepage-top{
			.container-overlay {
				.button-row{
					.homebtn{
						margin-right: 3px;
						//margin-right:18px;

						a{
							padding: 10px;
						}

						&.btn1{
							width: 210px;
						}

						&.btn2{
							width: 255px;
						}

						&.btn3{
							width: 265px;
							float:none;
							
						}

						&.btn4{
							width: 240px;
							margin-right:0;
							float: none;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
	.homepage{
		&.homepage-top{
			.row{
				height: 538px;
			}

			overflow: hidden;
			#vimeo_firstfiew_preview{
				width: 100%;
				height: 538px;
				overflow: hidden;
			}

			.vimeo_firstview{
				height: 538px;
			}

			.container-overlay{
				.oneworld{
					img{
						width: 230px;
					}
				}

				.oneworld_slogan{
					margin-top: 82px;

					h2 {
						padding: 20px;
						font-size: 50px;
					}
				}

				.button-row{
					margin-top: 70px;
					.homebtn{
						margin-right: 3px;

						&.btn1{
							width: 230px;
						}

						&.btn2{
							width: 275px;
						}

						&.btn3{
							width: 285px;
							margin-right: inherit;
						}

						&.btn4{
							width: 260px;
							margin-right:0;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1248px){
	.homepage{
		&.homepage-top{
			width: 1248px;

			#vimeo_firstview{
				width: 1248px;
				height: 538px;
			}

			.container-overlay {
				.oneworld{
					img{
						width: 262px;
					}
				}
				.oneworld_slogan{
					margin-top: 82px;
				}

				.button-row{
					margin-top: 70px;
					.homebtn{
						margin-right: 18px;
						a{
							padding: 15px 22px 15px 16px;
							
							.link {
								font-size: 17px;
								line-height: 24px;
								.left{
									.heading{
										font-size: 20px;
										line-height: 24px;
									}
									span{
										font-size: 0.95rem;
									}
								}

								.arrow{
									margin-top:5px;
								}
							}
						}

						&.btn1{
							width: 230px;
						}

						&.btn2{
							width: 275px;
						}

						&.btn3{
							width: 285px;
							margin-right:18px;
						}

						&.btn4{
							width: 260px;
							margin-right:0;
						}
					}
				}
			}
		}
	}
}

/*********************/
/**** ARNE QUINZE ****/
/*********************/

.homepage_v2{
	position: relative;
	display: block;
	&.homepage-arne{
		.row{
			min-height: 400px;
			max-height: 400px;
		}
		width: 100%;
		position: relative;

		#slider-arne{
			list-style-type: none;
			margin: 0;
			padding: 0;

			.slides{
				img{
					width: auto;
					max-height: 400px;
					overflow: hidden;
				}

				&.first{
					>img{
						float: right;
						margin-right: -110px;
						opacity: 0.5;
					}
				}

				&.third{
					>img{
						margin: 0 auto;
					}
				}
				
				.content-block{
					position: absolute;

					.content-position{
						position: relative;
						text-align: center;
						margin:$grid-gutter-width/2 $grid-gutter-width/2 0 $grid-gutter-width/2;

						h2{
							color: #00b3ff;
							font-size: 30px;
							line-height: 100%;
							font-weight: bold;
							text-transform: uppercase;
							padding: 0;
							padding-bottom: 10px;
							margin: 0;
							letter-spacing: 0;
							text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
						}

						.author{
							font-size: 14px;
							line-height: 18px;
							color: #a2a2a2;
							text-transform: uppercase;
							padding-bottom: 10px;
						}

						blockquote{
							font-family: Georgia, "Times New Roman", Times, serif;
							color: $gray_dark;
							font-size: 22px;
							line-height: 32px;
							font-style: italic;
							border-left:none;
							padding:0;
							margin: 0;
							letter-spacing: 0;
							text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
						}

						&.content2{
							margin: $grid-gutter-width/2;
							position:absolute;
							.social-icons{
								position: absolute;
								width: 228px;
								height: 112px;
								left: 0;
								top: 0;
								padding: 10px;

								.text {
									float: none;
									text-align: left;
									margin-bottom: 40px;
									width: auto;
							    }
							}

							.scroll-down{
								margin-top: 280px;
								width: 250px;
								font-weight:500;
								color: $gray_darker;
								text-shadow: 0 1px 1px rgba(255, 255 ,255, 0.8);
								&:hover{
									color: $brand-primary;
									text-shadow: 0 1px 2px rgba(1, 1 ,1, 0.8);
								}
							}

							.learn-more{
								display: none;
								visibility: hidden;
								margin-top: 370px;
								font-weight: 500;
								color:$gray_darker;
								text-shadow: 0 1px 1px rgba(255, 255 ,255, 0.8);
								&:hover{
									color: $brand-primary;
									text-shadow: 0 1px 2px rgba(1, 1 ,1, 0.8);
								}
							}
						}
					}
				}

				.scroll-down {
					width: 100%;
					color: $brand-primary;
					font-size: 17px;
					line-height: 21px;
					margin: 10px 0 0 0;
					padding-top: 10px;
					padding-bottom:3px;
					display: block;
					text-decoration: none;
					letter-spacing: 0;
					text-align: center;
					&:hover{
						color: $gray_lighter;
					}
					.arrow{
						display: block;
						text-align: center;
						width: 20px;
						height: 28px;
						margin: 0 auto; 
						padding:0;
						img{
							width: 20px;
						}
					}
					.txt{
						margin-top:5px;
						display: block;
						font-weight: 500;
					}
				}

				.learn-more {
					display:none;
					visibility: hidden;
					color: $brand-primary;
					font-size: 17px;
					line-height: 21px;
					padding: 0;
					padding: 8px 0;
					margin: 10px auto 0;
					width: 210px;
					text-decoration: none;
					letter-spacing: 0;
					&:hover{
						color:$gray_lighter;
					}

					.arrow{
						float: right;
						margin-left:10px;
						img{
							width: 65%;
						}
					}

					.txt{
						float:left;
						font-weight: 500;
					}
				}
			}
		}

		.rslides1_tabs{
			position: absolute;
			top: 380px;
			right: $grid-gutter-width/2;
			visibility: hidden;
			display: none;
		}
	}
}

@media (min-width: $screen-sm-min){
	.homepage_v2{
		&.homepage-arne{
			width: 100%;
			position: relative;

			#slider-arne{
				.slides{
					&.first{
						>img{
							float: right;
							margin-right: 0;
							opacity: 1;
						}
					}

					.content-block{
						position: absolute;
						//background:$test;
						width: 70%;

						.content-position{
							h2{
								text-shadow: none;
								font-size: 48px;
								line-height: 52px;
								margin-top: 40px;
							}

							.author{
								font-size: 14px;
								line-height: 18px;
								padding-bottom: 20px;
							}

							&.content2{
								.scroll-down{
									padding-top:0;
									margin-top: 284px;
								}

								.learn-more{
									display: block;
									visibility: visible;
									display: block;
									visibility: visible;
									margin-left: 200px;
									margin-top: 320px;
									left: 420px;
									height: 100px;
									margin-left: 250px;
									width: 220px;
								}
							}
						}

						.scroll-down {
							padding-top: 30px;
							margin-top: 55px;
							float: left;
							width: auto;
							display: block;


							&:hover{
								color: $gray_lighter;
							}
							.arrow{
								height: auto;
								img{
									display: block;
								}
							}

							.txt{
								display: block;
								margin-top: 35px;
							}
						}

						.learn-more{
							display:inline-block;
							visibility: visible;
							padding: 0 10px 0 0;
							margin: 120px 0 0;
							width: auto;
						}
					}
				}
			}

			.rslides1_tabs{
				visibility: visible;
				display: block;
			}
		}
	}
}

@media (min-width: $screen-md-min){
	.homepage{
		&.homepage-arne{
			.row{
				min-height: 492px;
				max-height: 492px;
			}

			#slider-arne{
				.slides{
					
					img{
						max-height: 492px;
					}

					.content-block{
						.content-position{
							&.content2{
								position: absolute;
								margin-top: 0;
								margin-left:$grid-gutter-width;
								display: block;

								.social-icons{
									width: 228px;
									height: 112px;
									left:0;
									top: 90px;
									position: absolute;
									padding: 10px;

									.text {
										float: none;
										text-align: left;
										margin-bottom: 40px;
										width: auto;
								    }
								}

								.scroll-down{
									margin-top: 336px;
									font-weight:500;
									color: $gray_darker;
									text-shadow: 0 1px 1px rgba(255, 255 ,255, 0.8);
									&:hover{
										color: $brand-primary;
										text-shadow: 0 1px 2px rgba(1, 1 ,1, 0.8);
									}
								}

								.learn-more{
									margin-top: 370px;
									font-weight: 500;
									color:$gray_darker;
									text-shadow: 0 1px 1px rgba(255, 255 ,255, 0.8);
									&:hover{
										color: $brand-primary;
										text-shadow: 0 1px 2px rgba(1, 1 ,1, 0.8);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
	.homepage{
		&.homepage-arne{
			.row{
				min-height: 544px;
				max-height: 544px;
			}
			#slider-arne{
				.slides{
					img{
						max-height: 544px;
					}
					.content-block{
						width: 546px;
						text-align: center;
						left: 150px;
						top: 106px;
						padding-bottom: 35px;

						.content-position{
							position: relative;
							width: 100%;
							text-align: center;
							padding-bottom: 35px;

							h2{
								color: #00b3ff;
								font-size: 48px;
								line-height: 52px;
								font-weight: bold;
								text-transform: uppercase;
								padding: 0;
								padding-bottom: 54px;
								margin: 0;
								letter-spacing: 0;
							}

							.author{
								padding-bottom: 28px;
							}

							blockquote{
								font-family: Georgia, "Times New Roman", Times, serif;
								color: #5a5a5a;
								font-size: 27px;
								line-height: 36px;
								font-style: italic;
								border-left:none;
								padding:0;
								letter-spacing: 0;
							}

							&.content2{
								margin-top: 0;
								margin-left:0;
								.social-icons{
									width: 228px;
									height: 112px;
									left:0;
									top: 90px;
									position: absolute;
									padding: 10px;

									.text {
										float: none;
										text-align: left;
										margin-bottom: 40px;
										width: auto;
								    }
								}

								.scroll-down{
									margin-top: 346px;
									font-weight:500;
									color: $gray_darker;
									margin-right:10px;
									text-shadow: 0 1px 1px rgba(255, 255 ,255, 0.8);
									&:hover{
										color: $brand-primary;
										text-shadow: 0 1px 2px rgba(1, 1 ,1, 0.8);
									}
								}

								.learn-more{
									margin-top: 381px;
									font-weight: 500;
									color:$gray_darker;
									width: 260px;
									text-shadow: 0 1px 1px rgba(255, 255 ,255, 0.8);
									&:hover{
										color: $brand-primary;
										text-shadow: 0 1px 2px rgba(1, 1 ,1, 0.8);
									}
								}
							}
						}

						.scroll-down {
							color: $brand-primary;
							font-size: 17px;
							line-height: 21px;
							padding-top: 30px;
							margin-top: 24px;
							display: block;
							float: left;
							width: auto;
							text-decoration: none;
							letter-spacing: 0;
							&:hover{
								color: $gray_lighter;
							}
							.arrow{
								display: block;
								text-align: center;
								width: 20px;
								height: auto;
								margin: 0 auto;
								img{
									width: 20px;
									display: block;
								}
							}
							.txt{
								margin-top:35px;
								display: block;
							}
						}

						.learn-more {
							color: $brand-primary;
							font-size: 17px;
							line-height: 21px;
							display: inline-block;
							padding-right: 40px;
							margin-top: 90px;
							text-decoration: none;
							letter-spacing: 0;
							&:hover{
								color:$gray_lighter;
							}

							.arrow{
								float: right;
								margin-left:10px;
								img{
									width: 65%;
								}
							}

							.txt{
								float:left;
							}
						}
					}
				}
			}

			.rslides1_tabs{
				position: absolute;
				bottom: 20px;
				right: 500px;
			}		
		}
	}
}

@media (min-width: 1248px){
	.homepage{
		&.homepage-arne{
			width: 1248px;
			margin:0 auto;	

			.rslides1_tabs{
				position: absolute;
				bottom: 10px;
				right: 400px;
				top: auto;
			}		
		}
	}
}



/****************************/
/**** HUMAN RIGHTS WATCH ****/
/****************************/
.homepage_v2{
	&.humanrightswatch{
		width: 100%;
		position: relative;
		.row{
			padding-top: $grid-gutter-width/3;
			padding-bottom:$grid-gutter-width/3;
			text-align: center;
			
			background: url("../content/_global/images/home_team.png") no-repeat;
			background-position: center bottom;
			background-size: auto 480px;

			h2{
				font-size: 36px;
				line-height: 110%;
				font-weight: 600;
				color: $white;
				text-align: center;
				padding: 0;
				margin: 0 $grid-gutter-width/2;
				padding-bottom: 10px;
				letter-spacing: 0;
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
			}

			p{
				margin:0 $grid-gutter-width/2;
				color: $white;
				font-weight: 600;
				font-size: 1rem;
				line-height: 120%;
				padding:0;
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
				letter-spacing: 0;
				margin-bottom: 20px;
			}
			
			.hrw_logo{
				
				position: relative;
				width: 90px;
				margin: 0 auto;
			}
			
		}
	}
}


@media (min-width: $screen-sm-min){
	.homepage_v2{
		&.humanrightswatch{
			.row{
				background: url("../content/_global/images/home_team.png") no-repeat;
				background-position: center bottom;
				background-size: 100% auto;
				
				padding-top: 42px;
				padding-bottom:56px;

				h2{
					max-width: 768px;
					font-size: 40px;
					line-height: 110%;
				}

				p{
					max-width: 768px;
					font-size: 1.15rem;
				}
			}
		}
	}
}

@media (min-width: $screen-md-min){
	.homepage_v2{
		&.humanrightswatch{
			.row{
				background: url("../content/_global/images/home_team.png") no-repeat;
				background-position: center bottom;
				background-size: 100% auto;

				h2{
					max-width: 768px;
					font-size: 48px;
					line-height: 54px;
					padding-bottom: 22px;
				}

				p{
					max-width: 768px;
					font-size: 1.32rem;
				}
				
				.hrw_logo{
					position: absolute;
					z-index: 1;
					top: 120px;
					right: 70px;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min){
	.homepage_v2{
		&.humanrightswatch{
			.row{
				background: url("../content/_global/images/home_team.png") no-repeat;
				background-position: center bottom;
				background-size: 100% auto;
				position: relative;
				h2{
					max-width: 768px;
					font-size: 48px;
					line-height: 54px;
					padding-bottom: 22px;
					margin: 0 auto;
				}

				p{
					max-width: 768px;
					font-size: 1.32rem;
					margin: 0 auto;
				}
				
				.hrw_logo{
					position: absolute;
					z-index: 1;
					right: 100px;
				}
			}
		}
	}
}

@media (min-width: 1248px){
	.homepage_v2{
		&.humanrightswatch{
			.row{
				width: 1248px;
				margin: 0 auto;
			}
		}
	}
}


/**********************/
/**** TOMORROWLAND ****/
/**********************/
.homepage_v2{
	&.homepage-tomorrowland{
		width: 100%;
		position: relative;
		.row{
			.rslides_container{
				list-style-type: none;
				margin: 0;
				padding: 0;

				#slider-tomorrowland{
					.slides{
						>img{
							width: auto;
							max-height: 400px;
							overflow: hidden;
						}

						&.first{
							background: $black;
							>img{
								float:right;
								opacity: 0.5;
							}
						}

						.content-wrapper{
							margin: $grid-gutter-width/2;
							position: absolute;
							.texts{
								h2{
									margin: 0;
									padding: 0;								
									text-align: center;	
									color:$white;	
									font-size: 30px;
									letter-spacing: 0;
									line-height: 110%;
									font-weight: 600;
									text-shadow: 0px 1px 1px $black;
									margin-bottom: 10px;
								}

								p{
									margin: 10px 0 0;
									padding: 0;
									color: $white;
									letter-spacing: 0;
									font-weight: 500;
									font-size: 1.02rem;
									line-height: 125%;
									text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
									text-align: center;
								}
							}

							.scroll-down{
								position: absolute;
								color:$brand-primary;
								font-weight: 600;
								letter-spacing: 0;
								text-decoration: none;
								text-align: center;
								width: 100%;
								margin-top: 10px;
								.arrow{
									width: 19px;
									margin:0 auto;
								}

								.txt{
									margin-top: 30px;
								}

								&:hover{
									color: $white;
								}
							}

							.learn-more{
								display: none;
								visibility: hidden;
								position: absolute;
								color:$brand-primary;
								font-weight: 600;
								letter-spacing: 0;
								text-decoration: none;
								text-align: left;
								
								.arrow{
									img{
										width: 25px;
									}
									
									float: right;
									margin-top: 3px;
								}

								.txt{	
									margin:0 10px 0 0;
									float: left;
								}

								&:hover{
									color:$white;
								}
							}
						}
					}
				}

				.rslides2_tabs{
					display: none;
					visibility: hidden;
				}

				>.rslides_nav{
					display: none;
					visibility: hidden;
				}
			}
		}
	}
}	

@media (min-width: $screen-sm-min){
	.homepage_v2{
		&.homepage-tomorrowland{
			.row{
				.rslides_container{
					#slider-tomorrowland{
						.slides{
							img{

							}

							&.first{
								
							}

							.content-wrapper{
								margin: $grid-gutter-width;
								max-width: 500px;
								.texts{
									max-width: 500px;
									h2{
										font-size:40px;
									}

									p{
										font-size: 1.15rem;
										line-height: 120%;
									}
								}
								.scroll-down{ 
									width: 194px;
									margin-top: $grid-gutter-width/2;
								}

								.learn-more{
									display:block;
									visibility: visible;
									margin-top: 58px;
									left: 250px;
								}
							}
						}
					}

					.rslides2_tabs{
						display: block;
						visibility: visible;
						right: 15%;
					}
				}
			}
		}
	}	
}

@media (min-width: $screen-md-min){
	.homepage_v2{
		&.homepage-tomorrowland{
			.row{
				.rslides_container{

					#slider-tomorrowland{
						.slides{
							img{
								max-height: 546px;
							}

							&.first{
								
							}

							.content-wrapper{
								margin:60px 0 0 100px;

								.texts{
									h2{
										font-size: 48px;
										margin-bottom: 40px;
									}

									p{
										font-size: 1.32rem;
									}
								}

								.scroll-down{ 
									margin-top: 80px;
								}

								.learn-more{
									left: 330px;
									margin-top: 110px;
								}
							}
						}
					}

					.rslides2_tabs{
						right: 20%;
					}
				}
			}
		}
	}	
}

@media (min-width: $screen-lg-min){
	.homepage_v2{
		&.homepage-tomorrowland{
			.row{
				.rslides_container{
					#slider-tomorrowland{
						.slides{
							img{

							}

							&.first{
								
							}
						}
					}

					.rslides2_tabs{
						right: 30%;
					}
				}
			}
		}
	}	
}

@media (min-width: 1248px){
	.homepage_v2{
		&.homepage-tomorrowland{
			.row{
				width: 1248px;
				margin: 0 auto;
				.rslides_container{
					position: relative;
					#slider-tomorrowland{
						.slides{
							img{

							}

							&.first{
								
							}
						}
					}

					.rslides2_tabs{
						right: 400px;
					}
				}
			}
		}
	}	
}

/*****************/
/**** TRAILER ****/
/*****************/

.homepage_v2{
	&.homepage-trailer{
		width: 100%;
		position: relative;
		.row{
			.rslides_container{
				position: relative;
				#slider-trailer{
					.slider{
						>img{
							height: 350px;
							float: left;
						}

						.content-wrapper{
							position: absolute;
							margin: $grid-gutter-width/2;
							margin-top:$grid-gutter-width;
							max-width: 252px;
							h2{
								letter-spacing: 0;
								margin: 0;
								line-height: 113%;
								font-size:30px; 
								color: #848484;
								font-weight: 600;
							}

							a.watch_video{
								background: rgba(255, 255, 255, 0.70);
								width: 100%;
								background-image: url("../images/btn.png");
								background-repeat: no-repeat;
								background-position: 20px 12px;
								color: $brand-primary;
								font-size: 17px;
								line-height: 21px;
								padding: 24px 0 24px 100px;
								display: inline-block;
								margin-top: 40px;
								text-decoration: none;
								letter-spacing: 0;

								&:hover{
									background: rgba(255, 255, 255, 1);
									width: 100%;
									background-image: url("../images/btn.png");
									background-repeat: no-repeat;
									background-position: 20px 12px;
								}
							}
						}
						
						&.first{
						}

						&.video{
							
						}
					}
				}
				
				.rslides3_tabs{
					display: none;
					visibility: hidden;
				}

				>.rslides_nav{
					display: none;
					visibility: hidden;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min){
.homepage_v2{
	&.homepage-trailer{
		.row{
			.rslides_container{
				#slider-trailer{
					.slider{
						>img{
							height: 450px;
						}
						.content-wrapper{
							max-width: 380px;
							left: 60px;
							h2{
								font-size: 48px;
								line-height: 54px;
							}

							a.watch_video{
								max-width: 260px;
							}
						}
						
						&.first{

						}

						&.video{

						}
					}
				}

				.rslides3_tabs{
					display: block;
					visibility: visible;
					position: absolute;
					right: 20px;
					bottom: 40px;
				}
			}
		}
	}
}
}

@media (min-width: $screen-md-min){
.homepage_v2{
	&.homepage-trailer{
		.row{
			.rslides_container{
				#slider-trailer{
					.slider{
						>img{
							height: 546px;
						}
						.content-wrapper{
							top: 79px;
							left: 150px;

							h2{
								margin-bottom: 40px;
							}

							a.watch_video{
								background: none;
								background-image: url("../images/btn.png");
								background-repeat: no-repeat;
								background-position: 0 0;
								padding: 11px 0 15px 84px;
								margin:0;
								margin-right: 20px;

								&:hover{
									background: none;
									background-image: url("../images/btn.png");
									background-repeat: no-repeat;
									background-position: 0 0;
									margin-top: 2px;
									padding: 11px 0 15px 84px;
									color: $link-hover-color;
								}
							}
						}
						
						&.first{

						}

						&.video{

						}
					}
				}
			}
		}
	}
}
}

@media (min-width: $screen-lg-min){
.homepage_v2{
	&.homepage-trailer{
		.row{
			.rslides_container{
				#slider-trailer{
					.slider{
						.content-wrapper{
							h2{

							}

							a.watch_video{
								
							}
						}
						
						&.first{

						}

						&.video{

						}
					}
				}
			}
		}
	}
}
}

@media (min-width: 1248px){
.homepage_v2{
	&.homepage-trailer{
		width: 1248px;
		margin: 0 auto;
		.row{
			.rslides_container{
				#slider-trailer{
					.slider{
						img{
							height: 546px;
						}
						.content-wrapper{
							h2{

							}

							a.watch_video{
								
							}
						}
						
						&.first{

						}

						&.video{

						}
					}
				}
			}
		}
	}
}
}



/**************************/
/**** MAKING YOUR MARK ****/
/**************************/

.homepage_v2{
	&.homepage-mark{
		width: 100%;
		position: relative;

		.row{
			//background: $black;
			>img{
				overflow: hidden;
			}

			.content-wrapper{
				position: absolute;
				margin: $grid-gutter-width/2;
				.texts{
					h2{
						font-weight: bold;
						font-size: 30px;
						line-height: 113%;
						color: $white;
						margin: 0;
						padding: 0;
						padding-bottom: 10px;
						letter-spacing: 0;

						text-align: center;
					}
					
					h3{
						color:$gray_lighter;
						margin:0;
						text-transform: uppercase;
						letter-spacing: 0;

						font-size: 1rem;
						line-height: 123%;
						padding:0 0 10px 0;

						font-weight: 600;
						text-align: center;
						text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
					}

					p{
						color: $white;
						margin:0;
						letter-spacing: 0;
						
						font-size: 0.9rem;
						line-height: 123%;
						padding: 0 0 15px 0;

						font-weight: 500;
						text-align: center;
						text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
					}
				}

				
				.create-msg{
					@include border-radius(15px);
					background: $brand-primary;
					border: 3px solid $white;
					color: $white;
					font-size: 20px;
					line-height: 110%;
					text-transform: uppercase;
					text-align: center;
					text-decoration: none;
					//padding-top: 45px;
					font-weight: 600;
					letter-spacing: 0;
					
					padding: $grid-gutter-width/3;
					width: 180px;
					margin: 0 auto;
					bottom: $grid-gutter-width/3;
					display: block;

					.text{	
						.small{
							margin-top: 5px;
							display: block;
							letter-spacing: 0;
							
							font-size: 0.9rem;
							line-height: 100%;
						}
					}

					&:hover{
						background: $link-hover-color;
					}
				}
			}
		}
	}
}


@media (min-width: $screen-sm-min){
.homepage_v2{
	&.homepage-mark{
		.row{
			.content-wrapper{

				.texts{
					width: 60%;
					h2{
						font-size: 40px;
						text-align: left;
						padding-bottom: 30px;
					}
					
					h3{
						font-size: 17px;
						text-align: left;
						padding-bottom: 10px;
					}

					p{
						font-size: 17px;
						text-align: left;
						padding-bottom: 30px;
					}
				}

				.create-msg{
					right: 5%;
					top: 100px;
					position: absolute;
					width: 190px;
					height: 190px;
					@include border-radius(50%);
					border: 6px solid $white;
					font-size: 27px;

					.text{	
						width: 120px;
						margin-top: 7px;
						margin-left: 9px;
						display: block;
						.small{
							font-size: 1rem;
							line-height: 120%;
						}
					}
				}
			}
		}
	}
}
}

@media (min-width: $screen-md-min){
.homepage_v2{
	&.homepage-mark{
		.row{
			.content-wrapper{
				margin: $grid-gutter-width;
				width: 100%;
				.texts{
					width: 600px;
					h2{
						font-size: 48px;
						text-shadow:none; 
					}
					
					h3{
						text-shadow:none;
					}

					p{
						text-shadow:none;
						font-weight: 600;
					}
				}

				.create-msg{
					right: 20%;
					top: 100px;
					
					.text{
						margin-top: 7px;
						margin-left: 9px;

						.small{
						}
					}

					&:hover{
						background: $link-hover-color;
					}
				}
			}
		}
	}
}	
}

@media (min-width: $screen-lg-min){
.homepage_v2{
	&.homepage-mark{
		.row{
			.content-wrapper{
				.texts{
					h2{

					}
					
					h3{

					}

					p{

					}
				}

				.create-msg{
					right: 15%;
				}
			}
		}
	}
}	
}

@media (min-width: 1248px){
.homepage_v2{
	&.homepage-mark{
		.row{
			width: 1248px;
			margin: 0 auto;
			.content-wrapper{
				width: 1128px;
				.texts{
					h2{

					}
					
					h3{

					}

					p{

					}
				}

				.create-msg{
					right: 220px;
				}
			}
		}
	}
}	
}