.learnmore{
	h2{
		font-size: 1.8rem;
		line-height: 110%;
		letter-spacing: 0;
		//color: rgba(0, 46, 64, 0.6);
		color: $white;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	h3{
		font-size: 1.3rem;
		line-height: 110%;
		color: $white;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0;
	}

	b{
		font-weight: 600;
		color: $white;
		letter-spacing: 0;
		display: block;
	}

	p{
		font-size: 1.1rem;
		line-height: 1.5rem;
		letter-spacing: 0;
		color: $white;
	}

	.sidebar-images{
		padding: 0;
		img{
			width: 100%;
			height: auto;
		}
	}

	.hrw{
		p{
			margin: 0;
			padding: 0;
			img{
				width: 65px;
				height: 65px;
				margin: 0 10px 10px 0;
				float: left;
			}

			letter-spacing: 0;
			color: $white;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 0.75rem;
			letter-spacing: 0;
			line-height: 125%;
		}
	}
}



@media (min-width: $screen-md){
	.learnmore{
		.hrw{
			padding: 0;
			p{
				margin: 0;
				padding: 0;
				img{
					width: 65px;
					height: 65px;
					margin: 0 10px 10px 0;
					float: left;
				}

				letter-spacing: 0;
				color: $white;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 0.75rem;
				letter-spacing: 0;
				line-height: 125%;
			}
		}
	}
}