.neighbours{
	h2.form-title{
		color: $brand-primary;
		text-transform: uppercase;
	}

	.group-title{
		text-transform: uppercase;
		color: $gray_light;
		font-size: 0.875rem;
		margin: 0.5rem 0;
	}

	button[type='submit']{
		display: block;
		float: right;
		font-size: 1.2rem;
		margin-top: $grid-gutter-width;
	}

	&.language_menu{
		margin-top: 60px;

		a{
			background: $brand-primary;
			text-decoration: none;
			color: $white;
			padding: 6px 12px 15px;
			text-transform: uppercase;
			font-weight: 500;
			border:none;

			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;

			&:hover{
				background: $link-hover-color;
			}
		}
	}
}
