.participate{
	.container-overlay{
		margin-top: $grid-gutter-width/2;
		.cta{
			text-align: center;
		}
	}

	.overlay-centered{
		margin-top: $grid-gutter-width/3;

		h1{
			margin: 0; 
			padding: 0;
			font-size: 1.8em;
			line-height: 150%;

			u{
				text-decoration: none;
				border-bottom-width: 2px;
				border-bottom-style: solid;
			}
		}

		p{
			font-size: 1.2em;
			font-weight: 600;
			margin: 0.5rem 0;
			line-height: 130%;

		}

		&.dark{
			h1{
				color: #4c4c4c;
				color: rgba(19, 19, 19, 0.75);
				u{
					border-bottom-color: #4c4c4c;
					border-bottom-color: rgba(19, 19, 19, 0.75);
				}
			}

			p{
				color: #4c4c4c;
				letter-spacing: 0;
			}
		}


		&.light{
			h1,p{
				color: $white;
				u{ border-bottom-color: $white;}
			}
			h1{ letter-spacing: 0.1em; }
			p{ font-weight: 400; }
		}
	}
	
	&.col-3{
		margin-top: $grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;

		h3{
			font-size: 1rem;
			text-transform: uppercase;
			font-weight: 600;
			margin-top: 0;
			padding-top: 0;
			text-align: left;
		}

		p{
			text-align: left;
			margin-bottom: 0;
		}

		.col-sm-4{
			padding: $grid-gutter-width/2 0;
			margin: 0 $grid-gutter-width/2;

			&.first{
				border-bottom: 1px solid $gray_lighter;
				border-right: none;
			}

			&.last{
				border-top: 1px solid $gray_lighter;
				border-left: none;
			}
		}
	}

	&.col-3-type2{
		margin-top: $grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;

		h3{
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1.7rem;
		}

		p{
			margin-top: 0;
		}

		.row{
			position: relative;
			span{
				position: absolute;
				background: $white;
				font-size: 0.7rem;
				z-index: 1;
				text-align: center;
				width: 100%;
			}

			.col-sm-4{
				padding: $grid-gutter-width/2 0;
				margin: 0 $grid-gutter-width/2;
				text-align: center;

				p{
					margin-bottom: 0;
				}

				&.first{
					//border-bottom: 1px solid $gray_lighter;
					border-right: none;
				}

				&.last{
					//border-top: 1px solid $gray_lighter;
					border-left: none;
				}
			}
		}
	}


}


@media (min-width: $screen-sm-min){
	.participate{
		.container-overlay{
			margin-top: $grid-gutter-width;
			.cta{
				text-align: left;
			}
		}

		.overlay-centered{
			margin-top: auto;

			h1{
				font-size: 2em;
			}
			p{
				font-size: 1.2em;
				margin: 1em 0;
				line-height: 130%;
			}
		}

		&.col-3{
			margin-top: $grid-gutter-width;
			margin-bottom: $grid-gutter-width;
			
			h3,p{
				text-align: center;
			}

			.col-sm-4{
				padding: 0 $grid-gutter-width/2;
				margin: 0;

				&.first{
					border-bottom: none;
					border-right:  1px solid $gray_lighter;
				}

				&.last{
					border-top: none;
					border-left:  1px solid $gray_lighter;
				}
			}
		}

		&.col-3-type2{
			.row{
				position: relative;
				span{
					padding: 4px;
					margin-left: -9px;
					top: 39px;
					width: auto;
				}

				.col-sm-4{
					padding: 0 $grid-gutter-width/2;
					margin: 0;

					p{
						margin: 0 auto;
						max-width: 180px;
					}

					&.first{
						border-bottom: none;
						border-right:  1px solid $gray_lighter;
					}

					&.last{
						border-top: none;
						border-left:  1px solid $gray_lighter;

						p{
							max-width: 190px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-md-min){

}

@media (min-width: $screen-lg-min){

}