.orderconfirmation_v2{
	&.blue{
		background: $brand-primary; 
		margin-bottom: -30px;
	}

	&.preview{
		background: url("/images/wood_blue.jpg") no-repeat;
		background-position: top center;
		background-size: 100%;

		h2{
			font-size: 2.1rem;
			color: $white;
			margin: 40px 0 20px;
			line-height: 100%;
			text-transform: none;
			font-weight: 500;
			text-align: center;

			text-shadow: 0 1px 2px rgba(0, 47, 64, 0.40);

			&.gift{
				margin: 40px 0;
			}
		}
		
		.preview_wrapper{
			background: url("/images/editor-bg.jpg") no-repeat;
			//background-size: 100%;
			background-position: center center;
			margin: 0 auto;
			box-shadow: 0 0 16px #014c6c;
			overflow: hidden;

			img{ 
				height: 100%;
			}

			&.square{
				width: 350px;
				height: 350px;
			}

			&.rectangle, &.large, &.custom{
				width: 935px;
				height: 228px;
			}
		}

		.social-share{
			background: url("/images/facebook_share.png") no-repeat;
			width: 154px;
			height: 35px;
			display: block;
			margin: 40px auto;

			&:after{
				content: '';
			}

			&:hover{
				background: url("/images/facebook_share_hover.png") no-repeat;
			}
		}
	}
	
	.normal-info{
		text-align: center;
		color: $white;
		font-size: 1.1rem;

		.line1{
			text-transform: uppercase;
			margin: 30px 0 10px;
			.dark{
				color: $deep-blue;
				font-weight: 600;
			}
		}

		.line2{
			margin: 0 auto 80px;
			max-width: 700px;
			line-height: 170%;
		}
	}

	.gift-info{
		text-align: center;
		color: $white;
		font-size: 1.1rem;
		.line1, .line2{
			text-transform: uppercase;
			margin: 30px 0 10px;
			font-weight: 500;
			.dark{
				color: $deep-blue;
			}
		}

		.line1{ margin-top: 50px; }

		.line3{
			margin: 0 auto 80px;
			max-width: 700px;
			line-height: 170%;
		}
	}

	.social-action{
		.first_line, .second_line{
			text-transform: uppercase;
			color: $white;
			font-size: 1.1rem;
			line-height: 175%;
			font-weight: 600;
			text-align: center;
		}
		
		a, a:hover{
			text-decoration: none;
		}

		.button{
			background: url("/images/homev3_cta_btn.png") no-repeat;
			background-position: top center;
			background-size: 130px;
			min-height: 170px;
			width: 130px;
			margin: 30px auto;
			cursor: pointer;

			span{
				text-align: center;
				display: block;
				font-weight: 600;
				letter-spacing: 0;
				text-transform: uppercase;
				text-align: center;
				line-height: 110%;
				text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);

				&.l1{
					padding-top: 49px;
					font-size: 1.2rem;
					color: $brand-primary;
					line-height: 120%;
				}

				&.l2{
					font-size: 1.2rem;
					line-height: 120%;
					color: $brand-primary;
				}

				&.l3{
					margin: 0 auto;
					width: 90px;
					height: auto;
					img{
						width: 100%;
					}
				}
			}
		}
	}

}	