.paymentconfirmation{
	.thankyou{
		h2{
			font-size: 1.25rem;
			text-transform: uppercase;
			letter-spacing: 1px;

			b{ font-weight: 600; }
		}

		p{
			font-size: 1.25rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 110%;
			font-weight: 500;
			color: $gray_light;
		}
	}

	.expiration{
		h3{
			font-size: 1.25rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 110%;
			font-weight: 500;
			color: $gray_lighter;
		}

		p{
			font-size: 0.875rem;
			color: $gray_lighter;
			line-height: 120%;
			text-transform: none;
			letter-spacing: 1px;
		}
	}


	&.goto{
		padding-top: $grid-gutter-width/2;
		padding-bottom: $grid-gutter-width/2;

		.highlight{
			text-transform: uppercase;
			text-align: center;
			margin-top: 20px;
			font-weight: 500;
			font-size: 1.125rem;
		}

		.cta{
			margin-top: $grid-gutter-width/2;
			margin-bottom: $grid-gutter-width/2;
			text-align: center;
		}
	}

	h2.credit_overview_title{
		margin-top: $grid-gutter-width;
		font-size: 1.125rem;
		text-transform: uppercase;
		color: $brand-primary;
	}

	.credit-overview{
		padding: $grid-gutter-width/2;
		padding-bottom: $grid-gutter-width/3;
		@include border-radius();

		h3{
			font-size: 1rem;
			text-transform: uppercase;
			margin: 0;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		.credit-type-group{
			margin-bottom: $grid-gutter-width/2;
		}
		
		.group_title{
			font-weight: 600;
			text-transform: uppercase;
			font-size: 0.875rem;
			letter-spacing: 0;
			display: block;
			margin: 0 0 1rem 1rem;

		}

		ul{
			list-style-type: none;
			margin: 0 0 1rem 2rem;
			padding: 0.5rem 0;
			background: #E5E5E5;
			display: inline-block;
			@include border-radius();
			li{
				font-size: 0.875rem;
				padding: 0.5rem 1rem;

				b{
					font-weight: 600;
				}
			}
		}
	
		.group-wrapper{
			display: inline-block;
			margin-left: 1rem;

			ul{
				margin: 0 0 1rem 1rem;
				padding: 0.5rem 0;
				//border: 1px solid #E0E0E0;

				li{
					font-size: 0.875rem;
					//border-bottom: 1px solid $gray_lighter;
					padding: 0.5rem 1rem;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-sm){
	.paymentconfirmation{
		&.goto{
			padding-top: $grid-gutter-width;
			padding-bottom: $grid-gutter-width;

			.highlight{
				text-transform: uppercase;
				text-align: center;
				margin-top: 20px;
				font-weight: 500;
				font-size: 1.125rem;
			}

			.cta{
				margin-top: 25px;
				margin-bottom: 0;
				text-align: left;
			}
		}
	}
}

@media (min-width: $screen-md-min){}
@media (min-width: $screen-lg-min){}
