.share_preview{
	&.wood{
		background: url("/images/wood_blue.jpg") repeat-y;
		background-position: top center;
		background-size: 100%;
	}

	&.blue{
		background: $brand-primary;
		margin-bottom: -30px;
	}

	.title{
		text-transform: uppercase;
		color: $white;
		font-size: 1.7rem;
		font-weight: 600;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 45, 64, 0.55);
		line-height: 130%;
		
		small{
			text-transform: none;
			font-weight: 400;
			font-size: 1.3rem;
			margin-top: 20px;
			display: block;
		}

		span.black{
			color: $deep-blue;
			text-transform: none;
			font-weight: 400;
		}
	}

	.preview_wrapper{
		background: url("/images/editor-bg.jpg");
		float:left;
		margin: 30px 0;
		
		-moz-box-shadow: 1px 2px 16px $deep-blue; 
		-webkit-box-shadow: 1px 2px 16px $deep-blue; 
		box-shadow: 1px 2px 16px $deep-blue; 

		.preview_img{
			float:left;
			img{
				width: 100%;
				position: relative;
				
			}
		}


		&.square{
			margin: 30px auto;
			width: 400px;
			height: 400px;
			float:none;

			.preview_img{
				img{
				}
			}
		}
	}


	h2{
		text-align: center;
		color: $white;
		text-transform: uppercase;
		font-size: 1.5rem;
		text-shadow: 0 1px 2px rgba(0, 45, 64, 0.55);
		font-weight: 600;
		margin: 30px 0 10px 0;
		padding: 0;
		
		span{
			font-size: 2.1rem;
		}
	}

	p{
		color: $deep-blue;
		text-align: center;
		font-size: 1rem;
		margin: 0 auto;
		font-weight: 500;
		
		strong{
			display: block;
		}
	}
	
	a{
		text-decoration: none;
	}

	.cta_button{
		background: url("/images/homev3_cta_btn.png") no-repeat;
		background-position: top center;
		background-size: 130px;
		min-height: 170px;
		width: 130px;
		margin: 30px auto 10px;
		cursor: pointer;

		span{
			text-align: center;
			display: block;
			font-weight: 600;
			letter-spacing: 0;
			text-transform: uppercase;
			text-align: center;
			line-height: 110%;
			text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);

			&.l1{
				padding-top: 49px;
				font-size: 1.2rem;
				color: $brand-primary;
				line-height: 120%;

				&.a{
					color: #F00;
				}
			}

			&.l2{
				font-size: 1.35rem;
				color: $brand-primary;
			}

			&.l3{
				font-size: 1.9rem;
				color: $deep-blue;
			}
		}
	}

	.preview_social{
		font-size: 1.1rem;
		color: $white;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		a{
			letter-spacing: 0;
			color: $deep-blue;

			&:hover{
				text-decoration: underline;
			}
		}

		margin-bottom: 60px;

		.friends{
			text-transform: none;
		}
	}

}