.productselect{
	&.vspace-full{
		margin-top: $grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;
	}
	

	.example{
		display: block;
		margin-top: $grid-gutter-width/2;
		padding-bottom: $grid-gutter-width;
		margin-left: 28px;
		img{
			display:block;
		}
	}

	.center-button{
		text-align: center;
	}


	&.vspace-top-full{
		margin-top: $grid-gutter-width/2;
	}
	.col-sm-4{
		margin-top: $grid-gutter-width/2;
		&.first{ 
			margin-top: 0; 
			padding-bottom: 1rem;
			border-bottom: 1px solid $gray_ultra_light;
		}

		&.last{
			padding-top: 1rem;
			border-top: 1px solid $gray_ultra_light;
		}

		.wrapper{
			@include border-radius(15px);
			overflow: hidden;
			padding: $grid-gutter-width/3;
			text-align: center;
			//border: 1px solid $gray-ultra_light; 
			img{
				display: block;
				width: 100%;
				height: auto;
				@include border-radius();
				margin-bottom:  $grid-gutter-width/3;
				background: $white;
			}

			h3{
				font-size: 1rem;
				text-transform: uppercase;
				text-align: center;
			}
			p{
				text-align: center;
				margin: 0;
			}

			&.selected{
				background: $brand-primary;
			}
		}

		.details{
			padding-left: $grid-gutter-width/2;
			p{
				margin: 0.5rem;
			}
		}
	}

	.top-highlight, .bottom-highlight{
		p{

			&.blue{
				font-size: 1rem;
				color: $brand-primary;
			}
			
			color: #787878;
			.glyphicon{
				margin-right:10px;
			}
			
			letter-spacing: 0px;
		}
	}

	.bottom-highlight{
		p{
			span{
				&.blue{
					font-size: 1rem;
				}
			}
		}
	}

	.center_hrw{
		width: 406px;
		margin:0 auto;
		.left{
			max-width: 276px;
			margin-right: 40px;
			float:left;
		}
	}
}

@media (min-width: $screen-sm){
	.productselect{
		&.vspace-full{
			margin-top: $grid-gutter-width;
			margin-bottom: $grid-gutter-width;
		}

		&.vspace-top-full{
			margin-top: $grid-gutter-width;
		}

		.col-sm-4{
			margin-top:0;
			&.first{ 
				padding-bottom: 0;
				border-bottom: none;
			}

			&.last{
				padding-top: 0;
				border-top: none;
			}
		}	
	}
}


@media (min-width: $screen-md-min){}
@media (min-width: $screen-lg-min){}

.fullscreen-container{
	&.productselect{
		padding-top: $grid-gutter-width/2;
		padding-bottom: $grid-gutter-width/2;

		h3{
			text-transform: uppercase;
			font-size: 1.125rem;
			color: $gray-light;
			font-weight: 400;
		}

		p{
			color: $gray-light;
		}

		button{
			vertical-align: middle;
		}

		.emphasize-block{
			margin-left: 1rem;
			background: $white;
			border: 1px solid $brand-primary;
			@include border-radius(15px);

			padding: 1rem;
			
			h3{
				color: $brand-primary;
				font-weight: 600;
				font-size: 1.2rem;

				.glyphicon{
					//color: $gray-light;
					font-size: 1.5rem;
					font-weight: 400;
					margin-right: 0.5rem;
				}
			}

			p{
				font-weight: 500;
				font-size: 1rem;
				.smaller{
					font-size: 0.9rem;
					font-weight: 400;
					letter-spacing: 0;
					display: block;
				}
			}
		}


		.overlay-centered{
			h2{
				text-transform: none;
				font-size: 1.2rem;
				margin-bottom: 0;
			}

			p{
				margin-top: 0.5rem;
			}
		}

		&.col-sm-4{
			margin-top: $grid-gutter-width/2;

			&.first{
				margin-top: 0;
			}
		}
	}
}


@media screen and (min-width: $screen-sm){
	.fullscreen-container{
		&.productselect{
			.first{
				//border-right: 1px solid $gray-lighter;
			}

			h3{
				margin-top:0;
			}

			p{
				margin-bottom: 0;
			}
		}
	}
}




