.productselectv2, .gift{

	.warning-block{
		margin: $grid-gutter-width/2 auto 0;
		background: rgba(255, 255, 255, 0.7);
		color: $deep-blue;
		display: none;
		text-align: center;
		padding: 16px 20px;
		font-size: 0.85rem;
		vertical-align: middle;
		line-height: 100%;
		border: 1px solid #c70018;
		width: 570px;
		.glyphicon{
			color: #c70018;
			font-size: 1.3rem;
			vertical-align: middle;
			margin-top: -6px;
		}
	}

	.thankyou-block{
		margin: $grid-gutter-width/2 auto 0;
		background: rgba(255, 255, 255, 0.7);
		color: #003413;
		display: none;
		text-align: center;
		padding: 16px 20px;
		font-size: 0.85rem;
		vertical-align: middle;
		line-height: 100%;
		border: 1px solid #1a552f;
		width: 680px;
		.glyphicon{
			color: #008c48;
			font-size: 1.3rem;
			vertical-align: middle;
			margin-top: -6px;
		}
	}

	ul#slider.rslides{
		position: relative;
		list-style: none;
		overflow: hidden;
		width: 100%;
		padding: 0;
		margin: 0;
		max-height: 250px;

		li{
			-webkit-backface-visibility: hidden;
			position: absolute;
			display: none;
			width: 100%;
			left: 0;
			top: 0;

			&:first-child{
				position: relative;
				display: block;
				float: left;
			}
		}

		img{
			display: block;
			height: auto;
			float: left;
			width: 100%;
			border: 0;
		}
	}

	ul.rslides_tabs{
		list-style-type: none;
		text-align: center;
		width: 100%;
		position: absolute;
		bottom: 0;
		z-index: 900;
		margin: 0 -30px;
		padding: 0;

		li{
			margin: 10px 2px;
			padding: 0;
			display: inline-block;
			a{
				text-indent: -9999px;
				display: block;
				width: 10px;
				height: 10px;
				@include border-radius(5px);
				background: rgba(0, 0, 0, 0.8);
				border: 1px solid rgba(255, 255, 255, 0.8);

				&:hover{
					background: $brand-primary;
				}
			}
		}

	}

	h1{
		color: $brand-primary;
		font-weight: 400;
		font-size: 1.8rem;
		text-align: center;
		text-transform: none;
		letter-spacing: 0;
		margin: 20px 0;
	}

	.alert{
		font-size: 0.8rem;

		strong{
			font-size: 1.2em;
		}
	}

	.productTable{
		.productCol{
			margin-bottom: 2px;
			background: $brand-primary;
			text-decoration: none;
			&:hover{
				text-decoration: none;
			}

			.title{
				text-transform: uppercase;
				color: $white;
				font-size: 1rem;
				line-height: 100%;
				font-weight: 600;
				padding: 10px 20px;
				position: relative;

				.glyphicon{
					font-size: 0.7rem;
					float: right;
					margin-top: 2px;
				}
			}

			.content{
				background: $gray_darker;
				padding:0;

				.content_bg{
					padding: 15px 0;
				}

				.icon{
					display: block;
					margin: 0 auto;

					img{
						margin:0 auto;
					}
				}

				.c01, .c02{
					padding: 0 15px;
					text-align: center;
					font-size: 0.8rem;
					color: $white;
					font-weight: 500;
					margin: 10px 0 0 0;
					line-height: 140%;
					b{
						color: $brand-primary;
						font-weight: 600;
					}
				}

				.c02{
					height: 30px;
				}

				.size{
					text-align: center;
					color: $white;
					font-weight: 600;
					margin: 10px 0;
					padding: 0 15px;
					font-size: 1rem;
					line-height: 100%;
				}

				.price{
					text-align: center;
					color: $white;
					font-weight: 600;
					margin: 10px 0 0;
					padding: 0 15px;
					font-size: 1.4rem;
					line-height: 100%;
				}
			}

			&.small_square{
				.content{
					.icon{
						width: 72px;
						height: 67px;
					}
				}
			}

			&.small_rectangle{
				.content{
					.icon{
						width: 137px;
						height: 48px;
					}
				}
			}

			&.large{
				.content{
					.icon{
						width: 191px;
						height: 66px;
					}
				}
			}

			&.large_custom{
				.content{
					.icon{
						width: 191px;
						height: 67px;
					}
				}
			}

			.the_button{
				display:none;
				background: url("/images/homev3_cta_btn.png") no-repeat;
				background-position: top center;
				background-size: 100px;
				min-height: 109px;
				width: 100px;
				margin: 30px auto;
				cursor: pointer;
				z-index: 1;
				position: relative;
				margin-bottom: -52px;

				span{
					text-align: center;
					display: block;
					font-weight: 600;
					letter-spacing: 0;
					text-transform: uppercase;
					text-align: center;
					line-height: 110%;
					text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);

					&.l1{
						padding-top: 40px;
						font-size: 0.9rem;
						color: $brand-primary;
						line-height: 120%;

						&.a{
							color: #F00;
						}
					}

					&.l2{
						font-size: 1rem;
						color: $brand-primary;
					}

					&.l3{
						font-size: 1.3rem;
						color: $deep-blue;
					}
				}
			}
		}
	}


	a.editor-link{
		text-decoration: none;
	}
}


@media (min-width: $screen-sm){
	.productselectv2, .gift{
		.productTable{
			.productCol{
				width: 50%;
				vertical-align: top;
				background: none;
				margin: 0 0 30px 0;
				float: left;

				.title{
					margin: 0 auto 50px;
					color: $gray_light;
					text-align: center;
					max-width: 170px;
					.glyphicon{
						display: none;
						visibility: hidden;
					}
				}

				.content{
					margin: 0 3px;
					background-image: url('../images/product_wood.jpg');
					background-position: center center;
					background-repeat: no-repeat;
					position: relative;

					.content_bg{
						background: rgba(0, 0, 0, 0.6);
					}

					.c01, .c02{
						span.big{
							text-transform: uppercase;
							font-weight: 600;
						}
					}

					.c01, .c02, .size, .price{
						padding: 0 30px;
					}
				}

				&.small_square{
					.content{
						.icon{
							margin-top: -73px;
						}
					}
				}

				&.small_rectangle{
					.title{
						margin-bottom: 34px;
					}
					.content{
						.icon{ margin-top: -54px; }
					}
				}

				&.large{
					.content{
						.icon{ margin-top: -69px; }
					}
				}

				&.large_custom{
					.content{
						.icon{ margin-top: -70px; }
						.content_bg{
							background: rgba(0, 0, 0, 0.8);
						}
					}
				}
			}
		}
	}


	#main.nl{
		.productselectv2, .gift{
			.productTable{
				.productCol{
					&.large_custom{
						.c02{
							height: 34px;
						}
					}
				}
			}
		}
	}
}



@media (min-width: $screen-md){
	.productselectv2, .gift{
		&.selection .row > div{
			margin: 0;
		}

		h1{
			font-size: 2.1rem;
		}

		.productTable{
			.productCol{
				width: 214px;
				margin: 0 6px 0 0;
				cursor: pointer;

				.title{
					font-size: 1.2rem;
				}

				.content{
					margin: 0;
					height: 290px; //227px;

					-webkit-border-top-left-radius: 4px;
					-webkit-border-top-right-radius: 4px;
					-moz-border-radius-topleft: 4px;
					-moz-border-radius-topright: 4px;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				    behavior: url("behaviors/PIE.htc");

					.c01, .c02, .size, .price{
						padding: 0 15px;
					}

					.content_bg{
						-webkit-transition: background 0.2s ease;
						-moz-transition: background 0.2s ease;
						-o-transition: background 0.2s ease;
						transition: background 0.2s ease;
					}


					.icon, .c01, .c01 b, .c02 b, .price{
						-webkit-transition: all 0.2s ease;
					    -moz-transition: all 0.2s ease;
					    -o-transition: all 0.2s ease;
					    transition: all 0.2s ease;

					}

					&:hover{
						.content_bg{
							background-color: rgba(0, 187, 255, 0.8);
						}


						.c01, .c02{
							b{ color: $deep-blue; }
						}

						.price{ color: $deep-blue; }
					}
				}

				&.selected{
					.content{
						.content_bg{
							background-color: $brand-primary;
						}

						.c01, .c02{
							b{ color: $deep-blue; }
						}

						.price{ color: $deep-blue; }
					}

				}


				&.small_square{
					.c01{ margin-top: 31px; }

					&:hover, &.selected {
						.icon{ margin-top: -63px; }
						.c01{ margin-top: 26px; }
					}
				}

				&.small_rectangle{
					.title{margin-bottom: 50px;}
					.c01{ margin-top: 31px; }

					&:hover, &.selected{
						.icon{ margin-top: -44px; }
						.c01{ margin-top: 26px; }
					}
				}

				&.large{
					margin-right: 32px;
					.title{margin-bottom:69px;}
					&:hover, &.selected{
						.icon{ margin-top: -60px; }
						.c01{ margin-top: 5px; }
					}
				}

				&.large_custom{
					margin: 0;
					&:hover , &.selected{
						.icon{ margin-top: -60px; }
						.c01{ margin-top: 5px; }
					}

					.content{
						.content_bg{
							.c01, .c02, .price, .size{ padding: 0 16px; }
						}

						&:hover{
							.content_bg{
								background-color: rgba(0, 140, 191, 0.8);
							}
							//.c01, .c02{
							//	b{ color: $brand-primary; }
							//}

							//.price{ color: $brand-primary; }
						}
					}

					&.selected .content{
						.content_bg{
							background-color: #008CBF;
						}

						//.c01, .c02{
						//		b{ color: $brand-primary; }
						//}

						//.price{ color: $brand-primary; }
					}
				}


				.the_button{
					display: block;
				}
			}
		}

		&.fullscreen-container{
			&.blue{
				background: $brand-primary;
				-webkit-transition: background 0.2s ease;
				-moz-transition: background 0.2s ease;
				-o-transition: background 0.2s ease;
				transition: background 0.2s ease;

				position: relative;
				min-height: 200px;
				&.custom{
					background-color: #008CBF;
				}

				&.normal-flow{
					padding: 50px 0;
				}
			}
		}

		.cta_button{
			background: url("/images/homev3_cta_btn.png") no-repeat;
			background-position: top center;
			background-size: 130px;
			min-height: 170px;
			width: 130px;
			margin: 30px auto;
			cursor: pointer;

			span{
				text-align: center;
				display: block;
				font-weight: 600;
				letter-spacing: 0;
				text-transform: uppercase;
				text-align: center;
				line-height: 110%;
				text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);

				&.l1{
					padding-top: 49px;
					font-size: 1.2rem;
					color: $brand-primary;
					line-height: 120%;

					&.a{
						color: #F00;
					}
				}

				&.l2{
					font-size: 1.35rem;
					color: $brand-primary;
				}

				&.l3{
					font-size: 1.9rem;
					color: $deep-blue;
				}
			}
		}

		.cta{
			text-align: center;
		}

		 .btn-submit{
		 	background: url("/images/homev3_cta_btn.png") no-repeat;
			background-position: top center;
			background-size: 130px;
			min-height: 170px;
			width: 130px;
			margin: 30px auto;
			cursor: pointer;

			span{
				text-align: center;
				display: block;
				font-weight: 600;
				letter-spacing: 0;
				text-transform: uppercase;
				text-align: center;
				line-height: 100%;
				text-shadow: 1px 1px 0 rgba(0, 45, 64, 0.55);

				&.l1{
					font-size: 2rem;
					color: $brand-primary;
					line-height: 100%;
				}

				&.l2{
					font-size: 2rem;
					color: $deep-blue;
				}
			}

			&:after{
				content: '';
			}
		}
	}

	form#gift_form{
		.col-input{
			margin: 0;
			padding: 0;
		}

		.form-group{
			.col-input{
				height: 34px;
			}

			&.has-error{
				.col-input{
					height: 65px;
				}
			}
		}

		h2{
			color: $white;
			font-weight: 400;
			text-align: center;
			font-size: 1.56rem;
			text-transform: none;
			margin:0;
			padding: 1rem;
		}
		input{
			margin: 0;
			padding: 7px 10px;
			font-size: 1rem;
			line-height: 100%;
			height: auto;
		}

		label.control-label{
			color:$white;
			padding-right: 10px;

			&.checkbox{
				font-weight: 600;
				margin: 0 0 0 10px;
				padding: 0;

				a{
					color:$deep-blue;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		.col-textarea{
			margin: 0;
			padding: 0;
		}

		.col-checkbox{
			margin: 0;
			padding: 0;
			font-weight: 600;
			.checkbox{
				padding: 20px 0 0 0;

				#terms{
					vertical-align: top;
					margin-top: 2px;
				}

				label{
					vertical-align: top;
				}
			}

		}
	}

	.gift{
		.productTable{
			.productCol{
				.content{
					height: 203px;
				}
			}
		}
	}
}

#main.nl{
	.productselectv2, .gift{
		.productTable{
			.productCol{
				.the_button{
					.l2{
						font-size: 0.9rem;
					}
				}

				&.large{
					.c02{
						height: 17px;
					}
				}
			}
		}
	}
}


@media (min-width: $screen-lg){
	.productselectv2, .gift{
		.productTable{
			.productCol{
				width: 226px;
			}
		}
	}
}
