.ambassadors{
	margin: 40px 30px 0;

	h1{
		margin: 0 0 30px 10px;
	}
	.content{
		.ambassador{
			width: 400px;
			background: $white;
			padding: 20px;
			margin: 10px;
			display: inline-block;
			
			h2{
				font-size: 1.2em;
			}

			.thumb{
				display: inline-block;
				margin: 0 20px 20px 0;
				position: relative;
				float: left;
				img{
					
				}
			}

			.body{
				span{
					color: $text;
					font-weight: 600;
					font-size: 0.8em; 
					display: inline-block;
					padding-bottom: 0.4em;
				}

				p{
					font-size: 0.9em;
					line-height: 100%;
				}
			}
		}
	}
}