/* Put your CSS here */
#app {
  @include clearfix();
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paper {
  margin: 1em 0;
  padding: 0;
  border: 0;
  background: url(../images/wood.jpg) repeat center center;
  svg {
    opacity: 0.9;
    // background-color: #fff;
    text tspan {
      -webkit-user-select: none; /* Chrome/Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */

      /* Rules below not implemented in browsers yet */
      -o-user-select: none;
      user-select: none;
    }
    text, circle {
      cursor: pointer;
    }
  }
}

.modal {
  display: block;
}

.btn-toolbar {
  .btn-group {
    margin-right: 3px;
    .btn-label {
      line-height: 30px;
    }
    .ui-slider {
      min-width: 4em;
      margin: 9px 0.5em;
    }
  }
}

#result {
  #canvas-wrapper {
    display: none;
  }
  margin: 1em 0;
  background-color: #fff;
  img {
    width: 100%;
    max-width: 100%;
  }
}


.create{
  border-top: 1px solid $gray-lighter;
  padding-top: 60px;

  .sidebar{
    background: $test;
  }

  .title-sub{
    line-height: 100%;
    .large{
      font-size: 1.9rem;
    }

    .small{
      font-size: .65em;
    }


  }
}