.faq{
	width: 100%;
	display: block;

	.content{
		margin: 80px auto;
		display: block;
		vertical-align: top;
		max-width: 720px;
		width: 720px;
		position: relative;

		h1{
			margin-bottom: 40px;
		}
		
		article{
			display: block;
			margin: 30px 0;			
			div.question{
				margin-bottom: 10px;
				color: $text_light;
				font-size: 1.2em;
				font-weight: 600;

				a, a:hover{
					pointer-events:none;
					text-decoration: none;
					cursor: pointer;
					color: $text;
				}
			}

			div.answer{

			}
		}
	}
}