.home{
	.media-container__overlay{
		.media-container__overlay__positioning{
			.title-info{
				margin-top: 10px;

				span{
					text-transform: uppercase;
					line-height: 80%;
					font-weight: 500;
					font-size: 1.125em;
					color: $brand-primary;
					background: $white;
					padding: 5px 5px 2px;
				}
			}

			.bottom{
				margin-top: 70px;

				.quote{
					font-weight: 500;
					color: $white;
					font-size: 1.375em;
					float: left;

					.author{
						font-size: 0.75rem;
						text-align: right;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	&#content{
		img.left{
			margin-right: 10px;
		}
	}
}