.project{
	width: 100%;
	display: block;

	.content{
		margin: 80px auto;
		display: block;
		vertical-align: top;
		max-width: 720px;
		width: 720px;
		position: relative;

		h1{
			margin-bottom: 40px;
		}
		
		article{
			display: block;			
			img{
				display: inline-block;
				width: 200px;
				height: 200px;
			}

			h2{
				margin-bottom: 10px;
				
				a, a:hover{
					pointer-events:none;
					text-decoration: none;
					cursor: pointer;
					color: $text;
				}
			}

			p{
			}

			&.even{
				.left{
					padding-right: 40px;
					float: left;
				}

				.right{
					overflow: hidden;
				}
			}

			&.odd{
				.left{
					padding-right: 40px;
					overflow: hidden;
				}

				.right{
					float: right;
				}
			}

		}
	}
}