<span style='color: #000'>197 frames</span>	<span style='color: #900'>12,032 KB</span>	<span style='color: #090'>430.69 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />