<div class="container visible-xs">
	<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
</div>
<div class="hidden-xs">
	<div class="container">
		<nav role="editor navigation" class="editor-navigation">
			<ul class="clearfix">
				<li ng-repeat="crumb in breadcrumbs" ng-class="crumb.class">
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" ng-click="goto(crumb.path)" ng-show="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" disabled="disabled" ng-hide="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
				</li>
			</ul>
		</nav>
		<h2>{{ 'CHOOSE_UPLOAD_TITLE' | translate }}</h2>
		
		<div id="choose-upload" class="row">
			<div class="col-sm-6">
				<h3 class"blue">{{ 'CHOOSE_UPLOAD_EDITOR_TITLE' | translate }}</h3>
				<button type="button" class="btn btn-primary" ng-click="edit()">{{ 'CHOOSE_EDIT' | translate }}</button>
				<ul class="info">
					<li>{{ 'CHOOSE_UPLOAD_EDITOR_LI01' | translate }}</li>
					<li>{{ 'CHOOSE_UPLOAD_EDITOR_LI02' | translate }}</li>
					<li>{{ 'CHOOSE_UPLOAD_EDITOR_LI03' | translate }}</li>
					<li>{{ 'CHOOSE_UPLOAD_EDITOR_LI04' | translate }}</li>
				</ul>
			</div>
			<div class="col-sm-6 minor">
				<h3>{{ 'CHOOSE_UPLOAD_UPLOAD_TITLE' | translate }}</h3>
				<button type="button" class="btn btn-default" ng-click="upload()">{{ 'CHOOSE_UPLOAD' | translate }}</button>
				<ul class="info">
					<li>{{ 'CHOOSE_UPLOAD_UPLOAD_LI01' | translate }}</li>
					<li>{{ 'CHOOSE_UPLOAD_UPLOAD_LI02' | translate }}</li>
					<li>{{ 'CHOOSE_UPLOAD_UPLOAD_LI03' | translate }}</li>
					<li>{{ 'CHOOSE_UPLOAD_UPLOAD_LI04' | translate }}</li>
					<li>{{ 'CHOOSE_UPLOAD_UPLOAD_LI05' | translate }}</li>
					<li>{{ 'CHOOSE_UPLOAD_UPLOAD_LI06' | translate }} <a href="#techspecs_modal" data-toggle="modal" data-target="#techspecs_modal">{{ 'CHOOSE_UPLOAD_UPLOAD_LI06_CLICK' | translate }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container vspace-top-full">
	<div>
		<div class="well">
			<div class="special-request" ng-bind-html-unsafe="'SPECIAL_REQUEST'|translate"></div>
		</div>
	</div>
</div>

<div class="container vspace-full">
	<div class="row">
		<div class="col-xs-12">
			<img src="content/_global/images/inspiration/axwell.jpg"/>
		</div>
	</div>
	<div class="row vspace-top-half">
		<div class="col-xs-12">
			<img src="content/_global/images/inspiration/drew_seskunas.jpg"/>
		</div>
	</div>
</div>

<div class="modal fade" id="techspecs_modal" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title blue" id="modal-title">{{ 'CHOOSE_UPLOAD_MODAL_TITLE' | translate }}</h4>
			</div>
			<div class="modal-body">
				<p>
					{{ 'CHOOSE_UPLOAD_MODAL_INFO_01' | translate }}<br>
					{{ 'CHOOSE_UPLOAD_MODAL_INFO_02' | translate }}
				</p>
				<p><b>{{ 'CHOOSE_UPLOAD_MODAL_DOWNLOAD_TITLE' | translate }}</b></p>
				<p>
					{{ 'CHOOSE_UPLOAD_MODAL_DOWNLOAD_01' | translate }}
				</p>
				<p>
					<small>{{ 'CHOOSE_UPLOAD_MODAL_DOWNLOAD_INFO_SMALL' | translate }}</small>
					
					<ul>
						<li>{{ 'CHOOSE_UPLOAD_MODAL_DOWNLOAD_SMALL_SQUARE' | translate }}
							<a href="content/_global/templates/people-of-tomorrow_small_square_110x110mm.ai">ai</a> 
							- 
							<a href='content/_global/templates/people-of-tomorrow_small_square_110x110mm.eps'>eps</a>
						</li>
						
						<li>{{ 'CHOOSE_UPLOAD_MODAL_DOWNLOAD_SMALL_RECTANGLE' | translate }}  
							<a href="content/_global/templates/people-of-tomorrow_small_rectangle_52x225mm.ai">ai</a> 
							- 
							<a href='content/_global/templates/people-of-tomorrow_small_rectangle_52x225mm.eps'>eps</a>
						</li>
						
						<li>{{ 'CHOOSE_UPLOAD_MODAL_DOWNLOAD_LARGE_RECTANGLE' | translate }} 
							<a href="content/_global/templates/people-of-tomorrow_small_rectangle_110x450mm.ai">ai</a> 
							-
							<a href="content/_global/templates/people-of-tomorrow_small_rectangle_110x450mm.eps">eps</a>
						</li>

						<li>{{ 'CHOOSE_UPLOAD_MODAL_DOWNLOAD_GROUP' | translate }} 
							<a href="content/_global/templates/people-of-tomorrow_small_square_110x110mm.ai">ai</a> 
							- 
							<a href='content/_global/templates/people-of-tomorrow_small_square_110x110mm.eps'>eps</a>
						</li>
					</ul> 
				</p>
				<hr>
				<p><b>{{ 'CHOOSE_UPLOAD_MODAL_OWN_TITLE' | translate }}</b></p>
				<p>
					{{ 'CHOOSE_UPLOAD_MODAL_OWN_INFO_01' | translate }}
					<ul>
						<li>{{ 'CHOOSE_UPLOAD_MODAL_OWN_INFO_02' | translate }}</li>
						<li>{{ 'CHOOSE_UPLOAD_MODAL_OWN_INFO_03' | translate }}</li>
						<li>{{ 'CHOOSE_UPLOAD_MODAL_OWN_INFO_04' | translate }}</li>	
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CHOOSE_UPLOAD_MODAL_CLOSE' | translate }}</button>
			</div>
		</div>
	</div>
</div>


<script>
	// for some reason this wouldn't work in the main.js
	$(document).ready(function(){
		  if( $('#techspecs_modal').length > 0){
		    $('#techspecs_modal').css('display','none');
		  }
	});
</script>