<div class="container visible-xs">
	<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
</div>
<div class="hidden-xs">
	<div class="container">
<!-- 		<nav role="editor navigation" class="editor-navigation">
			<ul class="clearfix">
				<li ng-repeat="crumb in breadcrumbs" ng-class="crumb.class">
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" ng-click="goto(crumb.path)" ng-show="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" disabled="disabled" ng-hide="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
				</li>
			</ul>
		</nav> -->
		<h2 class="blue-title">{{ 'CHOOSE_TITLE' | translate }}</h2>
		<div id="choose" class="row">
			<div class="column col-sm-3">
				<h4>{{ 'CHOOSE_SQUARE_TITLE' | translate }}</h4>
				<div class="choose-type" ng-click="choose('square')" ng-class="selected == 'square' && 'selected'">
					<img src="content/_global/images/select-square.png" />
					<div class="info" ng-bind-html-unsafe="'CHOOSE_SQUARE_INFO'|translate"></div>
				</div>
			</div>

			<div class="column col-sm-3">
				<h4>{{ 'CHOOSE_RECTANGLE_TITLE' | translate }}</h4>
				<div class="choose-type" ng-click="choose('rectangle')" ng-class="selected == 'rectangle' && 'selected'">
					<img src="content/_global/images/select-rectangle.png" />
					<div class="info" ng-bind-html-unsafe="'CHOOSE_RECTANGLE_INFO'|translate"></div>
				</div>
			</div>

			<div class="column col-sm-3">
				<h4>{{ 'CHOOSE_LARGE_TITLE' | translate }}</h4>
				<div class="choose-type" ng-click="choose('large')" ng-class="selected == 'large' && 'selected'">
					<img src="content/_global/images/select-large.png" />
					<div class="info" ng-bind-html-unsafe="'CHOOSE_LARGE_INFO'|translate"></div>
				</div>
			</div>

			<div class="column col-sm-3">
				<h4>{{ 'CHOOSE_CREATIVE_TITLE' | translate }}</h4>
				<div class="choose-type custom" ng-click="choose('creative')" ng-class="selected == 'creative' && 'selected'">
					<img src="content/_global/images/select-custom.png" />
					<div class="info" ng-bind-html-unsafe="'CHOOSE_CREATIVE_INFO'|translate"></div>
				</div>
			</div>

		</div>
	</div>
	<div class="create-message-now">
		<a class="create-message-button" ng-click="next()">
			<img src="content/_global/images/create.png" alt="create message now" />
		</a>
	</div>
</div>