<div class="container visible-xs">
	<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
</div>
<div class="hidden-xs blue-wood confirm-result">
	<div class="container">
<!-- 		<nav role="editor navigation" class="editor-navigation">
			<ul class="clearfix">
				<li ng-repeat="crumb in breadcrumbs" ng-class="crumb.class">
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" ng-click="goto(crumb.path)" ng-show="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" disabled="disabled" ng-hide="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
				</li>
			</ul>
		</nav> -->
		<div class="row">
			<div class="col-xs-12">
				<br />
				<h2 class="white-title">{{ 'CONFIRM_TITLE' | translate }}</h2>
				<div id="result" class="row">
					<div id="image-wrapper"><img ng-src="{{filename}}" /></div>
							<!-- <a type="button" class="btn btn-primary social-icon" ng-click="share()" ng-bind-html-unsafe="'SHARE_ON_FACEBOOK'|translate"></a> -->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="blue hidden-xs">
	<div class="container centered confirm">
		<div id="order-details" ng-show="special_order">
			<div class="white-text" ng-bind-html-unsafe="'SPECIAL_ORDER'|translate"></div>
			<form id="special-form" role="form" class="clearfix">
	      <input type="text" class="hidden" name="type" required ng-model="special.token">
		    <div class="form-group">
		      <label for="name" class="required">Name</label>
		      <input type="text" name="name" ng-model="special.name" />
		    </div>
		    <div class="form-group">
		      <label for="email" class="required">Email</label>
		      <input type="email" name="email" ng-model="special.email" />
		    </div>
		    <button type="button" class="btn btn-sm btn-block btn-primary" ng-click="submitContactInfo()">Submit your details</button>
		  </form>
		</div>

		<div id="share">
	  	<a class="share-button" ng-click="share()">
				<img src="content/_global/images/share-facebook.png" alt="share on facebook" />
			</a>
	  </div>
		<div class="confirm-body white-text" ng-bind-html-unsafe="'CONFIRM_BODY'|translate" ng-hide="special_order"></div>
		<div class="confirm-extra white-text" ng-hide="special_order">{{ 'CONFIRM_EXTRA' | translate }}</div>
		<div class="follow-us white-text" ng-bind-html-unsafe="'FOLLOW_US'|translate"></div>
		<a class="join-us-button" href="https://www.facebook.com/peopleoftomorrowofficial" target="_blank">
			<img src="content/_global/images/join-us.png" alt="join us on facebook" />
		</a>
	</div>
</div>