<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
      <h4 class="modal-title">{{ options.title }}</h4>
    </div>
    <div class="modal-body">
<!--       <div class="form-group">
        <div class="row">
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><input type="checkbox" ng-model="options.result.wrap.checked"></input> {{ 'MODAL_WRAP' | translate }}</span>
              <input class="form-control input-sm" type="number" value="60" ng-model="options.result.wrap.size" ng-disabled="!options.result.wrap.checked"></input>
              <span class="input-group-addon">{{ 'MODAL_CHARACTERS' | translate }}</span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="form-group">
        <textarea id="new-text" class="form-control" rows="5" placeholder="{{ 'PLACEHOLDER_TEXT' | translate }}" ng-model="options.result.text"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="$dismiss()">{{ 'CANCEL' | translate }}</button>
      <button type="button" class="btn btn-sm btn-primary" ng-click="$close(options.result)">{{ 'SAVE' | translate }}</button>
    </div>
  </div>
</div>