

<div class="container visible-xs">
	<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
</div>
<div class="hidden-xs">
	<div class="container">
		<div class="alert alert-info"  ng-show="tryout">
			{{ "TRYOUT_MESSAGE" | translate }}
		</div>
		<!-- <nav role="editor navigation" class="editor-navigation" ng-hide="tryout">
			<ul class="clearfix">
				<li ng-repeat="crumb in breadcrumbs" ng-class="crumb.class">
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" ng-click="goto(crumb.path)" ng-show="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" disabled="disabled" ng-hide="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
				</li>
			</ul>
		</nav> -->
	</div>
	<div class="blue-wood">
		<div class="container editor-title">
			<button type="button" class="btn btn-sm btn-link show-instructions" title="{{ 'HELP_TEXT' | translate }}" ng-click="help()"><span class="glyphicon glyphicon-question-sign"></span> {{ 'HELP_TEXT' | translate }}</button>
			<h2 class="white-title">{{ "CREATE_TITLE" | translate }}</h2>
		</div>
	</div>
	<div id="select-settings-wrapper">
		<div id="select-settings" class="container">
			<div class="row">
<!-- 				<div ng-show="chooseShapes">
					<div class="col-md-4">
						<h2 data-intro="{{ 'SHAPES_HELP' | translate }}" data-position="top">{{ 'SELECT_SHAPE' | translate }}</h2>
						<div class="shapes">
							<button id="square" type="button" class="btn btn-sm btn-default" ng-model="viewport" btn-radio="'square'" title="{{ 'SQUARE' | translate }}">{{ 'SQUARE' | translate }}</button>
							<button id="rectangle" type="button" class="btn btn-sm btn-default" ng-model="viewport" btn-radio="'rectangle'" title="{{ 'RECTANGLE' | translate }}">{{ 'RECTANGLE' | translate }}</button>
						</div>
					</div>
				</div> -->
				<div ng-class="(chooseShapes && 'col-md-8') || 'col-md-12'">
					<div class="row">
						<div class="col-sm-4">
							<h2 data-intro="{{ 'FONT_HELP' | translate }}" data-position="top">{{ 'SELECT_FONT' | translate }}</h2>
							<div class="row fonts">
								<div class="font" ng-repeat="font in paper.fonts">
									<div class="col-xs-6 col-sm-12 column"><button type="button" class="btn btn-default btn-block" ng-model="attributes.font.family" btn-radio="'{{ font }}'" title="{{ font }}" style="font-family: '{{ font }}';">{{ font }}</button></div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<h2 data-intro="{{ 'DINGBAT_HELP' | translate }}" data-position="top">{{ 'SELECT_DINGBAT' | translate }}</h2>
							<div class="dingbats clearfix">
								<div class="dingbat" ng-repeat="dingbat in paper.dingbats">
									<button type="button" class="btn btn-default btn-block" style="font-family: '{{ dingbat.font }}';" ng-click="addDingbat(dingbat)">{{ dingbat.text }}</button>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<h2 data-intro="{{ 'BACKGROUND_HELP' | translate }}" data-position="top">{{ 'SELECT_BACKGROUND' | translate }}</h2>
							<div class="row backgrounds">
								<div class="background">
									<div class="column col-xs-12"><button type="button" class="btn btn-default btn-block" ng-model="background.title" btn-radio="null" title="{{ 'NO_BACKGROUND' | translate }}">{{ 'NO_BACKGROUND' | translate }}</button></div>
								</div>
								<div class="background" ng-repeat="stamp in paper.stamps">
									<div class="column col-xs-12"><button type="button" class="btn btn-default btn-block" ng-model="background.title" btn-radio="'{{ stamp.title }}'" title="{{ stamp.title }}"><!-- <img ng-src="{{ stamp.preview }}"></img> -->{{ stamp.title }}</button></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="paper-wrapper" class="container clearfix">
		<div class="btn-toolbar">
			<div class="btn-group" data-intro="{{ 'TEXT_HELP' | translate }}" data-position="bottom">
				<button type="button" class="btn btn-sm btn-default" title="{{ 'NEW_TEXT' | translate }}" ng-model="mode.text" btn-checkbox ng-click="setMode('text', mode.text)"><span class="glyphicon glyphicon-font"></span></button>
			</div>

			<div class="animate-show" ng-show="mode.text">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-default" ng-model="attributes.align" btn-radio="'start'" title="{{ 'ALIGN_LEFT' | translate }}"><span class="glyphicon glyphicon-align-left"></span></button>
					<button type="button" class="btn btn-sm btn-default" ng-model="attributes.align" btn-radio="'middle'" title="{{ 'ALIGN_CENTER' | translate }}"><span class="glyphicon glyphicon-align-center"></span></button>
					<button type="button" class="btn btn-sm btn-default" ng-model="attributes.align" btn-radio="'end'" title="{{ 'ALIGN_RIGHT' | translate }}"><span class="glyphicon glyphicon-align-right"></span></button>
				</div>

				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-default" ng-model="attributes.font.bold" btn-checkbox title="{{ 'BOLD' | translate }}"><span class="glyphicon glyphicon-bold"></span></button>
					<button type="button" class="btn btn-sm btn-default" ng-model="attributes.font.italic" btn-checkbox title="{{ 'ITALIC' | translate }}"><span class="glyphicon glyphicon-italic"></span></button>
				</div>

	<!-- 			<div class="input-group input-group-sm">
					<span class="input-group-addon">{{ 'FONT_SIZE' | translate }}</span>
					<input type="number" class="form-control" ng-model="attributes.font.size" min="24">
				</div> -->

				<div class="btn-group">
					<select class="form-control input-sm selectpicker show-tick" data-style="btn-default btn-sm" ng-model="attributes.font.family" ng-options="font for font in paper.fonts" required></select>
				</div>
			</div>
			<div class="btn-group"  data-intro="{{ 'PAINTBRUSH_HELP' | translate }}" data-position="right">
				<button type="button" class="btn btn-sm btn-default" title="{{ 'PAINTBRUSH' | translate }}" ng-model="mode.paintbrush" btn-checkbox ng-click="setMode('paintbrush', mode.paintbrush)"><span class="glyphicon glyphicon-pencil"></span></button>
			</div>

			<div class="animate-show" ng-show="mode.paintbrush">
				<div class="btn-group">
					<!-- <div ui-slider min="5" max="25" ng-model="attributes.brushsize" title="{{ 'BRUSH_SIZE' | translate }}"></div> -->
				</div>
				<div class="btn-group">
					<div class="btn-label pull-left">
						{{ 'BRUSH_SIZE' | translate }}:
					</div>
					<input type="number" ng-min="5" ng-max="25" ng-model="attributes.brushsize" style="max-width: 80px;" />
				</div>
			</div>

			<div class="btn-group">
	      <select class="hidden form-control input-sm selectpicker show-tick" data-style="btn-default btn-sm" ng-model="background.title" ng-options="stamp.title as stamp.title for stamp in paper.stamps">
	        <option value="">{{ 'NO_BACKGROUND' | translate }}</option>
	      </select>
	    </div>

			<div class="animate-show" ng-show="show_edit">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-sm btn-default" title="{{ 'EXIT_TEXT' | translate }}" ng-click="edit()"><span class="glyphicon glyphicon-edit"></span></button>
					<button type="button" class="btn btn-sm btn-default" title="{{ 'REMOVE_TEXT' | translate }}" ng-click="delete()"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</div>
		</div>
		<div id="paper" data-intro="{{ 'PAPER_HELP' | translate }}" data-position="right"><div id="paper-background"></div><div id="paper-svg"></div></div>
		<div id="paper-actions" class="buttons clearfix">
			<!--<a class="btn btn-default" href="" ng-click="goto('/upload')">{{ 'UPLOAD_OWN_DESIGN' | translate }}</a>
			-->

			<!-- <div class="pull-right">
				<button type="button" class="btn btn-default" ng-click="preview()">{{ 'PREVIEW' | translate }}</button>
			</div> -->
			<a class="preview-button" ng-click="preview()">
				<img src="content/_global/images/preview.png" alt="preview" />
			</a>
		</div>
<!-- 		<div class="extra clearfix" ng-hide="tryout">
			<div class="pull-right">
				<p>{{ 'SUBMIT_EXTRA' | translate }}</p>
			</div>
		</div> -->
		<!-- <div class="alert alert-info"  ng-bind-html-unsafe="'GROUP_WARNING'|translate" ng-show="group"></div> -->
		<div class="alert alert-success"  ng-bind-html-unsafe="'TRYOUT_BUYCREDIT'|translate" ng-show="tryout"></div>
	</div>

	<div class="preview-wrapper paper">
		<div class="blue-wood">
			<div id="preview" class="container">
			  <div id="canvas-wrapper">
			  	<canvas id="canvas"></canvas>
			  </div>
			  <div id="image-wrapper"></div>
			</div>
		</div>
	  <div class="container" ng-show="show_preview">
		  <div id="share">
		  	<a class="share-button" ng-click="share()">
					<img src="content/_global/images/share-facebook.png" alt="share on facebook" />
				</a>
		  </div>
	  	<h2 class="white-title">{{ 'SUBMIT_TITLE' | translate }}</h2>
	  	<div class="white-text" ng-bind-html-unsafe="'SUBMIT_DESCRIPTION'|translate"></div>

		  <div class="row" ng-show="show_preview">
		  	<div ng-hide="creative || tfl || open || tickets">
			  	<div ng-hide="fts_token">
				  	<div class="col-sm-3 col-sm-push-3">
				  		<a class="submit-button" ng-click="buyCredit()" ng-bind-html-unsafe="'SUBMIT_BUTTON' | translate"></a>
				  	</div>
				  	<div class="col-sm-4 col-sm-push-3">
				  		<div id="messages">
							  <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
							    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert(alert)">&times;</button>
							    {{ alert.message | translate }}
							  </div>
							</div>
				  		<form id="token-form" role="form" ng-submit="validate()">
						  	<div class="form-group clearfix">
									<label for='token' class="control-label">{{ 'HAVE_CODE' | translate }}</label>
									<input type='text' name='token' id='token' class='form-control required token' ng-model="token" />
									<button type="submit" class="btn btn-default">GO</button>
								</div>

							</form>
				  	</div>
				  </div>
				  <div ng-show="fts_token" class="centered">
				  	<a class="fts-submit-button" ng-click="validate()">
							<img src="content/_global/images/submit.png" alt="submit" />
						</a>
				  </div>
				</div>
				<div ng-show="creative || open || tickets">
					<form id="creative-submit-form" method="post" role="form" class="clearfix">
				    <div class="form-group user">
				      <label for="name" class="required">Name</label>
				      <input type="text" id="name" name="name" required ng-model="user.name" />
				    </div>
				    <div class="form-group user">
				      <label for="email" class="required">E-mail</label>
				      <input type="email" id="email" name="email" required ng-model="user.email" />
				    </div>
				    <input id="submit" type="submit" value="submit" class="hidden">
					  <a class="creative-submit-button" ng-click="submitForm()">
							<img src="content/_global/images/submit.png" alt="submit your design" />
						</a>
				  </form>
				</div>
				<div ng-show="tfl">
					<form id="tfl-submit-form" method="post" role="form" class="clearfix">
				    <div class="form-group user">
				      <label for="name" class="required">Name</label>
				      <input type="text" id="tfl-name" name="name" required ng-model="user.name" />
				    </div>
				    <div class="form-group user">
				      <label for="email" class="required">E-mail</label>
				      <input type="email" id="tfl-email" name="email" required ng-model="user.email" />
				    </div>
				    <input id="tfl-submit" type="submit" value="submit" class="hidden">
					  <a class="tfl-submit-button" ng-click="submitTflForm()">
							<img src="content/_global/images/submit.png" alt="submit your design" />
						</a>
				  </form>
				</div>
		  </div>
		</div>
	</div>


<!-- 	<div class="container">
		<div>
			<div class="well">
				<div class="special-request" ng-bind-html-unsafe="'SPECIAL_REQUEST'|translate"></div>
			</div>
		</div>
	</div>
	<div class="container vspace-full">
		<div class='row'>
			<div class="col-xs-12">
				<img src="content/_global/images/inspiration/alesso.jpg"/>
			</div>
		</div>
		<div class='row vspace-top-full'>
			<div class="col-xs-12">
				<img src="content/_global/images/inspiration/stephanie_specht.jpg"/>
			</div>
		</div>
		<div class='row vspace-top-full'>
			<div class="col-xs-12">
				<img src="content/_global/images/inspiration/tom_boonen.jpg"/>
			</div>
		</div>
	</div> -->
</div>
