<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '691661990866871',                        // App ID from the app dashboard
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(){
     // If we've already installed the SDK, we're done
     if (document.getElementById('facebook-jssdk')) {return;}

     // Get the first script element, which we'll use to find the parent node
     var firstScriptElement = document.getElementsByTagName('script')[0];

     // Create a new script element and set its id
     var facebookJS = document.createElement('script'); 
     facebookJS.id = 'facebook-jssdk';

     // Set the new script's source to the source of the Facebook JS SDK
     facebookJS.src = '//connect.facebook.net/en_US/all.js';

     // Insert the Facebook JS SDK into the DOM
     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
   }());
</script>

<div class="container visible-xs">
	<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
</div>
<div class="hidden-xs">
	<div class="container">
		<div id="messages">
		  <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
		    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert(alert)">&times;</button>
		    {{ alert.message | translate }}
		  </div>
		</div>
		<nav role="editor navigation" class="editor-navigation">
			<ul class="clearfix">
				<li ng-repeat="crumb in breadcrumbs" ng-class="crumb.class">
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" ng-click="goto(crumb.path)" ng-show="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" disabled="disabled" ng-hide="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
				</li>
			</ul>
		</nav>
		<div class="row">
			<div ng-class="(square && 'col-md-6') || 'col-md-12'">
				<div class="well">
					<h2>{{ 'PREVIEW_TITLE' | translate }}</h2>
					<div id="preview">
						<div id="image-wrapper"><img ng-src="{{filename}}" /></div>
					</div>
						<div class="row">
							<div class="col-xs-3">
								<!-- <button type="button" class="btn btn-default" ng-click="buyCredit()" ng-hide="group">{{ 'BUY_CREDIT' | translate }}</button> -->
								<!-- <a class="btn btn-primary social-icons" href="https://www.facebook.com/sharer/sharer.php?u={{filename}}" target="_blank" ng-bind-html-unsafe="'SHARE_ON_FACEBOOK'|translate"></a> -->
								<a class="btn btn-primary social-icon" ng-click="share()" ng-bind-html-unsafe="'SHARE_ON_FACEBOOK'|translate"></a>

							</div>
							<div class="col-xs-9">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="token">
								<span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="validate()">{{ 'VALIDATE' | translate }}</button>
					      </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>