<div class="container visible-xs">
	<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
</div>
<div class="hidden-xs grey-wood">
	<div class="container">
<!-- 		<nav role="editor navigation" class="editor-navigation">
			<ul class="clearfix">
				<li ng-repeat="crumb in breadcrumbs" ng-class="crumb.class">
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" ng-click="goto(crumb.path)" ng-show="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" disabled="disabled" ng-hide="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
				</li>
			</ul>
		</nav> -->
		<h2 class="blue-title">{{ 'UPLOAD_DESIGN' | translate }}</h2>
		<div class="example">
			<img src="content/_global/images/custom.png" />
			<div class="upload-text">{{ 'UPLOAD_TEXT' | translate }}</div>
			<div class="upload-extra" ng-bind-html-unsafe="'UPLOAD_EXTRA'|translate" ng-hide="small"></div>
			<div class="upload-extra" ng-bind-html-unsafe="'UPLOAD_EXTRA_SMALL'|translate" ng-show="small"></div>
			<div class="row examples">
				<div class="col-sm-4">
					<div class="not-good" ng-bind-html-unsafe="'UPLOAD_COLOR'|translate"></div>
					<img src="content/_global/images/example-color.png" />
				</div>
				<div class="col-sm-4">
					<div class="good" ng-bind-html-unsafe="'UPLOAD_OK'|translate"></div>
					<img src="content/_global/images/example-ok.png" />
				</div>
				<div class="col-sm-4">
					<div class="not-good" ng-bind-html-unsafe="'UPLOAD_GRADIENT'|translate"></div>
					<img src="content/_global/images/example-gradient.png" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hidden-xs blue">
	<div class="container">
		<div id="upload-design">
			<h2 class="white-title">{{ 'UPLOAD_TITLE_2' | translate }}</h2>
			<div class="row">
				<div class="col-sm-12">
					<!-- <div class="well"> -->
						<div id="messages">
						  <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
						    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert(alert)">&times;</button>
						    {{ alert.message | translate }}
						  </div>
						</div>
						<form id="upload-form" action="structure/_private/upload-design.php" method="post" enctype="multipart/form-data" role="form" class="clearfix">
				      <input type="text" class="hidden" name="type" required ng-model="design.type">
					    <div class="form-group file">
					      <label for="file" class="required">Choose file</label>
					      <input type="file" id="file" name="file" required accept="image/png" />
					    </div>
					    <div class="form-group user">
					      <label for="name" class="required">Name</label>
					      <input type="text" id="name" name="name" required ng-model="user.name" />
					    </div>
					    <div class="form-group user">
					      <label for="email" class="required">E-mail</label>
					      <input type="email" id="email" name="email" required ng-model="user.email" />
					    </div>
					    <input id="submit" type="submit" value="submit" class="hidden">
						  <a class="upload-button" ng-click="uploadDesign()">
								<img src="content/_global/images/upload-button.png" alt="upload your design" />
							</a>
					  </form>
						
				</div>
			</div>
		</div>
	</div>
