<div class="container visible-xs">
	<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
</div>
<div class="hidden-xs grey-wood">
	<div class="container">
<!-- 		<nav role="editor navigation" class="editor-navigation">
			<ul class="clearfix">
				<li ng-repeat="crumb in breadcrumbs" ng-class="crumb.class">
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" ng-click="goto(crumb.path)" ng-show="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
					<button type="button" title="{{crumb.title}}" class="btn btn-sm btn-default" disabled="disabled" ng-hide="crumb.path">{{crumb.title}} <span class="glyphicon glyphicon-chevron-right" ng-hide="$last"></span></a>
				</li>
			</ul>
		</nav> -->
		<h2 class="blue-title">{{ 'UPLOAD_DESIGN' | translate }}</h2>
		<div class="example">
			<img src="content/_global/images/custom.png" />
			<div class="upload-text">{{ 'UPLOAD_TEXT' | translate }}</div>
			<div class="upload-extra" ng-bind-html-unsafe="'UPLOAD_EXTRA'|translate" ng-hide="small"></div>
			<div class="upload-extra" ng-bind-html-unsafe="'UPLOAD_EXTRA_SMALL'|translate" ng-show="small"></div>
			<div class="row examples">
				<div class="col-sm-4">
					<div class="not-good" ng-bind-html-unsafe="'UPLOAD_COLOR'|translate"></div>
					<img src="content/_global/images/example-color.png" />
				</div>
				<div class="col-sm-4">
					<div class="good" ng-bind-html-unsafe="'UPLOAD_OK'|translate"></div>
					<img src="content/_global/images/example-ok.png" />
				</div>
				<div class="col-sm-4">
					<div class="not-good" ng-bind-html-unsafe="'UPLOAD_GRADIENT'|translate"></div>
					<img src="content/_global/images/example-gradient.png" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hidden-xs blue">
	<div class="container">
		<div id="upload-design">
			<h2 class="white-title">{{ 'UPLOAD_TITLE_2' | translate }}</h2>
			<div class="row">
				<div class="col-sm-12">
					<!-- <div class="well"> -->
						<div id="messages">
						  <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
						    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert(alert)">&times;</button>
						    {{ alert.message | translate }}
						  </div>
						</div>
						<form id="upload-form" action="structure/_private/upload-design.php" method="post" enctype="multipart/form-data" role="form" class="clearfix">
				      <input type="text" class="hidden" name="type" required ng-model="design.type">
					    <div class="form-group">
					      <label for="file" class="required">{{ 'UPLOAD_CHOOSE' | translate}}</label>
					      <input type="file" id="file" name="file" required accept="image/png">
					      <!-- <p class="help-block">{{ 'UPLOAD_HELP' | translate }}</p> -->
					    </div>
					    <input id="submit" type="submit" value="submit" class="hidden">
				    	<div id="progress">
						  	<!-- <span>Uploading...</span> -->
							  <div class="progress progess-striped">
							    <div class="progress-bar progress-info active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
							      0% Complete
						  	  </div>
						  	</div>
						  </div>
						  <a class="upload-button" ng-click="uploadDesign()" ng-bind-html-unsafe="'UPLOAD_SUBMIT'|translate"></a>
					    <!-- <button type="button" class="btn btn-primary pull-right" ng-click="uploadDesign()">{{ 'UPLOAD_DESIGN' | translate }}</button> -->
					  </form>
<!-- 					  <h2 class="center">{{'OR' | translate}}</h2>
					  <button type="button" class="btn btn-default btn-block" ng-click="edit()">{{ 'LINK_EDITOR' | translate }}</button> -->
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>

	<div class="preview-wrapper upload">
		<div class="blue-wood">
			<div id="preview" class="container">
			  <div id="upload-preview" ng-show="preview">
					<img ng-src="{{filename}}"></img>
				</div>
			</div>
		</div>
	  <div class="container" ng-show="preview">
		  <div id="share">
		  	<a class="share-button" ng-click="share()">
					<img src="content/_global/images/share-facebook.png" alt="share on facebook" />
				</a>
		  </div>
	  	<h2 class="white-title">{{ 'SUBMIT_TITLE' | translate }}</h2>
	  	<div class="white-text" ng-bind-html-unsafe="'SUBMIT_DESCRIPTION'|translate"></div>

		  <div class="row" ng-show="preview">
		  	<div class="col-sm-3 col-sm-push-3">
		  		<a class="submit-button" ng-click="buyCredit()" ng-bind-html-unsafe="'SUBMIT_BUTTON' | translate"></a>
		  	</div>
		  	<div class="col-sm-4 col-sm-push-3">
		  		<div id="token-messages">
					  <div ng-repeat="alert in token_alerts" class="alert alert-{{alert.type}} alert-dismissable">
					    <button type="button" class="close" aria-hidden="true" ng-click="closeTokenAlert(alert)">&times;</button>
					    {{ alert.message | translate }}
					  </div>
					</div>
		  		<form id="token-form" role="form">
				  	<div class="form-group clearfix">
							<label for='token' class="control-label">{{ 'HAVE_CODE' | translate }}</label>
							<input type='text' name='token' id='token' class='form-control required token' ng-model="token" />
							<button type="button" class="btn btn-default" ng-click="validate()">{{ 'UPLOAD_CODE_GO' | translate }}</button>
						</div>

					</form>
		  	</div>
		  </div>
		</div>
	</div>


</div>
