
<div id="upload-tfl">
	<div class="container visible-xs">
		<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
	</div>

	<div class="hidden-xs">
		<div class="tfl_upload container background">
			<!--<div class="row">-->
				<!--<div class="col-xs-12">-->
					<!--<div class="background">-->
						<div class="row">
							<div class="col-sm-8 col-sm-push-2">
								<h2 class="white-title">Upload your design</h2>
								<div id="technical-specs">
									<h3>{{ 'UPLOAD_CREATIVE_TECHNICAL_SPECS_TITLE' | translate }}</h3>
									<div class="row">
										<div class="col-xs-12">
											<h4 class="do">DO</h4>
											<div ng-bind-html-unsafe="'UPLOAD_CREATIVE_TECHNICAL_SPECS_DO_TFL'|translate" class="inline"></div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<h4 class="dont">DON'T</h4>
											<div ng-bind-html-unsafe="'UPLOAD_CREATIVE_TECHNICAL_SPECS_DONT_TFL'|translate" class="inline"></div>
										</div>
									</div>
									<div class="row">
										<img src="images/tfl/ruler.png" width="612" height="1" style='margin-top:30px;'>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div id="upload-wrapper">
									<div id="messages">
									  <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
									    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert(alert)">&times;</button>
										{{ alert.message | translate }}
									  </div>
									</div>
										<div class="col-sm-6 col-sm-push-3">
											<form id="upload-form" action="structure/_private/upload-design.php" method="post" enctype="multipart/form-data" role="form" class="clearfix">
												<input type="text" class="hidden" name="type" required ng-model="design.type">
												<div class="form-group file">
													<label for="file" class="required">Choose file</label>
													<div class="fileupload">
														<span>Upload</span>
														<input type="file" id="file" name="file" required accept="image/png" class="tfl_fileupload"/>
													</div>
													<input id="uploadFile" placeholder="No file selected." disabled="disabled" class="file_name"/>
												</div>
												<div class="form-group user">
													<label for="name" class="required">Name</label>
													<input type="text" id="name" name="name" required ng-model="user.name" />
												</div>
												<div class="form-group user">
													<label for="email" class="required">E-mail</label>
													<input type="email" id="email" name="email" required ng-model="user.email" />
												</div>
												<div id="progress">
									  				<!-- <span>Uploading...</span> -->
													<div class="progress progess-striped">
														<div class="progress-bar progress-info active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
															0% Complete
														</div>
													</div>
												</div>
												<input id="submit" type="submit" value="submit" class="hidden">
												<a class="upload-button" ng-click="uploadDesign()">Upload your design</a>
												<a class="return-button" href="#">Back</a>
											</form>
										</div>

									<div class="floater01"></div>
									<div class="floater02"></div>
								</div>
							</div>
						</div>
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#file').change(function(){
			$('#uploadFile').val( $(this).val() );
		});

		function goBack(){
			window.history.back();
		}

		$('.return-button').click( function(event){
			event.preventDefault();
			goBack();
		});
	});
</script>
