<div id="creative-wrapper">
	<div class="container visible-xs">
		<div class="well">{{ 'MOBILE_MESSAGE' | translate }}</div>
	</div>

	<div class="hidden-xs">
		<div class="container">
			<div id="upload-design">
				<div id="creative-header">
					<h2 id="creative-title"><img src="content/_global/images/show-your-creativity.png" alt="show your creativity!" /></h2>
					<div ng-bind-html-unsafe="'UPLOAD_CREATIVE_DESCRIPTION'|translate"></div>
					<div class="floater04"></div>
					<div id="creative-example"><img src="content/_global/images/example.png" alt="example" /></div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div id="create-your-own"><h2>
							<div ng-bind-html-unsafe="'CREATE_UPLOAD_YOUR_OWN'|translate"></div>
						</h2></div>
						<div class="editor">
							<a ng-click="gotoEditor()">Go to the editor</a>
						</div>
					</div>
					<div class="col-sm-6">
						<div id="technical-specs">
							<h3>{{ 'UPLOAD_CREATIVE_TECHNICAL_SPECS_TITLE' | translate }}</h3>
							<div class="row">
								<div class="col-sm-7">
									<h4 class="do">DO</h4>
									<div ng-bind-html-unsafe="'UPLOAD_CREATIVE_TECHNICAL_SPECS_DO'|translate"></div>
								</div>
								<div class="col-sm-5">
									<h4 class="dont">DONT</h4>
									<div ng-bind-html-unsafe="'UPLOAD_CREATIVE_TECHNICAL_SPECS_DONT'|translate"></div>
								</div>
							</div>
						</div>
						<div class="grey-arrow-down"> </div>
						<div class="floater03"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 school_logos">
						<div class="row1">
							<img src='images/colleges/scad.png' class="img01">
							<img src='images/colleges/sim.png' class="img02">
						</div>
						<div class="row2">
							<img src='images/colleges/esadmm.png' class="img03">
							<img src='images/colleges/nayang.png' class="img04">
							<img src='images/colleges/mexicoschool.jpg' class="img05">
						</div>

						<div class="row2">
							<img src='images/colleges/luca.png' class="img06">
							<img src='images/colleges/ivg.png' class="img08">
							<img src='images/colleges/university_greenwich.png' class="img07" style="display:none;">
						</div>
					</div>
					<div class="col-sm-6">
						<div id="upload-wrapper">
							<h2 class="white-title">Upload your design</h2>
							<div id="messages">
							  <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissable">
							    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert(alert)">&times;</button>
							    {{ alert.message | translate }}
							  </div>
							</div>
							<form id="upload-form" action="structure/_private/upload-design.php" method="post" enctype="multipart/form-data" role="form" class="clearfix">
					      <input type="text" class="hidden" name="type" required ng-model="design.type">
						    <div class="form-group file">
						      <label for="file" class="required">Choose file</label>
						      <input type="file" id="file" name="file" required accept="image/png" />
						    </div>
						    <div class="form-group user">
						      <label for="name" class="required">Name</label>
						      <input type="text" id="name" name="name" required ng-model="user.name" />
						    </div>
						    <div class="form-group user">
						      <label for="email" class="required">E-mail</label>
						      <input type="email" id="email" name="email" required ng-model="user.email" />
						    </div>
						    <input id="submit" type="submit" value="submit" class="hidden">
							  <a class="upload-button" ng-click="uploadDesign()">
									<img src="content/_global/images/upload-button.png" alt="upload your design" />
								</a>
						  </form>
						  <div class="floater01"></div>
						  <div class="floater02"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<img class="responsive-image" src="content/_global/images/creativeupload/examples.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
